<div
    *transloco="
        let t;
        scope: 'claim-modification-containers';
        read: 'claimModificationContainers.documentContainer.additionalInfo'
    "
    fxLayout="column"
    fxLayoutGap="10px"
>
    <mat-divider></mat-divider>
    <dsh-details-item *ngIf="additionalInfo?.staffCount" [title]="t('staffCount')">
        {{ additionalInfo?.staffCount }}
    </dsh-details-item>
    <div fxLayout="row" *ngIf="accountantInfo?.accountantInfoType !== 'WithChiefAccountant'">
        <dsh-details-item fxFlex="50" *ngIf="accountantInfo?.accountantInfoType" [title]="t('accountantTypeLabel')">
            <span
                *transloco="
                    let accountantTypes;
                    scope: 'claim-modification-containers';
                    read: 'claimModificationContainers.documentContainer.additionalInfo.accountantTypes'
                "
                >{{ accountantTypes(accountantInfo?.accountantInfoType) }}</span
            >
        </dsh-details-item>
        <dsh-details-item fxFlex="50" *ngIf="accountantInfo?.inn" [title]="t('accountantOrgInn')">
            {{ accountantInfo?.inn }}
        </dsh-details-item>
    </div>
    <div fxLayout="row">
        <dsh-details-item fxFlex="50" *ngIf="additionalInfo?.hasBeneficiary" [title]="t('hasBeneficiary')">
            {{ t('trueFlag') }}
        </dsh-details-item>
        <dsh-details-item
            fxFlex="50"
            *ngIf="additionalInfo?.hasLiquidationProcess"
            [title]="t('hasLiquidationProcess')"
        >
            {{ t('trueFlag') }}
        </dsh-details-item>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="row">
        <dsh-details-item
            fxFlex="50"
            *ngIf="additionalInfo?.monthOperationCount"
            [title]="t('monthOperationCountLabel')"
        >
            <span
                *transloco="
                    let monthOperationCountTypes;
                    scope: 'claim-modification-containers';
                    read: 'claimModificationContainers.documentContainer.additionalInfo.monthOperationCountTypes'
                "
                >{{ monthOperationCountTypes(additionalInfo.monthOperationCount) }}</span
            >
        </dsh-details-item>
        <dsh-details-item fxFlex="50" *ngIf="additionalInfo?.monthOperationSum" [title]="t('monthOperationSumLabel')">
            <span
                *transloco="
                    let monthOperationSumTypes;
                    scope: 'claim-modification-containers';
                    read: 'claimModificationContainers.documentContainer.additionalInfo.monthOperationSumTypes'
                "
                >{{ monthOperationSumTypes(additionalInfo.monthOperationSum) }}</span
            >
        </dsh-details-item>
    </div>
</div>
