<ng-container *transloco="let t; scope: 'payment-details'; read: 'paymentDetails.invoiceDetails'">
    <div *ngIf="invoice; else loading" fxLayout="column" fxLayoutGap="24px">
        <div class="payment-invoice-info-title mat-title" fxLayout fxLayoutAlign="space-between center">
            <div>
                {{ t('title') }}
                <span dshSecondaryTitle>#{{ invoice.id }}</span>
            </div>
        </div>
        <dsh-invoice-details [invoice]="invoice"></dsh-invoice-details>
    </div>
    <ng-template #loading>
        <div class="payment-invoice-info-title mat-title" fxLayout fxLayoutAlign="space-between center">
            <div>
                {{ t('title') }}
            </div>
        </div>
        <div *transloco="let c">
            <div class="dsh-body-1">{{ c('loading') }}</div>
        </div>
    </ng-template>
</ng-container>
