<ng-container *transloco="let t; scope: 'payment-details'; read: 'paymentDetails.invoiceDetails'">
    <div class="payment-invoice-info-title mat-title" fxLayout fxLayoutAlign="space-between center">
        <div>
            {{ t('title') }}
            <span dshSecondaryTitle>#{{ invoice.id }}</span>
        </div>
        <!--        TODO: change routing implementation to remove this strange links -->
        <a
            [routerLink]="['../../../../../invoices']"
            [fragment]="invoice.id"
            [queryParams]="{ invoiceIDs: invoice.id }"
            queryParamsHandling="merge"
            target="_blank"
        >
            <mat-icon class="dsh-forward-icon" svgIcon="launch"></mat-icon>
        </a>
    </div>
    <dsh-invoice-details [invoice]="invoice"></dsh-invoice-details>
</ng-container>
