<ng-container *transloco="let t; scope: 'onboarding'; read: 'onboarding.finishOnboardingDialog'">
    <h2 class="mat-dialog-title">{{ t.title }}</h2>
    <mat-dialog-content fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="column" fxLayoutGap="10px">
            <div class="mat-body-2">
                {{ t.description1 }}
            </div>
            <div class="mat-body-1">- {{ t.passport }};</div>
            <div class="mat-body-1">- {{ t.registrationDocument }}.</div>
        </div>
        <div class="mat-body-2">
            {{ t.description2 }}
        </div>
    </mat-dialog-content>
    <div class="leave-dialog-actions">
        <button fxFlex dsh-button color="accent" (click)="close()">{{ t.close }}</button>
    </div>
</ng-container>
