$dsh-status-label-padding: 0 0 0 4px;
$dsh-status-icon-size: 8px;

:host {
    display: inline-block;
}

.dsh-status {
    &-icon {
        display: inline-block;
        border-radius: 50%;
        width: $dsh-status-icon-size;
        height: $dsh-status-icon-size;
    }
    &-label {
        padding: $dsh-status-label-padding;
    }
}
