<mat-form-field>
    <mat-label>{{ label }}</mat-label>
    <input [required]="required" type="text" matInput [formControl]="formControl" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayWith">
        <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option.value">
            {{ option.label }}
        </mat-option>
    </mat-autocomplete>
    <button *ngIf="formControl?.value" dsh-icon-button matSuffix (click)="clearValue()">
        <mat-icon svgIcon="cross"></mat-icon>
    </button>
</mat-form-field>
