<ng-container *transloco="let t; scope: 'payment-details'; read: 'paymentDetails.holdDetails'">
    <dsh-base-dialog [title]="t('cancelTitle')" (cancel)="decline()">
        <form [formGroup]="form">
            <dsh-max-length-input
                class="create-refund-dialog-reason"
                formControlName="reason"
                [label]="t('reason')"
                [maxLength]="maxReasonLength"
                required
            ></dsh-max-length-input>
        </form>
        <ng-container dshBaseDialogActions>
            <button
                *transloco="let c"
                dsh-button
                color="accent"
                [disabled]="form.pristine || form.invalid"
                (click)="confirm()"
            >
                {{ c('confirm') }}
            </button>
        </ng-container>
    </dsh-base-dialog>
</ng-container>
