<dsh-document-container-panel
    *transloco="
        let t;
        scope: 'claim-modification-containers';
        read: 'claimModificationContainers.documentContainer.individualEntityPanel'
    "
    [title]="t.title"
>
    <div fxLayout="column" fxLayoutGap="20px">
        <dsh-russian-private-entity-sub-container
            [russianPrivateEntity]="individualEntity?.russianPrivateEntity"
        ></dsh-russian-private-entity-sub-container>
        <mat-divider></mat-divider>
        <dsh-identity-document-sub-container
            [identityDocument]="individualEntity?.identityDocument"
        ></dsh-identity-document-sub-container>
        <mat-divider></mat-divider>
        <div fxLayout="row" *ngIf="individualEntity?.pdlCategory || individualEntity?.pdlRelationDegree">
            <dsh-details-item fxFlex="50" *ngIf="individualEntity?.pdlCategory" [title]="t.pdlCategory">
                {{ t.pdlCategoryFlag }}
            </dsh-details-item>
            <dsh-details-item fxFlex="50" *ngIf="individualEntity?.pdlRelationDegree" [title]="t.pdlRelationDegree">
                {{ individualEntity?.pdlRelationDegree }}
            </dsh-details-item>
        </div>
    </div>
</dsh-document-container-panel>
