<h1 class="mat-headline">Детали заявки #{{ (claim$ | async)?.id }}</h1>

<dsh-card>
    <dsh-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <h2 class="mat-title">Заявка на подключение</h2>
            <h2 class="mat-title">{{ claimsService.getLocalizedClaimStatus((claim$ | async)?.status) }}</h2>
        </div>
        <nav dsh-tab-nav-bar>
            <a
                dsh-tab-link
                *ngFor="let link of links"
                [routerLink]="'/claim/' + (claim$ | async)?.id + '/' + link.path"
                [active]="router.url.includes('/claim/' + (claim$ | async)?.id + '/' + link.path)"
            >
                {{ link.label | lc }}
            </a>
        </nav>
        <div>
            <router-outlet></router-outlet>
        </div>
    </dsh-card-content>
    <dsh-card-actions fxLayout="row" fxLayoutAlign="space-between">
        <button dsh-stroked-button color="warn">Отозвать</button>
        <button dsh-button color="accent">Отправить на рассмотрение</button>
    </dsh-card-actions>
</dsh-card>
