<div
    *transloco="let t; scope: 'organizations'; read: 'organizations.organizationDetails.member'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div class="dsh-headline">{{ member?.userEmail }}</div>

    <mat-divider></mat-divider>
    <div fxLayout fxLayoutAlign="space-between">
        <div class="dsh-title">{{ t('titles.roles') }}</div>
        <button (click)="editRoles()" dsh-button color="accent">{{ t('actions.editRoles') }}</button>
    </div>
    <dsh-organization-roles [roles]="member?.roles" [hasAdminAccess]="hasAdminAccess$ | async"></dsh-organization-roles>

    <mat-divider></mat-divider>
    <div class="dsh-title">{{ t('titles.actions') }}</div>
    <div>
        <button (click)="removeFromOrganization()" dsh-button color="warn">
            {{ t('actions.removeFromOrganization') }}
        </button>
    </div>
</div>
