<mat-form-field>
    <mat-label *ngIf="label">{{ label }}</mat-label>
    <input
        type="text"
        matInput
        [formControl]="innerControl"
        [placeholder]="placeholder"
        [matAutocomplete]="autocomplete"
        [required]="required"
    />
    <mat-autocomplete #autocomplete="matAutocomplete" (opened)="panelOpened()">
        <cdk-virtual-scroll-viewport
            [itemSize]="itemSize"
            [style.height.px]="listSize"
            [minBufferPx]="itemSize * (listMultiplier + 1)"
            [maxBufferPx]="itemSize * (listMultiplier * 2 + 1)"
        >
            <mat-option
                *cdkVirtualFor="let option of filteredOptions"
                [value]="option.label"
                (onSelectionChange)="selectionChanged(option)"
            >
                {{ option.label }}
            </mat-option>
        </cdk-virtual-scroll-viewport>
    </mat-autocomplete>
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    <mat-error *ngIf="control.invalid">{{ getErrorMessage() }}</mat-error>
</mat-form-field>
