<dsh-card fxLayout="column" [fxLayoutGap]="layoutGap">
    <dsh-card-title>
        <div fxLayout fxLayout.xs="column" fxLayoutAlign="space-between stretch" fxLayoutGap="0" fxLayoutGap.xs="10px">
            <div fxFlex.xs fxFlex="none" class="dsh-payment-details-refunds-title">
                {{ localePath + '.title' | lc }}
            </div>
            <button fxFlex.xs="100" fxFlex="none" dsh-stroked-button color="accent">
                {{ localePath + '.createRefund' | lc }}
            </button>
        </div>
    </dsh-card-title>
    <dsh-card-content fxLayout="column">
        <ng-container *ngFor="let refund of refunds$ | async">
            <dsh-refund-item [refund]="refund"></dsh-refund-item>
            <div class="dsh-payment-details-refunds-divider"></div>
        </ng-container>
        <div *ngIf="(refunds$ | async).length === 0">
            {{ localePath + '.noRefunds' | lc }}
        </div>
        <button
            *ngIf="hasMoreRefunds$ | async"
            class="dsh-payment-details-refunds-show-more-refunds"
            dsh-button
            (click)="fetchMore()"
        >
            {{ 'common.showMore' | lc }}
        </button>
    </dsh-card-content>
</dsh-card>
