<dsh-card>
    <dsh-card-title>
        <div fxLayout fxFlex="100" fxLayoutAlign="none center">
            <div class="dsh-title" fxFlex="50">{{ 'sections.paymentDetails.refunds.title' | lc }}</div>
            <div fxFlex="50" fxLayoutAlign="end none">
                <button dsh-stroked-button color="accent">
                    {{ 'sections.paymentDetails.refunds.createRefund' | lc }}
                </button>
            </div>
        </div>
    </dsh-card-title>
    <dsh-card-content>
        <div class="dsh-container" fxLayout="column" fxFlex="100">
            <ng-container *ngFor="let refund of refunds">
                <dsh-refund-item [refund]="refund"></dsh-refund-item>
                <div class="dsh-divider"></div>
            </ng-container>
            <div class="dsh-show-more" fxFlex="100">
                <button dsh-button fxFlex="100">{{ 'sections.paymentDetails.refunds.showMore' | lc }}</button>
            </div>
        </div>
    </dsh-card-content>
</dsh-card>
