<ng-container *transloco="let t; scope: 'withdrawals'; read: 'withdrawals.filters'">
    <form [formGroup]="form" gdColumns.gt-sm="1fr 1fr" gdColumns="1fr" gdGap="0 24px">
        <mat-form-field>
            <mat-label>{{ t('withdrawalID') }}</mat-label>
            <input matInput type="text" formControlName="withdrawalID" />
        </mat-form-field>
        <dsh-wallet-autocomplete-field
            [label]="t('walletID')"
            formControlName="walletID"
        ></dsh-wallet-autocomplete-field>
        <mat-form-field>
            <mat-label>{{ t('identityID') }}</mat-label>
            <input matInput type="text" formControlName="identityID" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ t('destinationID') }}</mat-label>
            <input matInput type="text" formControlName="destinationID" />
        </mat-form-field>
    </form>
</ng-container>
