<dsh-base-dialog
    *transloco="let t; scope: 'organizations'; read: 'organizations.renameOrganizationDialog'"
    [title]="t('title')"
    (cancel)="cancel()"
>
    <form fxLayout="column" [formGroup]="form">
        <mat-form-field>
            <mat-label>{{ t('name') }}</mat-label>
            <input formControlName="name" matInput type="text" autocomplete="off" required />
        </mat-form-field>
    </form>
    <ng-container dshBaseDialogActions>
        <button dsh-button color="accent" [disabled]="form.invalid || (inProgress$ | async)" (click)="update()">
            {{ t('save') }}
        </button>
    </ng-container>
</dsh-base-dialog>
