<div
    fxLayout
    fxLayoutGap="10px"
    fxLayoutAlign.gt-sm=" center"
    fxLayout.lt-md="column"
    fxLayoutGap.lt-md="20px"
    *transloco="let p; scope: 'payouts'; read: 'payouts.panel'"
>
    <div fxFlex>
        <span class="mat-headline dsh-common-info-amount">
            {{ payout?.amount | fromMinor | currency: payout?.currency }}
        </span>
    </div>
    <div fxFlex="66.66">
        <dsh-details-item [title]="p.shop">
            {{ shopName || payout?.shopID }}
        </dsh-details-item>
    </div>
</div>
