<ng-container *transloco="let t; scope: 'deposits'; read: 'deposits.filter'">
    <div fxLayout="column" fxLayoutGap="24px">
        <div class="dsh-title" fxFlex>{{ t('depositStatus') }}</div>
        <dsh-expandable-radio-group fxFlex [control]="control" [choices]="statuses" anyResponse>
            <ng-container *ngFor="let status of statuses">
                <ng-template [dshExpandableRadioGroupItem]="status">
                    {{ status | depositStatusName }}
                </ng-template>
            </ng-container>
        </dsh-expandable-radio-group>
    </div>
</ng-container>
