<div fxLayout="column" [fxLayoutGap]="layoutGap" *transloco="let t; scope: 'webhook'; read: 'webhook'">
    <div
        fxLayout.lt-md="column"
        fxLayout="row"
        fxLayoutAlign.lt-md="center stretch"
        fxLayoutAlign="space-between center"
        [fxLayoutGap]="layoutGap"
    >
        <div class="mat-caption">
            {{ t.description }}
        </div>
        <button dsh-stroked-button color="accent" (click)="createWebhook()" fxFlex.gt-sm="25">{{ t.attach }}</button>
    </div>

    <div fxLayout="column" [fxLayoutGap]="layoutGap">
        <dsh-webhook-card *ngFor="let webhook of webhooks$ | async" [webhook]="webhook"></dsh-webhook-card>
    </div>
</div>
