<form
    *transloco="let p; scope: 'create-shop'; read: 'createShop.russianLegalEntity.payoutTool'"
    fxLayout="column"
    fxLayoutGap="16px"
    [formGroup]="form"
>
    <dsh-shop-autocomplete-field
        required
        formControlName="bankShop"
        [label]="p('existing.label')"
    ></dsh-shop-autocomplete-field>
    <ng-container *transloco="let t">
        <div *ngIf="isLoading; else hasError ? error : loaded" class="dsh-body-1">{{ t('loading') }}</div>
        <ng-template #error>
            <div class="dsh-body-1">{{ t('errors.common') }}</div>
        </ng-template>
        <ng-template #loaded>
            <dsh-payout-tool-details
                *ngIf="payoutTool"
                [payoutToolDetails]="payoutTool.details"
            ></dsh-payout-tool-details>
        </ng-template>
    </ng-container>
</form>
