<form
    *transloco="let p; scope: 'create-shop'; read: 'createShop.russianLegalEntity.payoutTool'"
    fxLayout="column"
    fxLayoutGap="16px"
    [formGroup]="form"
>
    <dsh-autocomplete-virtual-scroll
        required
        [label]="p('existing.label')"
        [control]="innerShopControl"
        [optionsList]="shopsList$ | async"
        [scrollableWindow]="contentWindow"
    >
    </dsh-autocomplete-virtual-scroll>
    <dsh-payout-tool-details *ngIf="payoutTool" [payoutToolDetails]="payoutTool.details"></dsh-payout-tool-details>
</form>
