@use '~@angular/material' as mat;

@mixin dsh-feedback-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    $contrast-text: map-get($foreground, contrast-text);

    .dsh-feedback {
        &,
        &:hover {
            background: mat.get-color-from-palette($primary, default);
            color: $contrast-text;
        }
    }
}
