<div fxLayout="column" fxLayoutGap="16px">
    <dsh-payments-row-header></dsh-payments-row-header>
    <ng-container *ngIf="isEmptyList && !isLoading; else panels">
        <dsh-empty-search-result></dsh-empty-search-result>
    </ng-container>
</div>

<ng-template #panels>
    <dsh-accordion
        fxLayout="column"
        fxLayoutGap="16px"
        [expanded]="expandedId"
        (expandedChange)="expandedIdChange($event)"
    >
        <dsh-accordion-item #accordionItem *ngFor="let item of list; index as i">
            <dsh-payments-row [payment]="item"></dsh-payments-row>
            <ng-template dshLazyPanelContent>
                <dsh-card fxFlexFill fxLayout="column" fxLayoutGap="32px">
                    <dsh-accordion-item-content-header (collapse)="accordionItem.collapse($event)">
                        <dsh-payment-detail-header
                            [order]="i + 1"
                            [changedDate]="item.statusChangedAt"
                        ></dsh-payment-detail-header>
                    </dsh-accordion-item-content-header>
                    <dsh-payment-detail-info [payment]="item"></dsh-payment-detail-info>
                </dsh-card>
            </ng-template>
        </dsh-accordion-item>
    </dsh-accordion>
    <ng-container *ngIf="isLoading">
        <div fxLayout fxFlexAlign="center">
            <dsh-spinner></dsh-spinner>
        </div>
    </ng-container>
    <dsh-show-more-panel *ngIf="hasMore && !isLoading" (showMore)="showMoreElements()"> </dsh-show-more-panel>
</ng-template>
