<ng-container *transloco="let t; read: 'confirmActionDialog'">
    <h2 class="dsh-headline">{{ t.subheading }}</h2>
    <div
        class="dialog-actions"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between stretch"
        fxLayoutGap="24px"
        fxLayoutGap.xs="16px"
    >
        <button fxFlex fxFlex.xs="none" dsh-stroked-button color="warn" (click)="cancel()">
            {{ t.cancel }}
        </button>
        <button fxFlex fxFlex.xs="none" dsh-button color="accent" (click)="confirm()">
            {{ t.confirm }}
        </button>
    </div>
</ng-container>
