@import '~@angular/material/theming';

@mixin dsh-details-secondary-title-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $gray: map-get($theme, gray);

    .secondary-title {
        color: map-get($gray, 500);
    }
}
