<div *transloco="let t; scope: 'claim-search'; read: 'claimSearch'" [formGroup]="searchForm" fxLayout="row"
     [fxLayoutGap]="layoutGap">
    <mat-form-field fxFlex>
        <mat-label>{{ t.claimStatus }}</mat-label>
        <mat-select *transloco="let c" formControlName="claimStatus">
            <mat-option>
                {{ c.any }}
            </mat-option>
            <mat-option *ngFor="let status of statuses" [value]="status">
                {{ c.claimStatus[status] }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex>
        <mat-label>{{ t.claimID }}</mat-label>
        <input matInput type="text" formControlName="claimID"/>
    </mat-form-field>
</div>
