<dsh-base-dialog
    *transloco="let t; scope: 'organizations'; read: 'organizations.selectRoleDialog'"
    [title]="t('title')"
    (cancel)="cancel()"
>
    <mat-radio-group [formControl]="roleControl">
        <dsh-nested-table [rowsGridTemplateColumns]="rowsGridTemplateColumns">
            <dsh-nested-table-row *transloco="let r; scope: 'organizations'; read: 'organizations.roles'">
                <dsh-nested-table-col></dsh-nested-table-col>
                <dsh-nested-table-col *ngFor="let role of roles" fxLayoutAlign="center center">
                    <span class="dsh-body-2 header">{{ r(role) }}</span>
                </dsh-nested-table-col>
            </dsh-nested-table-row>
            <dsh-nested-table-row>
                <dsh-nested-table-col></dsh-nested-table-col>
                <dsh-nested-table-col *ngFor="let role of roles">
                    <mat-radio-button [value]="role"></mat-radio-button>
                </dsh-nested-table-col>
            </dsh-nested-table-row>

            <dsh-nested-table-row *ngFor="let access of accesses">
                <dsh-nested-table-col>
                    <span [class.dsh-body-2]="access.isHeader">{{ t('accesses.' + access.name) }}</span>
                </dsh-nested-table-col>
                <dsh-nested-table-col *ngFor="let role of roles" fxLayoutAlign="center center">
                    <dsh-selection
                        *ngIf="access.availableRoles !== undefined"
                        [selected]="access.availableRoles.includes(role)"
                    ></dsh-selection>
                </dsh-nested-table-col>
            </dsh-nested-table-row>
        </dsh-nested-table>
    </mat-radio-group>
    <ng-container dshBaseDialogActions>
        <button dsh-button color="accent" [disabled]="roleControl.invalid" (click)="select()">
            {{ t('select') }}
        </button>
    </ng-container>
</dsh-base-dialog>
