$dsh-card-padding: 20px !default;
$dsh-card-border-radius: 4px !default;

%dsh-card-section-base {
    display: block;
}

.dsh-card {
    @extend %dsh-card-section-base;
    position: relative;
    padding: $dsh-card-padding;
    border-radius: $dsh-card-border-radius;
}

.dsh-card-content {
    @extend %dsh-card-section-base;
}

.dsh-card-actions {
    @extend %dsh-card-section-base;
    margin-left: -$dsh-card-padding / 2;
    margin-right: -$dsh-card-padding / 2;
    margin-bottom: -$dsh-card-padding / 2;
    padding-top: $dsh-card-padding;
}
