@use '~@angular/material' as mat;

@mixin set-line-stroke-color($color) {
    line {
        stroke: $color;
    }
}

@mixin set-circle-fill-color($color) {
    circle {
        fill: $color;
    }
}

@mixin set-circle-stroke-color($color) {
    circle {
        stroke: $color;
    }
}

@mixin set-path-stroke-color($color) {
    path {
        stroke: $color;
    }
}

@mixin set-path-fill-color($color) {
    path {
        fill: $color;
    }
}

@mixin set-rect-fill-color($color) {
    rect {
        fill: $color;
    }
}

@mixin set-rect-stroke-color($color) {
    rect {
        stroke: $color;
    }
}

@mixin dsh-colored-icon-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);

    $default-color: map-get($foreground, text);
    $primary-color: mat.get-color-from-palette($primary, default);
    $contrast-text: map-get($foreground, contrast-text);

    .dsh-colored-icon {
        &-pie-chart {
            &-default {
                svg {
                    @include set-circle-stroke-color($default-color);
                    @include set-rect-fill-color($default-color);
                }
            }

            &-primary {
                svg {
                    @include set-circle-stroke-color($primary-color);
                    @include set-rect-fill-color($primary-color);
                }
            }
        }

        &-table-chart {
            &-default {
                svg {
                    @include set-path-stroke-color($default-color);
                    @include set-rect-fill-color($default-color);
                }
            }

            &-primary {
                svg {
                    @include set-path-stroke-color($primary-color);
                    @include set-rect-fill-color($primary-color);
                }
            }
        }

        &-output,
        &-input {
            &-default {
                svg {
                    @include set-line-stroke-color($default-color);
                    @include set-path-fill-color($default-color);
                    @include set-rect-stroke-color($default-color);
                }
            }

            &-primary {
                svg {
                    @include set-line-stroke-color($primary-color);
                    @include set-path-fill-color($primary-color);
                    @include set-rect-stroke-color($primary-color);
                }
            }
        }

        &-description {
            &-default {
                svg {
                    @include set-path-fill-color($default-color);
                    @include set-rect-stroke-color($default-color);
                }
            }

            &-primary {
                svg {
                    @include set-path-fill-color($primary-color);
                    @include set-rect-stroke-color($primary-color);
                }
            }
        }

        &-build {
            &-default {
                svg {
                    @include set-path-stroke-color($default-color);
                }
            }

            &-primary {
                svg {
                    @include set-path-stroke-color($primary-color);
                }
            }
        }

        &-wallet-menu {
            &-default {
                svg {
                    @include set-rect-stroke-color($default-color);
                    @include set-circle-fill-color($default-color);
                }
            }

            &-primary {
                svg {
                    @include set-rect-stroke-color($primary-color);
                    @include set-circle-fill-color($primary-color);
                }
            }
        }

        &-toggles {
            &-default {
                svg {
                    @include set-path-fill-color($default-color);
                }
            }

            &-primary {
                svg {
                    @include set-path-fill-color($primary-color);
                }
            }
        }

        &-cross {
            &-contrast-text {
                svg {
                    @include set-path-fill-color($contrast-text);
                    @include set-rect-fill-color($contrast-text);
                }
            }

            &-default {
                svg {
                    @include set-path-fill-color($default-color);
                    @include set-rect-fill-color($default-color);
                }
            }
        }
    }
}
