@import '~@angular/material/theming';

@mixin set-line-color($color) {
    line {
        stroke: $color;
    }
}

@mixin set-circle-color($color) {
    circle {
        stroke: $color;
    }
}

@mixin set-path-color($color) {
    path {
        stroke: $color;
    }
}

@mixin set-rect-color($color) {
    rect {
        fill: $color;
    }
}

@mixin dsh-colored-icon-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);

    $default-color: map-get($foreground, text);
    $primary-color: mat-color($primary, 400);
    $contrast-text: map-get($foreground, contrast-text);

    .dsh-colored-icon {
        &-pie-chart {
            &-default {
                svg {
                    @include set-circle-color($default-color);
                    @include set-rect-color($default-color);
                }
            }

            &-primary {
                svg {
                    @include set-circle-color($primary-color);
                    @include set-rect-color($primary-color);
                }
            }
        }

        &-table-chart {
            &-default {
                svg {
                    @include set-path-color($default-color);
                    @include set-rect-color($default-color);
                }
            }

            &-primary {
                svg {
                    @include set-path-color($primary-color);
                    @include set-rect-color($primary-color);
                }
            }
        }

        &-output,
        &-input {
            &-default {
                svg {
                    @include set-line-color($default-color);
                    @include set-path-color($default-color);
                    @include set-rect-color($default-color);
                }
            }

            &-primary {
                svg {
                    @include set-line-color($primary-color);
                    @include set-path-color($primary-color);
                    @include set-rect-color($primary-color);
                }
            }
        }

        &-description {
            &-default {
                svg {
                    @include set-path-color($default-color);
                    @include set-rect-color($default-color);
                }
            }

            &-primary {
                svg {
                    @include set-path-color($primary-color);
                    @include set-rect-color($primary-color);
                }
            }
        }

        &-build {
            &-default {
                svg {
                    @include set-path-color($default-color);
                }
            }

            &-primary {
                svg {
                    @include set-path-color($default-color);
                }
            }
        }

        &-wallet-menu {
            &-default {
                svg {
                    @include set-rect-color($default-color);
                    @include set-circle-color($default-color);
                }
            }

            &-primary {
                svg {
                    @include set-rect-color($primary-color);
                    @include set-circle-color($primary-color);
                }
            }
        }

        &-cross {
            &-contrast-text {
                svg {
                    @include set-path-color($contrast-text);
                    @include set-rect-color($contrast-text);
                }
            }

            &-default {
                svg {
                    @include set-path-color($default-color);
                    @include set-rect-color($default-color);
                }
            }
        }
    }
}
