$dsh-size-md: 24px;
$dsh-size-lg: 32px;

:host {
    display: flex;
}

.dsh-icon-md {
    height: $dsh-size-md;
    width: $dsh-size-md;
}

.dsh-icon-lg {
    height: $dsh-size-lg;
    width: $dsh-size-lg;
}
