<div
    *transloco="let t; scope: 'main'; read: 'main.header'"
    class="dsh-header-container"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <h1 class="dsh-display-1">{{ t.dashboard }}</h1>
    <a class="dsh-subheading-1" [href]="oldDashboardEndpoint" target="_blank">{{ t.returnToTheOldVersion }}</a>
    <div fxLayout fxLayoutGap="24px">
        <a class="dsh-caption" [href]="docsEndpoint" target="_blank">{{ t.documentation }}</a>
        <a class="dsh-caption" [href]="supportMailto">{{ t.support }}</a>
    </div>
</div>
<div fxLayout fxLayout.lt-md="column" fxLayoutGap="32px">
    <dsh-payments fxFlex="50" fxFlex.lt-md="100"></dsh-payments>
    <dsh-wallets fxFlex="50" fxFlex.lt-md="100" *ngIf="hasWallets$ | async"></dsh-wallets>
</div>
