<div class="container">
    <dsh-toolbar>
        <div fxLayout>
            <dsh-brand fxFlex="100px"></dsh-brand>
            <dsh-actionbar fxFlex="grow" fxLayoutAlign="end"></dsh-actionbar>
        </div>
    </dsh-toolbar>
    <div class="content">
        <button (click)="create()" dsh-button color="primary">Создать организацию</button>
        <button (click)="table()" dsh-stroked-button color="primary">Таблица</button>
        <button (click)="analytics()" dsh-button color="accent">Графики</button>
        <button (click)="details()" dsh-stroked-button color="accent">Детали</button>
        <button (click)="downloadDocument()" dsh-button color="warn">Скачать документ</button>
        <button dsh-stroked-button color="warn">kek</button>
        <button dsh-button disabled color="accent">Disabled</button>
        <button dsh-stroked-button disabled color="accent">Disabled</button>
    </div>
</div>
main
