<div class="header-container" fxLayout="column" fxLayoutGap="20px">
    <h1 class="mat-display-1 dsh-main-section-text title">{{ 'PRIVATE_OFFICE' | lc }}</h1>
    <div fxLayout fxLayoutGap="20px">
        <a class="mat-caption dsh-main-section-text link" [href]="docsEndpoint" target="_blank">{{
            'DOCUMENTATION' | lc
        }}</a>
        <a class="mat-caption dsh-main-section-text link" [href]="supportMailto">{{ 'SUPPORT' | lc }}</a>
        <!-- Remove operations link after payment widget implementation  -->
        <a class="mat-caption dsh-main-section-text link" routerLink="/operations">{{ 'OPERATIONS' | lc }}</a>
    </div>
</div>
