<div class="container" fxLayout="column">
    <h1 class="mat-headline">{{ 'sections.onboarding.headline' | lc }}</h1>
    <div fxLayout fxLayoutGap="20px">
        <dsh-card fxFlex fxLayout="column" fxLayoutGap="10px">
            <h2 class="mat-title">{{ title }}</h2>
            <dsh-card-content>
                <router-outlet></router-outlet>
            </dsh-card-content>
            <dsh-step-navigation></dsh-step-navigation>
        </dsh-card>
        <div fxLayout="column" fxFlex="320px" fxLayoutGap="20px" fxHide.lt-sm="true">
            <dsh-step-card
                [stepFlow]="stepFlow$ | async"
                [activeStep]="activeStep$ | async"
                (stepSelected)="stepSelected($event)"
            ></dsh-step-card>
            <dsh-help-card></dsh-help-card>
        </div>
    </div>
</div>
