<div fxLayout="column" fxLayoutGap="32px">
    <dsh-refunds-search-filters
        [initParams]="params$ | async"
        [shops]="shops$ | async"
        (searchParamsChanges)="searchParamsChanges($event)"
    ></dsh-refunds-search-filters>
    <div fxLayout="column" fxLayoutGap="16px">
        <dsh-refunds-list
            [expandedId]="expandedId$ | async"
            (expandedIdChange)="expandedIdChange($event)"
            [refunds]="refunds$ | async"
            [lastUpdated]="lastUpdated$ | async"
            (refreshData)="refresh()"
        ></dsh-refunds-list>
        <dsh-show-more-panel
            *ngIf="hasMore$ | async"
            [isLoading]="isLoading$ | async"
            (showMore)="fetchMore()"
        ></dsh-show-more-panel>
    </div>
    <dsh-empty-search-result
        *ngIf="!(fetchErrors$ | async) && (refunds$ | async)?.length === 0"
    ></dsh-empty-search-result>
    <dsh-spinner *ngIf="isLoading$ | async" fxLayoutAlign="center"></dsh-spinner>
</div>
