<dsh-row
    *transloco="let t; scope: 'deposits'; read: 'deposits.headerRow'"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="24px"
    color="primary"
>
    <dsh-row-header-label fxFlex="15">{{ t('amount') }}</dsh-row-header-label>
    <dsh-row-header-label fxFlex="15">{{ t('status') }}</dsh-row-header-label>
    <dsh-row-header-label fxFlex="30">{{ t('createdAt') }}</dsh-row-header-label>
    <dsh-row-header-label fxFlex="20">{{ t('walletName') }}</dsh-row-header-label>
</dsh-row>
