<div
    fxLayout="column"
    fxLayoutGap="24px"
    *transloco="let t; scope: 'operations'; read: 'operations.refunds.paymentInfo'"
>
    <div fxLayout fxLayoutGap="16px" fxLayoutAlign="space-between">
        <div class="mat-title">{{ t('title') }}</div>
    </div>
    <ng-container *ngIf="isLoading$ | async; else afterLoading">
        <div *transloco="let c" class="dsh-body-1">{{ c('loading') }}</div>
    </ng-container>
    <ng-template #afterLoading>
        <div *ngIf="errorOccurred$ | async; else content" class="dsh-body-1">{{ t('error') }}</div>
    </ng-template>
    <ng-template #content>
        <dsh-payment-details *ngIf="payment$ | async as payment" [payment]="payment"></dsh-payment-details>
    </ng-template>
</div>
