@import '~@angular/material/theming';

@mixin dsh-limited-list-theme($theme) {
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    .dsh-limited-list {
        &-title {
            color: mat-color($foreground, secondary-text);
        }

        &-show-more {
            color: mat-color($primary, 400);
        }
    }
}
