@use '~@angular/material' as mat;

@mixin dsh-limited-list-theme($theme) {
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    .dsh-limited-list {
        &-title {
            color: mat.get-color-from-palette($foreground, secondary-text);
        }

        &-show-more {
            color: mat.get-color-from-palette($primary, default);
        }
    }
}
