<ng-container *transloco="let t">
    <ng-container *transloco="let d; scope: 'invoices'; read: 'invoices.createDialog'">
        <h1 class="mat-title">{{ d.title }}</h1>
        <div fxLayout="column" fxLayoutGap="20px" [formGroup]="form">
            <div fxLayout="column">
                <mat-form-field>
                    <mat-label>{{ d.form.shop }}</mat-label>
                    <mat-select formControlName="shopID" required>
                        <mat-option>
                            {{ t.any }}
                        </mat-option>
                        <mat-option *ngFor="let shopInfo of shopsInfo$ | async" [value]="shopInfo.shopID">
                            {{ shopInfo.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ d.form.dueDate }}</mat-label>
                    <input required matInput formControlName="dueDate" [matDatepicker]="dueDate" />
                    <mat-datepicker-toggle matSuffix [for]="dueDate"></mat-datepicker-toggle>
                    <mat-datepicker #dueDate></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ d.form.product }}</mat-label>
                    <input matInput formControlName="product" />
                </mat-form-field>
            </div>

            <h2 class="mat-subheading-1" *ngIf="cart.controls.length">{{ d.productsList }}</h2>

            <ng-container *ngFor="let removeGroup of cart.controls; index as i" [formGroup]="removeGroup">
                <div fxLayout="column">
                    <mat-form-field>
                        <mat-label>{{ d.removeFormGroup.product }}</mat-label>
                        <input required matInput formControlName="product" />
                    </mat-form-field>
                    <div fxLayout fxLayoutGap="20px">
                        <mat-form-field fxFlex>
                            <mat-label>{{ d.removeFormGroup.price }}</mat-label>
                            <input required matInput formControlName="price" />
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <mat-label>{{ d.removeFormGroup.quantity }}</mat-label>
                            <input required matInput formControlName="quantity" />
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <mat-label>{{ d.removeFormGroup.taxMode }}</mat-label>
                            <mat-select formControlName="taxMode" required>
                                <mat-option *ngFor="let taxMode of taxModes" [value]="taxMode[1]">
                                    {{ taxMode[0] | taxMode }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="column" fxLayoutAlign=" end" *ngIf="cart.controls.length > 1">
                        <button dsh-stroked-button color="warn" (click)="remove(i)">
                            {{ d.remove }}
                        </button>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </ng-container>

            <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
                <h2 class="mat-subheading-1">
                    {{ d.totalAmount }} {{ totalAmount$ | async | currency: form.value.currency }}
                </h2>
                <button dsh-stroked-button color="accent" (click)="add()">
                    {{ d.addProduct }}
                </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
                <button dsh-button (click)="cancel()">
                    {{ t.cancel }}
                </button>
                <button dsh-button cdkFocusInitial (click)="create()" color="accent" [disabled]="form.invalid">
                    {{ d.create }}
                </button>
            </div>
        </div>
    </ng-container>
</ng-container>
