@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

mat-sidenav-container {
    @include fullscreen();
    background-color: $backgroud-color;
}

.content {
    @include content($content-padding, $content-max-width);
}

.brand {
    height: $toolbar-height;
}

.side-menu {
    width: 220px;
}

.kek {
    background-color: gray;
    padding: 25px;
}

