<div class="container" fxLayout="column" fxLayoutGap="32px">
    <div fxLayout="column" fxLayoutGap="48px">
        <div class="mat-display-1" *transloco="let t; scope: 'claims'; read: 'claims'">
            {{ t('title') }}
        </div>
        <div
            fxLayout="column-reverse"
            fxLayout.gt-sm="row"
            fxLayoutGap="16px"
            fxLayoutAlign="start start"
            fxLayoutAlign.gt-sm="space-between"
        >
            <dsh-claims-search-filters
                [initParams]="params$ | async"
                (searchParamsChanges)="search($event)"
            ></dsh-claims-search-filters>
            <ng-container *transloco="let s; scope: 'shops'; read: 'shops'">
                <button (click)="createShop()" color="accent" dsh-button>{{ s('createShop') }}</button>
            </ng-container>
        </div>
    </div>
    <dsh-claims-list
        [lastUpdated]="lastUpdated$ | async"
        [hasMore]="hasMore$ | async"
        [isLoading]="isLoading$ | async"
        [claimList]="claimsList$ | async"
        (refresh)="refresh()"
        (showMore)="fetchMore()"
        (goToClaimDetails)="goToClaimDetails($event)"
    ></dsh-claims-list>
</div>
