<div *transloco="let t; scope: 'operations'; read: 'operations.refunds.table'" class="table-container">
    <table dshTable [dataSource]="data">
        <ng-container dshColumnDef="amount">
            <th dshHeaderCell fxFlex="150px" *dshHeaderCellDef>
                {{ t('amount') }}
            </th>
            <td dshCell fxFlex="150px" *dshCellDef="let refund">
                {{ refund.amount | toMajor | currency: refund.currency }}
            </td>
        </ng-container>

        <ng-container dshColumnDef="status">
            <th dshHeaderCell fxFlex="140px" *dshHeaderCellDef>
                {{ t('status') }}
            </th>
            <td dshCell fxFlex="140px" *dshCellDef="let refund">
                <dsh-status
                    *transloco="let refundStatus; read: 'refundStatus'"
                    [color]="refund.status | refundStatusColor"
                    >{{ refundStatus(refund.status) }}</dsh-status
                >
            </td>
        </ng-container>

        <ng-container dshColumnDef="createdAt">
            <th dshHeaderCell fxFlex="180px" *dshHeaderCellDef>
                {{ t('createdAt') }}
            </th>
            <td dshCell fxFlex="180px" *dshCellDef="let refund">
                {{ refund.createdAt | date: 'dd MMMM yyyy, HH:mm' }}
            </td>
        </ng-container>

        <ng-container dshColumnDef="shopName">
            <th dshHeaderCell *dshHeaderCellDef>{{ t('shop') }}</th>
            <td dshCell *dshCellDef="let refund">
                <span class="truncate">{{ refund.shopName }}</span>
            </td>
        </ng-container>

        <ng-container dshColumnDef="actions">
            <th dshHeaderCell fxFlex="42px" *dshHeaderCellDef></th>
            <td dshCell fxFlex="42px" *dshCellDef="let refund">
                <button dsh-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon svgIcon="more_vert"></mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="goToPaymentDetails(refund)">
                        {{ t('actions.paymentDetails') }}
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr dsh-header-row *dshHeaderRowDef="displayedColumns"></tr>
        <tr dsh-table-row *dshRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
