<dsh-base-dialog
    *transloco="let t; scope: 'organizations'; read: 'organizations.createInvitationDialog'"
    [title]="t('title')"
    (cancel)="cancel()"
    (confirm)="create()"
    [confirmButtonDisabled]="emailControl.invalid || (inProgress$ | async) || !selectedRoles.length"
    [confirmButtonName]="t('send')"
>
    <div fxLayout="column">
        <mat-form-field fxFlex>
            <mat-label>{{ t('form.email') }}</mat-label>
            <input [formControl]="emailControl" matInput type="email" required />
        </mat-form-field>

        <dsh-change-roles-table (selectedRoles)="selectRoles($event)"></dsh-change-roles-table>
    </div>
</dsh-base-dialog>
