<dsh-base-dialog
    *transloco="let t; scope: 'organizations'; read: 'organizations.createInvitationDialog'"
    [title]="t('title')"
    (cancel)="cancel()"
    (confirm)="create()"
    [disabledConfirm]="form.invalid || (inProgress$ | async)"
>
    <form fxLayout="column" [formGroup]="form">
        <mat-form-field fxFlex>
            <mat-label>{{ t('form.email') }}</mat-label>
            <input formControlName="email" matInput type="email" required />
        </mat-form-field>
    </form>
</dsh-base-dialog>
