<cdk-tree [dataSource]="menu" [treeControl]="treeControl">
    <!-- leaf nodes -->
    <cdk-tree-node
        *cdkTreeNodeDef="let node"
        class="mobile-navigation-node"
        cdkTreeNodePadding
        cdkTreeNodePaddingIndent="4px"
        dshTreeNavChildPadding="4px"
        dshTreeNavChildPaddingLevelSwitch="12px"
        [class.mobile-navigation-node--hidden]="!shouldDisplayNode(node)"
    >
        <div class="mobile-navigation-node-wrap">
            <ng-container
                *ngTemplateOutlet="nodeName; context: { $implicit: node, isLink: hasNodeLink(node) }"
            ></ng-container>
        </div>
    </cdk-tree-node>
    <!-- expandable nodes -->
    <cdk-tree-node
        *cdkTreeNodeDef="let node; when: isExpandableNode"
        class="mobile-navigation-node mobile-navigation-node-parent"
        cdkTreeNodePadding
        cdkTreeNodePaddingIndent="4px"
        [class.mobile-navigation-node--hidden]="!shouldDisplayNode(node)"
    >
        <div
            class="mobile-navigation-node-wrap"
            (click)="toggleNode(node)"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
            <ng-container *ngTemplateOutlet="nodeName; context: { $implicit: node }"></ng-container>
            <mat-icon>
                {{ node.isExpanded ? 'expand_more' : 'chevron_right' }}
            </mat-icon>
        </div>
    </cdk-tree-node>
</cdk-tree>

<ng-template #nodeName let-node let-isLink="isLink">
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="center">
        <dsh-colored-icon
            fxLayout
            fxLayoutAlign="center center"
            *ngIf="hasNodeIcon(node)"
            [color]="isNodeActive(node) ? 'primary' : 'default'"
            [icon]="node.meta.icon"
        >
        </dsh-colored-icon>
        <ng-container *ngTemplateOutlet="isLink ? nodeLink : nodeTitle; context: { $implicit: node }"></ng-container>
    </div>
</ng-template>

<ng-template #nodeTitle let-node>
    <ng-container *transloco="let t; scope: 'toolbar'; read: 'toolbar.nav'">
        <div
            fxFlex
            class="mobile-navigation-node-title"
            [class.mobile-navigation-node-title-active]="isNodeActive(node)"
            [class.mobile-navigation-node-title-bold]="node.level === 0"
        >
            {{ t(node.id) }}
        </div>
    </ng-container>
</ng-template>

<ng-template #nodeLink let-node>
    <ng-container *transloco="let t; scope: 'toolbar'; read: 'toolbar.nav'">
        <a
            fxFlex
            class="mobile-navigation-node-title"
            [class.mobile-navigation-node-title-active]="isNodeActive(node)"
            [class.mobile-navigation-node-title-bold]="node.level === 0"
            [routerLink]="node.meta.path"
            (click)="navigated()"
            >{{ t(node.id) }}</a
        >
    </ng-container>
</ng-template>
