$dsh-welcome-image-height: 650px;

.dsh-welcome-image {
    height: $dsh-welcome-image-height;
    margin-bottom: -$dsh-welcome-image-height;
    background-position: center;
    background-size: cover;
}
