<dsh-navbar *transloco="let t; scope: 'wallet-section'; read: 'walletSection.nav'">
    <dsh-navbar-item
        routerLink="./wallets"
        routerLinkActive
        #wallets="routerLinkActive"
        [active]="wallets.isActive"
        icon="wallet_menu"
        >{{ t('wallets') }}</dsh-navbar-item
    >
    <dsh-navbar-item
        routerLink="./deposits"
        routerLinkActive
        #deposits="routerLinkActive"
        [active]="deposits.isActive"
        icon="input"
        >{{ t('deposits') }}</dsh-navbar-item
    >
    <dsh-navbar-item
        routerLink="./withdrawals"
        routerLinkActive
        #withdrawals="routerLinkActive"
        [active]="withdrawals.isActive"
        icon="output"
        >{{ t('withdrawals') }}</dsh-navbar-item
    >
    <dsh-navbar-item
        routerLink="./integrations"
        routerLinkActive
        #integrations="routerLinkActive"
        [active]="integrations.isActive"
        icon="build"
        >{{ t('integrations') }}</dsh-navbar-item
    >
</dsh-navbar>
