<div fxLayout="column" [fxLayoutGap]="layoutGap">
    <div fxLayout="row" fxLayout.xs="column" [fxLayoutGap.xs]="layoutGap">
        <dsh-details-item [title]="localePath + '.titles.invoiceID' | lc" fxFlex>
            {{ recurrentPayer.recurrentParentPayment?.invoiceID }}
        </dsh-details-item>
        <dsh-details-item [title]="localePath + '.titles.paymentID' | lc" fxFlex>
            {{ recurrentPayer.recurrentParentPayment?.paymentID }}
        </dsh-details-item>
    </div>
    <dsh-details-item
        *ngIf="recurrentPayer.contactInfo.phoneNumber"
        [title]="localePath + '.titles.phoneNumber' | lc"
        fxFlex
    >
        {{ recurrentPayer.contactInfo.phoneNumber }}
    </dsh-details-item>
</div>
