@import '~@angular/material/theming';

$SELECTOR: '.dsh-expand-panel';

@mixin colored($color) {
    border-color: $color;
    #{$SELECTOR}-header {
        background-color: $color;
    }
}

@mixin dsh-expand-panel-theme($theme) {
    $background: map-get(map-get($theme, background), background);
    $accent: mat-color(map-get($theme, accent), 50);
    $primary: mat-color(map-get($theme, primary), 50);

    #{$SELECTOR} {
        @include colored($background);

        &-accent {
            @include colored($accent);
        }

        &-primary {
            @include colored($primary);
        }
    }
}

@mixin dsh-expand-panel-typography($config) {
    #{$SELECTOR} {
        @include mat-typography-level-to-styles($config, body-1);
    }
}
