@import '~@angular/material/theming';

@mixin dsh-expand-panel-theme($theme) {
    $background: map-get(map-get($theme, background), background);

    .dsh-expand-panel {
        border-color: $background;

        &-header {
            background-color: $background;
        }
    }
}

@mixin dsh-expand-panel-typography($config) {
    .dsh-expand-panel {
        @include mat-typography-level-to-styles($config, body-1);
    }
}
