@import './button-base';

.dsh {
    &-button,
    &-stroked-button {
        @include dsh-button-base();
    }

    &-button {
        @include dsh-button-size($dsh-size-md);
        &.dsh-size-lg {
            @include dsh-button-size($dsh-size-lg);
        }
    }

    &-stroked-button {
        border: $dsh-stroked-button-border-width solid currentColor;
        @include dsh-stroked-button-size($dsh-size-md);
        &.dsh-size-lg {
            @include dsh-stroked-button-size($dsh-size-lg);
        }
    }

    &-icon-button {
        padding: 0;

        // Reset the min-width from the button base.
        min-width: 0;

        @include dsh-icon-button-size($dsh-size-md);

        flex-shrink: 0;
        border-width: 0;
        border-radius: $dsh-icon-button-border-radius;
        cursor: pointer;

        i,
        .mat-icon {
            line-height: $dsh-icon-button-line-height;
        }

        &:disabled {
            cursor: auto;
        }

        &.dsh-size-lg {
            @include dsh-icon-button-size($dsh-size-lg);
        }
    }

    &-button-content {
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
    }
}
