<div fxLayout="column" fxLayoutGap="15px">
    <table dshTable [dataSource]="dataSource">
        <ng-container dshColumnDef="position">
            <th dshHeaderCell *dshHeaderCellDef>No.</th>
            <td dshCell *dshCellDef="let element">{{ element.position }}</td>
            <td dshFooterCell *dshFooterCellDef>Weight</td>
        </ng-container>

        <ng-container dshColumnDef="name">
            <th dshHeaderCell *dshHeaderCellDef>Name</th>
            <td dshCell *dshCellDef="let element">{{ element.name }}</td>
            <td dshFooterCell *dshFooterCellDef>Weight</td>
        </ng-container>

        <ng-container dshColumnDef="weight">
            <th dshHeaderCell *dshHeaderCellDef>Weight</th>
            <td dshCell *dshCellDef="let element">{{ element.weight }}</td>
            <td dshFooterCell *dshFooterCellDef>Weight</td>
        </ng-container>

        <ng-container dshColumnDef="symbol">
            <th dshHeaderCell *dshHeaderCellDef>Symbol</th>
            <td dshCell *dshCellDef="let element">{{ element.symbol }}</td>
            <td dshFooterCell *dshFooterCellDef>Weight</td>
        </ng-container>

        <tr dsh-header-row *dshHeaderRowDef="displayedColumns"></tr>
        <tr dsh-row *dshRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <button dsh-button>Показать еще</button>
</div>
