@use '~@angular/material' as mat;

@mixin dsh-percent-difference-theme($theme) {
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .positive-percent-difference {
        color: mat.get-color-from-palette($accent, default);
    }

    .negative-percent-difference {
        color: mat.get-color-from-palette($warn, 300);
    }
}
