@import '~@angular/material/theming';

@mixin dsh-percent-difference-theme($theme) {
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    .positive-percent-difference {
        color: mat-color($accent, default);
    }

    .negative-percent-difference {
        color: mat-color($warn, 300);
    }
}
