<ng-container *transloco="let t; scope: 'create-shop'; read: 'createShop.internationalLegalEntity'">
    <dsh-base-dialog [title]="t('title')" (cancel)="cancelCreation()">
        <dsh-shop-form [integration]="integration" [formControl]="form"></dsh-shop-form>
        <ng-container dshBaseDialogActions>
            <button dsh-button color="accent" [disabled]="form.invalid" (click)="createShop()">
                {{ t('send') }}
            </button>
        </ng-container>
    </dsh-base-dialog>
</ng-container>
