.inline-show-all-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;

    &-icon {
        &.mat-icon {
            transform: rotate(90deg);
        }

        &.inline-show-all-toggle-icon-opened {
            &.mat-icon {
                transform: rotate(0deg);
            }
        }
    }
}
