[submodule "build_utils"]
	path = build_utils
	url = git@github.com:rbkmoney/build_utils.git
	branch = master
[submodule "schemes/swag/v3"]
	path = schemes/swag/v3
	url = git@github.com:rbkmoney/swag.git
	branch = release/v3
[submodule "schemes/claim-management/v0"]
	path = schemes/claim-management/v0
	url = git@github.com:rbkmoney/swag-claim-management.git
	branch = release/master
[submodule "schemes/questionary/v0"]
	path = schemes/questionary/v0
	url = git@github.com:rbkmoney/swag-questionary.git
	branch = release/master
[submodule "schemes/swag-analytics/v1"]
	path = schemes/swag-analytics/v1
	url = git@github.com:rbkmoney/swag-analytics.git
	branch = release/master
[submodule "schemes/messages/v0"]
	path = schemes/messages/v0
	url = git@github.com:rbkmoney/swag-messages.git
	branch = release/master
[submodule "schemes/dark-api/v0"]
	path = schemes/dark-api/v0
	url = git@github.com:rbkmoney/swag-dark-api.git
	branch = release/master
[submodule "schemes/questionary-aggr-proxy/v0"]
	path = schemes/questionary-aggr-proxy/v0
	url = git@github.com:rbkmoney/swag-questionary-aggr-proxy.git
	branch = release/master
