$height: 40px;
$border-radius: 4px;
$elements-padding: 10px;
$icon-container-width: 24px;
$icon-size: 24px;
$item-padding: ($height - $icon-size) / 2;

.dsh {
    &-stepper {
        &-item {
            padding: $item-padding 0;
            cursor: pointer;

            &-content {
                line-height: $icon-size;
            }

            &-icon-container {
                width: $icon-container-width;

                mat-icon {
                    font-size: $icon-size;
                }
            }
        }
    }
}
