:host {
    display: flex;
    align-items: baseline;
}

.dsh-format-input-element {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
    width: auto;
}

.dsh-format-input-element-full-size {
    width: 100%;
}

.dsh-format-input-spacer {
    opacity: 0;
    user-select: none;
    transition: opacity 200ms;
}

:host.floating .dsh-format-input-spacer {
    opacity: 1;
}
