<ng-container *transloco="let t">
    <ng-container *transloco="let d; scope: 'payouts'; read: 'payouts.createDialog'">
        <div>
            <div fxLayout="column" fxLayoutAlign="space-between" fxLayoutGap="20px">
                <h1 mat-dialog-title>{{ d.title }}</h1>
                <div class="mat-body">{{ d.description }}</div>
                <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="20px">
                    <button dsh-button (click)="cancel()">
                        {{ t.cancel }}
                    </button>
                    <button dsh-button cdkFocusInitial (click)="create()" color="accent">
                        {{ d.create }}
                    </button>
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>
