<dsh-dropdown-content fxLayout="column" fxLayoutGap="10px">
    <div>
        <h1 class="mat-title">Последние заявки</h1>
        <dsh-claims-list>
            <dsh-claims-list-item
                *ngFor="let claim of claims; index as i"
                [status]="claim.status"
                [color]="claim.color"
                [id]="claim.id"
                (action)="actionHandler($event)"
            >
                {{ claim.title }}
            </dsh-claims-list-item>
        </dsh-claims-list>
    </div>
    <button dsh-button class="action">Перейти ко всем заявкам</button>
</dsh-dropdown-content>
