<dsh-dropdown-content fxLayout="column" fxLayoutGap="10px">
    <div>
        <h1 class="mat-title">{{ 'common.claim.recent' | lc }}</h1>
        <dsh-claims-list>
            <dsh-claims-list-item
                *ngFor="let claim of claims$ | async; index as i"
                [status]="claim.status | lc"
                [color]="claim.color"
                [id]="claim.id"
                (action)="action.next($event)"
            >
                {{ claim.status | lc }}
            </dsh-claims-list-item>
        </dsh-claims-list>
    </div>
    <button dsh-button class="action">{{ 'common.claim.goToAll' | lc }}</button>
</dsh-dropdown-content>
