<div fxLayout="column" fxFlex="720px" fxLayoutGap="20px">
    <div *transloco="let t; scope: 'payment-link'; read: 'paymentLink'" class="mat-body-1">
        {{ t.description }}
    </div>
    <dsh-card>
        <dsh-create-invoice-or-invoice-template
            *ngIf="currentStep === step.invoiceTemplate"
            (next)="nextInvoiceOrInvoiceTemplate($event)"
        ></dsh-create-invoice-or-invoice-template>
        <dsh-create-payment-link
            *ngIf="currentStep === step.paymentLink"
            [invoice]="invoice$ | async"
            [template]="invoiceTemplate$ | async"
            backButton
            (back)="currentStep = step.invoiceTemplate"
        ></dsh-create-payment-link>
    </dsh-card>
</div>
