<dsh-row fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
    <ng-container *ngTemplateOutlet="claim ? tableGrid : loading; context: { $implicit: claim }"></ng-container>
</dsh-row>

<ng-template #loading>
    <dsh-row-label>Loading ...</dsh-row-label>
</ng-template>

<ng-template #tableGrid let-item>
    <dsh-row-label fxHide.lt-md fxFlex="15">{{ item.id }}</dsh-row-label>
    <dsh-row-label fxHide.lt-md fxFlex="25">
        <dsh-status *transloco="let claimStatus; read: 'claimStatus'" [color]="item.status | claimStatusColor">{{
            claimStatus(item.status)
        }}</dsh-status>
    </dsh-row-label>
    <dsh-row-label fxFlex.gt-sm="30" fxFlex>
        <span fxHide.lt-md>{{ item.updatedAt | date: 'dd MMMM yyyy, HH:mm' }}</span>
        <span fxHide.gt-sm>{{ item.updatedAt | date: 'dd.mm.yyyy, HH:mm' }}</span>
    </dsh-row-label>
    <dsh-row-label fxFlex.gt-sm="30" fxFlex fxLayout="row" fxLayoutAlign="end center"
        ><dsh-navigation-link
            *transloco="let claims; scope: 'claims'; read: 'claims'"
            [text]="claims('details')"
            (click)="goToClaimDetails.emit(claim.id)"
        ></dsh-navigation-link
    ></dsh-row-label>
</ng-template>
