$dsh-document-upload-padding: 20px 0 0 0;
$dsh-document-upload-max-width: 900px;

.container {
    padding: $dsh-document-upload-padding;
    max-width: $dsh-document-upload-max-width;
    margin: 0 auto;
}
