$dsh-planning-operations-form-padding: 0 0 20px 0;

.bank-account-label {
    padding: $dsh-planning-operations-form-padding;
}

.radio-group-container {
    padding: $dsh-planning-operations-form-padding;
}
