<ng-container
    *transloco="let t; scope: 'payment-details'; read: 'paymentDetails.details'"
    fxLayout="column">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="24px">
        <div>
            <div class="mat-body-1">
                {{ payment.amount | toMajor | currency: payment.currency }}
            </div>
        </div>
        <div>
            <ng-container *ngTemplateOutlet="statusBlock; context: { $implicit: getStatusInfo(payment.status) }"></ng-container>
        </div>
    </div>
<!--    <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="0" [fxLayoutGap.xs]="layoutGap">-->
<!--        <dsh-details-item [title]="t('amount')" fxFlex="33">-->
<!--            <div class="mat-body-1">-->
<!--                {{ payment.amount | toMajor | currency: payment?.currency }}-->
<!--            </div>-->
<!--        </dsh-details-item>-->
<!--        <dsh-details-item [title]="t('chargeAmount')" fxFlex="33">-->
<!--            <div class="mat-body-1">-->
<!--                {{ payment.amount - (payment.fee || 0) | toMajor | currency: payment?.currency }}-->
<!--            </div>-->
<!--        </dsh-details-item>-->
<!--        <dsh-details-item *ngIf="payment.fee" [title]="t('fee')" fxFlex="33">-->
<!--            <div class="mat-body-1">-->
<!--                {{ payment.fee | toMajor | currency: payment?.currency }} ({{-->
<!--                payment.fee / payment.amount | percent: '1.0-2':'en'-->
<!--                }})-->
<!--            </div>-->
<!--        </dsh-details-item>-->
<!--    </div>-->
</ng-container>

<ng-template #statusBlock let-data>
    <ng-container *transloco="let paymentStatus; read: 'paymentStatus'">
        <ng-container *transloco="let t; scope: 'payment-details'; read: 'paymentDetails.statusDetailItem'">
            <dsh-details-item [title]="t('status')">
                <dsh-status [color]="data.color">{{ paymentStatus(data.status) }}</dsh-status>
            </dsh-details-item>
        </ng-container>
    </ng-container>
</ng-template>
