<div
    *transloco="let t; scope: 'api-model-details'; read: 'apiModelDetails.internationalLegalEntity'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="24px">
        <dsh-details-item fxFlex="33" fxFlex.lt-md="100" [title]="t.legalName">
            {{ internationalLegalEntity?.legalName }}
        </dsh-details-item>
        <dsh-details-item
            *ngIf="internationalLegalEntity?.tradingName"
            fxFlex="33"
            fxFlex.lt-md="100"
            [title]="t.tradingName"
        >
            {{ internationalLegalEntity?.tradingName }}
        </dsh-details-item>
        <dsh-details-item
            *ngIf="internationalLegalEntity?.registeredNumber"
            fxFlex="33"
            fxFlex.lt-md="100"
            [title]="t.registeredNumber"
        >
            {{ internationalLegalEntity?.registeredNumber }}
        </dsh-details-item>
    </div>
    <dsh-details-item [title]="t.registeredOffice">
        {{ internationalLegalEntity?.registeredOffice }}
    </dsh-details-item>
</div>
