<div
    fxLayout
    fxLayoutGap="8px"
    fxFlexAlign="start center"
    (click)="clickHandler()"
    [ngClass]="{
        'dsh-stepper-item': true,
        selected: selected,
        success: item.status === 'success',
        warn: item.status === 'warning'
    }"
>
    <div class="dsh-stepper-item-icon-container">
        <mat-icon *ngIf="item.status === 'success'">done</mat-icon>
    </div>
    <div class="dsh-stepper-item-content" fxLayout fxFlexAlign="start center">
        <ng-content></ng-content>
    </div>
</div>
