<dsh-scroll-up></dsh-scroll-up>
<div
    class="dsh-integrations"
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.integrations'"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <h1 class="mat-display-1">{{ t('headline') }}</h1>
    <nav dsh-tab-nav-bar>
        <a
            dsh-tab-link
            *ngFor="let link of links"
            [routerLink]="link.path"
            routerLinkActive
            #rla="routerLinkActive"
            [active]="rla.isActive"
        >
            {{ t('tabs.' + link.path) }}
        </a>
    </nav>
    <div fxLayout fxLayoutAlign="center center">
        <router-outlet></router-outlet>
    </div>
</div>
