<div
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.integrations'"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <h1 class="mat-display-1">{{ t('headline') }}</h1>
    <nav mat-tab-nav-bar>
        <a
            mat-tab-link
            *ngFor="let link of links"
            [routerLink]="link.path"
            routerLinkActive
            #rla="routerLinkActive"
            [active]="rla.isActive"
        >
            <span *transloco="let tabs; scope: 'payment-section'; read: 'paymentSection.integrations.tabs'">{{
                tabs(link.path)
            }}</span>
        </a>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>
<dsh-scroll-up></dsh-scroll-up>
