<div
    *transloco="let t; scope: 'onboarding'; read: 'onboarding.dataFlow.uploadDocuments'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div fxLayout="column" fxLayoutGap="16px">
        <div class="dsh-body-2">{{ t('requiredDocs') }}:</div>
        <div class="dsh-body-1">• {{ t('passport') }};</div>
        <div class="dsh-body-1">• {{ t('registrationDoc') }}.</div>
    </div>
    <div class="dsh-body-2">{{ t('uploadedDocs') }}:</div>
    <div *ngIf="!(fileUnits$ | async)?.length; else files" class="dsh-body-1">{{ t('noDocs') }}</div>
    <ng-template #files>
        <div fxLayout="column" fxLayoutGap="16px">
            <dsh-file-container
                *ngFor="let unit of fileUnits$ | async"
                [unit]="unit"
                deletion
                (delete)="deleteFile(unit)"
            ></dsh-file-container>
        </div>
    </ng-template>
    <dsh-file-uploader (filesUploaded)="filesUploaded($event)"></dsh-file-uploader>
</div>
