<div
    *transloco="let t; scope: 'organizations'; read: 'organizations.organizationDetails.invitation'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div class="dsh-headline">{{ invitation.invitee?.contact?.email }}</div>

    <div gdColumns="1fr 1fr">
        <dsh-details-item [title]="t('createdAt')">
            {{ invitation.createdAt | date: 'dd MMMM yyyy, HH:mm' }}
        </dsh-details-item>
        <dsh-details-item [title]="t('expiresAt')">
            {{ invitation.expiresAt | date: 'dd MMMM yyyy, HH:mm' }}
        </dsh-details-item>
    </div>

    <mat-divider></mat-divider>
    <div class="dsh-title">{{ t('titles.roles') }}</div>
    <dsh-organization-roles [roles]="invitation.invitee.roles"></dsh-organization-roles>

    <mat-divider></mat-divider>
    <div class="dsh-title">{{ t('titles.actions') }}</div>
    <div>
        <button (click)="cancel()" dsh-button color="warn">
            {{ t('actions.cancel') }}
        </button>
    </div>
</div>
