<div *transloco="let t">
    <div *ngIf="isLoading$ | async">{{ t.loading }}</div>
    <div *ngIf="error$ | async">{{ t.httpError }}</div>
    <div *ngIf="questionary$ | async" fxLayout="column" fxLayoutGap="20px">
        <dsh-contractor-info
            *ngIf="isNotEmptyContractor$ | async"
            [contractor]="contractor$ | async"
        ></dsh-contractor-info>
        <dsh-shop-info *ngIf="isNotEmptyShopInfo$ | async" [shopInfo]="shopInfo$ | async"></dsh-shop-info>
        <dsh-contact-info
            *ngIf="isNotEmptyContactInfo$ | async"
            [contactInfo]="contactInfo$ | async"
        ></dsh-contact-info>
        <dsh-bank-account-info
            *ngIf="isNotEmptyBankAccount$ | async"
            [bankAccount]="bankAccount$ | async"
        ></dsh-bank-account-info>
        <div
            fxLayout="row wrap"
            fxLayoutGap="10px"
            style="float: left"
            *transloco="let c; scope: 'claim-modification-containers'; read: 'claimModificationContainers.download'"
        >
            <button dsh-button (click)="downloadDocument()">{{ c.questionaryDocument }}</button>
            <button
                dsh-button
                *ngFor="let beneficialOwnerDocument of beneficialOwnersDocuments$ | async; index as i"
                (click)="downloadBeneficialOwnerDocument(beneficialOwnerDocument)"
            >
                {{ c.beneficialOwnerDocument | translocoParams: { id: i + 1 } }}
            </button>
        </div>
    </div>
</div>
