<dsh-card *ngIf="payments$ | async as payments">
    <ng-container *transloco="let t; scope: 'invoice'; read: 'invoice.details.payments'">
        <dsh-card-title fxLayout="row" fxLayoutGap="10px">
            <div class="mat-title">{{ t('title') }}</div>
            <dsh-spinner *ngIf="isLoading$ | async" [type]="spinnerType" size="20"></dsh-spinner>
        </dsh-card-title>
        <dsh-card-content fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="column" fxLayoutGap="20px">
                <dsh-payment *ngFor="let payment of payments" [payment]="payment"></dsh-payment>
            </div>
            <div *ngIf="payments.length === 0">
                {{ t('noPayments') }}
            </div>
            <button
                *ngIf="hasMore$ | async"
                class="dsh-invoice-details-payments-show-more"
                dsh-button
                (click)="fetchMore()"
                [disabled]="isLoading$ | async"
            >
                <ng-container *transloco="let c">
                    {{ c('showMore') }}
                </ng-container>
            </button>
        </dsh-card-content>
    </ng-container>
</dsh-card>
