<dsh-float-panel
    *transloco="let t; scope: 'withdrawals'; read: 'withdrawals.filter'"
    [formGroup]="form"
    [(expanded)]="expanded"
>
    <ng-container *transloco="let c">
        <dsh-justify-wrapper fxLayout fxLayout.sm="column" fxLayoutGap="20px">
            <dsh-range-datepicker fxFlex formControlName="date"></dsh-range-datepicker>
            <mat-form-field fxFlex>
                <mat-label>{{ t('withdrawalStatus') }}</mat-label>
                <mat-select formControlName="status">
                    <mat-option>
                        {{ c('any') }}
                    </mat-option>
                    <mat-option *ngFor="let status of withdrawalStatuses" [value]="status">
                        <span *transloco="let withdrawalStatus; read: 'withdrawalStatus'">{{
                            withdrawalStatus(status)
                        }}</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </dsh-justify-wrapper>
        <dsh-float-panel-actions>
            <button dsh-button (click)="reset()">
                {{ c('resetSearchParams') }}
            </button>
        </dsh-float-panel-actions>
        <dsh-float-panel-more>
            <div fxLayout fxLayout.sm="column" fxLayoutGap="20px">
                <mat-form-field fxFlex>
                    <mat-label>{{ t('withdrawalID') }}</mat-label>
                    <input matInput type="text" formControlName="withdrawalID" />
                </mat-form-field>
                <dsh-wallet-autocomplete-field
                    fxFlex
                    [control]="form?.controls?.walletID"
                ></dsh-wallet-autocomplete-field>
            </div>
            <div fxLayout fxLayout.sm="column" fxLayoutGap="20px">
                <mat-form-field fxFlex>
                    <mat-label>{{ t('identityID') }}</mat-label>
                    <input matInput type="text" formControlName="identityID" />
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>{{ t('destinationID') }}</mat-label>
                    <input matInput type="text" formControlName="destinationID" />
                </mat-form-field>
            </div>
            <div fxLayout fxLayout.sm="column" fxLayoutGap="20px">
                <mat-form-field fxFlex>
                    <mat-label>{{ t('amountFrom') }}</mat-label>
                    <input matInput type="number" formControlName="amountFrom" />
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>{{ t('amountTo') }}</mat-label>
                    <input matInput type="number" formControlName="amountTo" />
                </mat-form-field>
            </div>
            <div fxLayout fxLayout.sm="column" fxLayoutGap="20px">
                <mat-form-field fxFlex>
                    <mat-label>{{ t('currencyID') }}</mat-label>
                    <input matInput type="text" formControlName="currencyID" />
                </mat-form-field>
            </div>
        </dsh-float-panel-more>
    </ng-container>
</dsh-float-panel>
