<div *transloco="let t; scope: 'deposit-info'; read: 'depositInfo'" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout fxLayout.sm="column" fxLayoutGap="10px">
        <dsh-details-item fxFlex [title]="t('status')">
            {{ deposit.status }}
        </dsh-details-item>
        <dsh-details-item fxFlex class="mat-body-1" [title]="t('createdAt')">{{
            deposit.createdAt | date: 'dd MMMM yyyy, HH:mm'
        }}</dsh-details-item>
        <div fxFlex></div>
    </div>
    <div fxLayout fxLayout.sm="column" fxLayoutGap="10px">
        <dsh-details-item fxFlex class="mat-body-1" [title]="t('amount')">{{
            deposit.body.amount | toMajor | currency: deposit.body.currency
        }}</dsh-details-item>
        <dsh-details-item fxFlex class="mat-body-1" [title]="t('fee')"
            >{{ deposit.fee.amount | toMajor | currency: deposit.fee.currency }} ({{
                deposit.fee.amount / deposit.body.amount | percent: '1.0-2':'en'
            }})</dsh-details-item
        >
        <dsh-details-item fxFlex class="mat-body-1" [title]="t('total')">{{
            deposit.body.amount - deposit.fee.amount | toMajor | currency: deposit.body.currency
        }}</dsh-details-item>
    </div>
    <dsh-details-item *ngIf="deposit.failure" fxFlex [title]="t('error')">
        <div *transloco="let errors; scope: 'deposit-info'; read: 'depositInfo.errors'" class="mat-body-1">
            {{ errors(deposit.failure.code) }}
        </div>
    </dsh-details-item>
</div>
