<form
    [formGroup]="form$ | async"
    fxLayout="column"
    fxLayoutGap="16px"
    *transloco="let t; scope: 'onboarding'; read: 'onboarding.dataFlow.basicInfo'"
>
    <div fxLayout fxLayoutGap="24px">
        <dsh-dadata-autocomplete
            fxFlex
            formControlName="name"
            type="party"
            [label]="t('name')"
            (optionSelected)="partySelected($event)"
            required
        ></dsh-dadata-autocomplete>
        <mat-form-field fxFlex>
            <mat-label>{{ t('inn') }}</mat-label>
            <dsh-format-input format="individualOrLegalEntityInn" formControlName="inn" required></dsh-format-input>
        </mat-form-field>
    </div>
    <dsh-dadata-autocomplete
        fxFlex
        formControlName="registrationPlace"
        type="address"
        [label]="t('registrationPlace')"
        required
    ></dsh-dadata-autocomplete>
    <label class="dsh-body-2">{{ t('shopInfo') }}</label>
    <mat-form-field fxFlex>
        <mat-label>{{ t('shopUrl') }}</mat-label>
        <input type="text" autocomplete="off" matInput formControlName="shopUrl" required />
    </mat-form-field>
    <mat-form-field fxFlex>
        <mat-label>{{ t('shopName') }}</mat-label>
        <input type="text" autocomplete="off" matInput formControlName="shopName" required />
    </mat-form-field>
    <label class="dsh-body-2">{{ t('contactInfo') }}</label>
    <div fxLayout fxLayoutGap="24px">
        <mat-form-field fxFlex>
            <mat-label>{{ t('email') }}</mat-label>
            <input matInput formControlName="email" required />
        </mat-form-field>
        <mat-form-field fxFlex>
            <mat-label>{{ t('phoneNumber') }}</mat-label>
            <dsh-format-input format="phoneNumber" formControlName="phoneNumber" required></dsh-format-input>
        </mat-form-field>
    </div>
</form>
