<div *ngIf="!(isLoading$ | async); else isLoading">
    <div *ngIf="hasFiles$ | async; else noFiles" fxLayout="column" fxLayoutGap="10px">
        <dsh-file-item *ngFor="let file of filesData$ | async" [file]="file"></dsh-file-item>
    </div>
    <ng-template #noFiles>
        <div *transloco="let c">{{ c.noDocs }}</div>
    </ng-template>
</div>
<ng-template #isLoading>
    <div fxLayout fxLayoutAlign="center center">
        <dsh-spinner [type]="spinnerType" size="30"></dsh-spinner>
    </div>
</ng-template>
