<div fxLayout="column" [fxLayoutGap]="layoutGap">
    <div *ngIf="hasFiles$ | async; else noFiles" fxLayout="column" fxLayoutGap="10px">
        <dsh-file-container
            *ngFor="let modification of modifications$ | async"
            [fileModification]="modification"
        ></dsh-file-container>
    </div>
    <ng-template #noFiles>
        <div *transloco="let c">{{ c.noDocs }}</div>
    </ng-template>
    <dsh-file-uploader (uploadedFilesIds)="updateClaim($event)"></dsh-file-uploader>
</div>
