<dsh-multiselect-filter
    *transloco="let t; scope: 'claim-status-filter'; read: 'claimStatusFilter'"
    [label]="t('label')"
    [selected]="selected"
    [searchInputLabel]="t('label')"
    (selectedChange)="this.selectedChange.emit($event)"
>
    <dsh-multiselect-filter-option *ngFor="let status of statuses" [value]="status">
        <span *transloco="let filterStatuses; scope: 'claim-status-filter'; read: 'claimStatusFilter.statuses'">{{
            filterStatuses(status)
        }}</span>
    </dsh-multiselect-filter-option>
</dsh-multiselect-filter>
