<div
    class="dsh-accordion-item"
    (click)="expand()"
    [ngClass]="{ 'dsh-accordion-item-expanded': expandedChange | async }"
>
    <div *ngIf="expandedChange | async; then content; else panelBase"></div>
    <ng-template #content>
        <div class="dsh-accordion-item-expand" [@expand]="expandTrigger" (@expand.done)="expandDone()">
            <div (dshResized)="setExpandedContentHeight($event)" fxLayout>
                <ng-container
                    *ngTemplateOutlet="accordionItemContent?.templateRef || lazyContent?._template"
                ></ng-container>
            </div>
        </div>
    </ng-template>
    <ng-template #panelBase>
        <div class="dsh-accordion-item-base" [@expand]="collapseTrigger">
            <div (dshResized)="setBaseContentHeight($event)">
                <ng-content></ng-content>
            </div>
        </div>
    </ng-template>
</div>
