<div
    *transloco="let t; scope: 'create-shop'; read: 'createShop.russianLegalEntity'"
    style="max-height: 400px;"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <h1 class="dsh-headline">{{ t('title') }}</h1>
    <mat-dialog-content>
        <dsh-shop-form [form]="form" [payoutTool]="payoutTool$ | async" [contentWindow]="contentElement">
        </dsh-shop-form>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
        <button *transloco="let t" dsh-stroked-button color="warn" fxFlex="126px" (click)="cancelCreation()">
            {{ t('cancel') }}
        </button>
        <button dsh-button color="accent" [disabled]="form.invalid" (click)="createShop()">{{ t('send') }}</button>
    </mat-dialog-actions>
</div>
