<dsh-card>
    <dsh-card-title class="dsh-title">{{ 'sections.paymentDetails.paymentTool.title' | lc }}</dsh-card-title>
    <dsh-card-content>
        <div class="dsh-container">
            <dsh-detail-item [title]="'sections.paymentDetails.paymentTool.card' | lc">
                <div fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="none center">
                    <div class="dsh-bank-card-number">
                        {{ getFormattedBankCard() }}
                    </div>
                    <mat-icon svgIcon="visa"></mat-icon>
                    <mat-icon svgIcon="mastercard"></mat-icon>
                    <mat-icon svgIcon="mir"></mat-icon>
                    <mat-icon svgIcon="apple_pay"></mat-icon>
                    <mat-icon svgIcon="samsung_pay"></mat-icon>
                    <mat-icon svgIcon="google_pay"></mat-icon>
                </div>
            </dsh-detail-item>
        </div>
    </dsh-card-content>
</dsh-card>
