<dsh-card *transloco="let t; scope: 'payment-details'; read: 'paymentDetails.paymentTool'">
    <dsh-card-title>
        <h2 class="mat-title">
            {{ t?.title }}
        </h2>
    </dsh-card-title>
    <dsh-card-content>
        <dsh-bank-card
            *ngIf="paymentToolDetails.detailsType === Type.BankCard"
            [bankCard]="paymentToolDetails"
        ></dsh-bank-card>
        <dsh-digital-wallet
            *ngIf="paymentToolDetails.detailsType === Type.Wallet"
            [digitalWallet]="paymentToolDetails"
        ></dsh-digital-wallet>
        <dsh-payment-terminal
            *ngIf="paymentToolDetails.detailsType === Type.Terminal"
            [paymentTerminal]="paymentToolDetails"
        ></dsh-payment-terminal>
    </dsh-card-content>
</dsh-card>
