<dsh-card *transloco="let t; scope: 'payment-details'; read: 'paymentDetails.paymentTool'">
    <dsh-card-title>
        <h2 class="mat-title">
            {{ t?.title }}
        </h2>
    </dsh-card-title>
    <dsh-card-content [ngSwitch]="paymentToolDetails.detailsType">
        <dsh-bank-card *ngSwitchCase="Type.BankCard" [bankCard]="paymentToolDetails"></dsh-bank-card>
        <dsh-digital-wallet *ngSwitchCase="Type.Wallet" [digitalWallet]="paymentToolDetails"></dsh-digital-wallet>
        <dsh-payment-terminal
            *ngSwitchCase="Type.Terminal"
            [paymentTerminal]="paymentToolDetails"
        ></dsh-payment-terminal>
        <dsh-mobile-commerce *ngSwitchCase="Type.MobileCommerce" [details]="paymentToolDetails"></dsh-mobile-commerce>
    </dsh-card-content>
</dsh-card>
