<div fxLayout="column" fxLayoutGap="24px">
    <dsh-payment-main-info [payment]="payment"></dsh-payment-main-info>
    <mat-divider></mat-divider>
    <dsh-payment-invoice-info [invoice]="invoiceInfo$ | async"></dsh-payment-invoice-info>
    <mat-divider></mat-divider>
    <ng-container *ngIf="isHoldShown">
        <dsh-hold-details [payment]="payment" (statusChanged)="updatePayment($event)"></dsh-hold-details>
        <mat-divider></mat-divider>
    </ng-container>
    <dsh-refunds
        [invoiceID]="payment.invoiceID"
        [paymentID]="payment.id"
        [shopID]="payment.shopID"
        [currency]="payment.currency"
        [maxRefundAmount]="payment.amount"
        [status]="payment.status"
        (fullyRefunded)="updatePayment($event)"
    ></dsh-refunds>
</div>
