<div
    *transloco="let t; scope: 'daterange-filter'; read: 'daterangeFilter.menu'"
    fxLayout="column"
    fxLayoutGap="32px"
    class="dsh-body-1"
>
    <div
        class="dsh-daterange-filter-menu-item"
        [ngClass]="{ 'dsh-daterange-filter-menu-item-active': selectedType === 'today' }"
        (click)="this.selectToday()"
    >
        {{ t('today') }}
    </div>
    <div
        class="dsh-daterange-filter-menu-item"
        [ngClass]="{ 'dsh-daterange-filter-menu-item-active': selectedType === type.CurrentWeek }"
        (click)="this.selectCurrentWeek()"
    >
        {{ t('currentWeek') }}
    </div>
    <div
        class="dsh-daterange-filter-menu-item"
        [ngClass]="{ 'dsh-daterange-filter-menu-item-active': selectedType === type.CurrentMonth }"
        (click)="this.selectCurrentMonth()"
    >
        {{ current | date: 'LLLL' | titlecase }}
    </div>
    <div
        class="dsh-daterange-filter-menu-item"
        [ngClass]="{ 'dsh-daterange-filter-menu-item-active': selectedType === type.ThreeMonths }"
        (click)="this.selectThreeMonths()"
    >
        {{ t('threeMonths') }}
    </div>
    <div
        class="dsh-daterange-filter-menu-item"
        [ngClass]="{ 'dsh-daterange-filter-menu-item-active': selectedType === type.CurrentYear }"
        (click)="this.selectCurrentYear()"
    >
        {{ t('year', { year: current | date: 'y' }) }}
    </div>
    <div
        class="dsh-daterange-filter-menu-item-another"
        [ngClass]="{ 'dsh-daterange-filter-menu-item-active': selectedType === type.Another }"
    >
        {{ t('anotherPeriod') }}
    </div>
</div>
