:host {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dsh-mobile-grid {
    height: 100%;
    width: 100%;

    &-drawer {
        width: 75vw;

        &-wrapper {
            height: 100%;
        }

        &-actions {
            padding: 32px 24px 24px;
        }
    }

    &-content {
        padding: 16px;
    }

    &-toggle-button {
        cursor: pointer;
        &.mat-icon {
            width: 32px;
            height: 32px;
        }

        &:hover {
            opacity: 0.5;
        }
    }
}
