<dsh-card>
    <dsh-card-title>
        <h2 class="mat-h2">
            {{ localePath + '.title' | lc }}
        </h2>
    </dsh-card-title>
    <dsh-card-content>
        <div fxLayout="column">
            <div class="mat-body-1">
                {{
                    template(localePath + '.message' | lc)({
                        holdUntil: holdDate | date: 'dd MMMM yyyy, HH:mm',
                        timeUntilHold: timeUntilHold$ | async
                    })
                }}
            </div>
            <div
                class="dsh-button-container"
                fxLayout
                fxLayout.xs="column"
                fxLayoutAlign="space-between stretch"
                fxLayoutGap="0"
                fxLayoutGap.xs="10px"
            >
                <button fxFlex.xs fxFlex="none" class="dsh-hold-button" dsh-stroked-button color="warn">
                    {{ localePath + '.actions.deny' | lc }}
                </button>
                <button fxFlex.xs fxFlex="none" class="dsh-hold-button" dsh-stroked-button color="accent">
                    {{ localePath + '.actions.accept' | lc }}
                </button>
            </div>
        </div>
    </dsh-card-content>
</dsh-card>
