@use '~@angular/material' as mat;

@mixin dsh-global-banner-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);

    .dsh-global-banner {
        background-color: mat.get-color-from-palette($primary, default);
        color: map-get($foreground, contrast-text);

        &-text {
            color: map-get($background, background);
        }
    }
}

@mixin dsh-global-banner-typography($config) {
    .dsh-global-banner-text {
        @include mat.typography-level($config, body-1);
    }
}
