:host {
    display: block;
    bottom: 0;
    width: 100%;
    margin: 16px 0 0 0;
    position: fixed;
    left: 0;
}

.dsh-global-banner {
    &-container {
        max-width: 1128px;
        margin: auto;
    }

    &-content {
        max-width: 930px;
        padding: 16px 0 24px 0;
    }

    &-text {
        max-width: 840px;
    }

    &-mascot-icon {
        margin: -16px 0 0 0;
        width: 132px;
        height: 147px;
    }

    .close {
        cursor: pointer;
    }
}
