<div class="dsh-global-banner">
    <div class="dsh-global-banner-container" fxLayout="row" fxLayoutAlign="space-between top" fxLayoutGap="56px">
        <div class="dsh-global-banner-mascot-icon">
            <mat-icon [svgIcon]="mascot" class="dsh-global-banner-mascot-icon"></mat-icon>
        </div>
        <div class="dsh-global-banner-content" fxLayout="column" fxLayoutGap="8px" fxFlex>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="dsh-headline">{{ title }}</div>
                <dsh-colored-icon color="contrast-text" icon="cross"></dsh-colored-icon>
            </div>
            <div class="dsh-global-banner-text">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>
