$dsh-action-item-size: 48px;

.dsh-action-item {
    border: none;
    outline: none;
    border-radius: 50%;
    width: $dsh-action-item-size;
    height: $dsh-action-item-size;
    text-align: center;
    transition: 0.2s;
    &:active {
        transform: scale(0.9);
    }
    &:hover {
        cursor: pointer;
    }

    .icon {
        padding-top: 12px;
    }
}
