<h3 class="mat-subheading-2">{{ dicBasePath + '.subheading' | lc }}</h3>
<div
    mat-dialog-actions
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="20px"
    fxLayoutGap.xs="10px"
>
    <button fxFlex fxFlex.xs="none" dsh-button (click)="decline()">
        {{ dicBasePath + '.decline' | lc }}
    </button>
    <button fxFlex fxFlex.xs="none" dsh-button cdkFocusInitial (click)="confirm()">
        {{ dicBasePath + '.confirm' | lc }}
    </button>
</div>
