<ng-container *transloco="let t; scope: 'onboarding'; read: 'onboarding.companySearch.leaveOnboardingDialog'">
    <h3 class="mat-subheading-2">{{ t.subheading }}</h3>
    <div
        mat-dialog-actions
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between stretch"
        fxLayoutGap="20px"
        fxLayoutGap.xs="10px"
    >
        <button fxFlex fxFlex.xs="none" dsh-button (click)="decline()">
            {{ t.decline }}
        </button>
        <button fxFlex fxFlex.xs="none" dsh-button cdkFocusInitial (click)="confirm()">
            {{ t.confirm }}
        </button>
    </div>
</ng-container>
