<div *transloco="let t; scope: 'payment-section'; read: 'paymentSection.analytics.stats'" fxLayout fxLayoutGap="20px">
    <dsh-stat-item
        fxFlex
        [statData]="paymentsAmount$ | async"
        [subtitle]="t.paymentsAmount"
        [isLoading]="isPaymentsAmountLoading$ | async"
        [error]="paymentsAmountError$ | async"
    ></dsh-stat-item>
    <dsh-stat-item
        fxFlex
        [statData]="refundsAmount$ | async"
        [subtitle]="t.refundsAmount"
        [isLoading]="isRefundsAmountLoading$ | async"
        [error]="refundsAmountError$ | async"
    ></dsh-stat-item>
    <dsh-stat-item
        fxFlex
        [statData]="averagePayment$ | async"
        [subtitle]="t.averagePayment"
        [isLoading]="isAveragePaymentLoading$ | async"
        [error]="averagePaymentError$ | async"
    ></dsh-stat-item>
    <dsh-stat-item
        fxFlex
        [statData]="paymentsCount$ | async"
        [subtitle]="t.paymentsCount"
        [isLoading]="isPaymentsCountLoading$ | async"
        [error]="paymentsCountError$ | async"
    ></dsh-stat-item>
</div>
