<div *transloco="let t; scope: 'wallets'; read: 'wallets.walletWithdrawals'" fxLayout="column" fxLayoutGap="24px">
    <ng-container *ngFor="let withdrawal of withdrawals$ | async as withdrawals; index as i">
        <dsh-wallet-withdrawal-details [withdrawal]="withdrawal"></dsh-wallet-withdrawal-details>
        <mat-divider *ngIf="i < withdrawals.length - 1"></mat-divider>
    </ng-container>
    <div *ngIf="isLoading$ | async">
        <ng-container *transloco="let c">
            {{ c('loading') }}
        </ng-container>
    </div>
    <div *ngIf="errors$ | async">
        <ng-container *transloco="let c">
            {{ t('fetchError') }}
        </ng-container>
    </div>
    <button
        *ngIf="(hasMore$ | async) && (isLoading$ | async) === false && !(errors$ | async)"
        dsh-button
        (click)="fetchMore()"
    >
        <ng-container *transloco="let c">
            {{ c('showMore') }}
        </ng-container>
    </button>
</div>
