@import '~@angular/material/theming';

@mixin dsh-webhook-card-theme($theme) {
    $gray: map-get($theme, gray);

    .dsh-webhook-card-panel-items > *:not(:last-child) {
        border-bottom-color: mat-color($gray, 200) !important;
    }

    .dsh-webhook-card-gray-header {
        color: map-get($gray, 500);
    }
}
