<dsh-float-panel
    *transloco="let t; scope: 'operations'; read: 'operations.invoices.filter'"
    [formGroup]="searchForm"
    novalidate
    [(expanded)]="expanded"
>
    <ng-container *transloco="let c">
        <div
            fxLayout
            fxLayout.lt-md="column"
            [fxLayoutGap]="layoutGap"
            fxLayoutAlign="space-between center"
            fxLayoutAlign.lt-md="space-between stretch"
        >
            <dsh-daterange-selector
                fxFlex.gt-sm
                [value]="searchForm.value"
                (selectDaterange)="selectDaterange($event)"
                (selectMore)="expanded = true"
            ></dsh-daterange-selector>
            <dsh-justify-wrapper fxFlex.gt-sm fxLayout fxLayout.lt-md="column" [fxLayoutGap]="layoutGap">
                <mat-form-field fxFlex>
                    <mat-label>{{ t.shopID }}</mat-label>
                    <mat-select formControlName="shopID">
                        <mat-option>
                            {{ c.any }}
                        </mat-option>
                        <mat-option *ngFor="let item of shopsInfo$ | async" [value]="item.shopID">
                            {{ item.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>{{ t.invoiceStatus }}</mat-label>
                    <mat-select formControlName="invoiceStatus">
                        <mat-option>
                            {{ c.any }}
                        </mat-option>
                        <mat-option *ngFor="let status of statuses" [value]="status">
                            {{ c.invoiceStatus[status] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </dsh-justify-wrapper>
        </div>
        <dsh-float-panel-actions>
            <button dsh-button (click)="reset()">
                {{ c.resetSearchParams }}
            </button>
        </dsh-float-panel-actions>
        <dsh-float-panel-more>
            <div
                gdAuto
                [gdGap]="'0 ' + layoutGap"
                gdColumns="1fr 1fr 1fr 1fr"
                gdColumns.sm="1fr 1fr"
                gdColumns.xs="1fr"
            >
                <mat-form-field>
                    <mat-label>{{ t.fromTime }}</mat-label>
                    <input required matInput formControlName="fromTime" [matDatepicker]="fromTime" />
                    <mat-datepicker-toggle matSuffix [for]="fromTime"></mat-datepicker-toggle>
                    <mat-datepicker #fromTime></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ t.toTime }}</mat-label>
                    <input required matInput formControlName="toTime" [matDatepicker]="toTime" />
                    <mat-datepicker-toggle matSuffix [for]="toTime"></mat-datepicker-toggle>
                    <mat-datepicker #toTime></mat-datepicker>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ t.invoiceID }}</mat-label>
                    <input matInput formControlName="invoiceID" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ t.invoiceAmount }}</mat-label>
                    <input matInput type="number" formControlName="invoiceAmount" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ t.paymentStatus }}</mat-label>
                    <mat-select formControlName="paymentStatus">
                        <mat-option>
                            {{ c.any }}
                        </mat-option>
                        <mat-option *ngFor="let status of paymentStatuses" [value]="status">
                            {{ c.paymentStatus[status] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ t.paymentID }}</mat-label>
                    <input matInput formControlName="paymentID" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ t.customerID }}</mat-label>
                    <input matInput formControlName="customerID" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ t.paymentFlow }}</mat-label>
                    <mat-select formControlName="paymentFlow">
                        <mat-option>
                            {{ c.any }}
                        </mat-option>
                        <mat-option *ngFor="let flow of paymentFlows" [value]="flow">
                            {{ c.paymentFlow[flow] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ t.paymentMethod }}</mat-label>
                    <mat-select formControlName="paymentMethod">
                        <mat-option>
                            {{ c.any }}
                        </mat-option>
                        <mat-option *ngFor="let method of paymentMethods" [value]="method">
                            {{ c.paymentMethod[method] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="isBankCard$ | async">
                    <mat-label>{{ t.first6 }}</mat-label>
                    <dsh-format-input format="bin" formControlName="first6"></dsh-format-input>
                </mat-form-field>
                <mat-form-field *ngIf="isBankCard$ | async">
                    <mat-label>{{ t.last4 }}</mat-label>
                    <dsh-format-input format="lastDigits" formControlName="last4"></dsh-format-input>
                </mat-form-field>
                <mat-form-field *ngIf="isBankCard$ | async">
                    <mat-label>{{ t.bankCardTokenProvider }}</mat-label>
                    <mat-select formControlName="bankCardTokenProvider">
                        <mat-option>
                            {{ c.any }}
                        </mat-option>
                        <mat-option *ngFor="let tokenProvider of tokenProviders" [value]="tokenProvider">
                            {{ c.bankCardTokenProvider[tokenProvider] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field *ngIf="isBankCard$ | async">
                    <mat-label>{{ t.bankCardPaymentSystem }}</mat-label>
                    <mat-select formControlName="bankCardPaymentSystem">
                        <mat-option>
                            {{ c.any }}
                        </mat-option>
                        <mat-option *ngFor="let method of bankCardPaymentSystems" [value]="method">
                            {{ c.bankCardPaymentSystem[method] }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </dsh-float-panel-more>
    </ng-container>
</dsh-float-panel>
