<dsh-float-panel
    *transloco="let t; scope: 'operations'; read: 'operations.invoices.filter'"
    [formGroup]="searchForm"
    novalidate
    [(expanded)]="expanded"
    [pinned]="true"
>
    <ng-container *transloco="let c">
        <dsh-justify-wrapper fxLayout fxLayout.lt-md="column" [fxLayoutGap]="layoutGap">
            <dsh-range-datepicker formControlName="date" fxFlex></dsh-range-datepicker>

            <dsh-shop-selector [shopsInfo]="shopsInfo" formControlName="shopIDs" fxFlex></dsh-shop-selector>

            <mat-form-field fxFlex>
                <mat-label>{{ t.invoiceStatus }}</mat-label>
                <mat-select formControlName="invoiceStatus">
                    <mat-option>
                        {{ c.any }}
                    </mat-option>
                    <mat-option *ngFor="let status of statuses" [value]="status">
                        {{ c.invoiceStatus[status] }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </dsh-justify-wrapper>
        <dsh-float-panel-actions>
            <button dsh-button (click)="reset()">
                {{ c.resetSearchParams }}
            </button>
        </dsh-float-panel-actions>
        <dsh-float-panel-more>
            <div gdAuto gdGap="0 {{ layoutGap }}" gdColumns="1fr 1fr 1fr" gdColumns.lt-md="1fr">
                <mat-form-field>
                    <mat-label>{{ t.invoiceID }}</mat-label>
                    <input matInput formControlName="invoiceID" />
                </mat-form-field>
            </div>
        </dsh-float-panel-more>
    </ng-container>
</dsh-float-panel>
