<div *transloco="let t; scope: 'onboarding'; read: 'onboarding.documentUpload'">
    <h2 class="mat-dialog-title">{{ t.cancelDocumentUploadTitle }}</h2>
    <mat-dialog-content class="mat-body-1">{{ t.cancelDocumentUploadDescription }}</mat-dialog-content>
    <div
        *transloco="let c"
        class="leave-dialog-actions"
        mat-dialog-actions
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between stretch"
        fxLayoutGap="20px"
        fxLayoutGap.xs="10px"
    >
        <button fxFlex="150px" dsh-button (click)="cancel()">{{ c.cancel }}</button>
        <button fxFlex="150px" dsh-button (click)="continue()">{{ c.continue }}</button>
    </div>
</div>
