<div class="mobile-menu" fxLayout="column">
    <div fxFlex fxLayout="column" fxLayoutGap="16px">
        <dsh-mobile-menu-nav-item
            *ngFor="let link of sectionLinks$ | async"
            [routerLink]="link.path"
            routerLinkActive
            [routerLinkActiveOptions]="{ exact: link?.exact }"
            #rla="routerLinkActive"
            [active]="rla.isActive"
            >{{ link.label }}</dsh-mobile-menu-nav-item
        >
        <dsh-feedback></dsh-feedback>
    </div>
    <mat-divider></mat-divider>
    <dsh-mobile-user-bar></dsh-mobile-user-bar>
</div>
