<ng-container *transloco="let t">
    <ng-container *transloco="let p; scope: 'payouts'; read: 'payouts.payouts'">
        <dsh-base-dialog [title]="p('title')" (cancel)="cancel()">
            <div [formGroup]="form" fxLayout="column" fxLayoutGap="32px">
                <div fxLayout="column" fxLayoutGap="20px">
                    <mat-form-field fxFill>
                        <mat-label>{{ p('shop') }}</mat-label>
                        <mat-select
                            formControlName="shopID"
                            required
                            (selectionChange)="onShopSelectionChange($event.value)"
                        >
                            <mat-option>
                                {{ t('any') }}
                            </mat-option>
                            <mat-option *ngFor="let shopInfo of shopsInfo$ | async" [value]="shopInfo.shopID">
                                {{ shopInfo.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <ng-container *ngIf="hasSelectedShop">
                        <ng-container *ngIf="!(isPayoutToolsLoading$ | async); else loading">
                            <ng-container *ngIf="hasPayoutTools$ | async; else noPayoutTools">
                                <mat-form-field fxFill>
                                    <mat-label>{{ p('payoutTool') }}</mat-label>
                                    <mat-select formControlName="payoutToolID">
                                        <mat-option
                                            *ngFor="let payoutTool of payoutTools$ | async"
                                            [value]="payoutTool.id"
                                            (onSelectionChange)="onPayoutToolSelectionChange(payoutTool.currency)"
                                        >
                                            {{ payoutTool.details.detailsType | payoutToolDetailsType }}:
                                            {{ payoutTool.details.walletID }} ({{ payoutTool.currency }})
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field fxFill>
                                    <mat-label>{{ p('amount') }}</mat-label>
                                    <dsh-format-input
                                        formControlName="amount"
                                        format="amount"
                                        required
                                    ></dsh-format-input>
                                </mat-form-field>
                            </ng-container>
                            <ng-template #noPayoutTools>
                                <div class="mat-body-1" fxFlexFill fxLayoutAlign="center">
                                    {{ p('noPayoutTools') }}
                                </div>
                            </ng-template>
                        </ng-container>
                        <ng-template #loading>
                            <div>
                                <dsh-spinner></dsh-spinner>
                            </div>
                        </ng-template>
                    </ng-container>
                </div>
            </div>
            <ng-container dshBaseDialogActions>
                <button
                    fxFlex.gt-sm="160px"
                    dsh-button
                    color="accent"
                    [disabled]="form.invalid || !(hasPayoutTools$ | async)"
                    (click)="create(form.value)"
                >
                    {{ p('createPayout') }}
                </button>
            </ng-container>
        </dsh-base-dialog>
    </ng-container>
</ng-container>
