<ng-container *ngIf="!selectionConfirmed">
    <ng-container *transloco="let t; scope: 'create-shop'; read: 'createShop'">
        <dsh-base-dialog [title]="t('title')" (cancel)="cancelClaim()">
            <div fxLayout="column" fxLayoutGap="16px">
                <p class="dsh-subheading-2">{{ t('type') }}</p>
                <mat-radio-group fxLayout="column" fxLayoutGap="16px">
                    <mat-radio-button
                        [checked]="selectedShopType === shopType.Russian"
                        [value]="shopType.Russian"
                        (change)="onTypeChange($event.value)"
                        >{{ t('russianLegalEntityType') }}</mat-radio-button
                    >
                    <mat-radio-button
                        [checked]="selectedShopType === shopType.New"
                        [value]="shopType.New"
                        (change)="onTypeChange($event.value)"
                        >{{ t('newLegalEntityType') }}</mat-radio-button
                    >
                    <mat-radio-button
                        [checked]="selectedShopType === shopType.International"
                        [value]="shopType.International"
                        (change)="onTypeChange($event.value)"
                        ><span class="dsh-wrap-mat-radio-label">{{
                            t('internationalLegalEntityType')
                        }}</span></mat-radio-button
                    >
                </mat-radio-group>
            </div>
            <div dshBaseDialogActions *transloco="let c" fxLayout fxLayoutAlign="end">
                <button
                    fxFlex="160px"
                    fxFlex.xs="none"
                    dsh-button
                    (click)="next()"
                    color="accent"
                    class="dsh-next-button"
                    [disabled]="!selectedShopType"
                >
                    {{ c('next') }}
                </button>
            </div>
        </dsh-base-dialog>
    </ng-container>
</ng-container>

<dsh-create-russian-shop-entity
    *ngIf="selectionConfirmed && selectedShopType === shopType.Russian"
    (send)="sendClaim()"
    (cancel)="cancelClaim()"
></dsh-create-russian-shop-entity>
<dsh-create-international-shop-entity
    *ngIf="selectionConfirmed && selectedShopType === shopType.International"
    (send)="sendClaim()"
    (cancel)="cancelClaim()"
></dsh-create-international-shop-entity>
