<form
    *transloco="let t; scope: 'wallet-webhooks'; read: 'walletWebhooks'"
    [formGroup]="form"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div fxLayout="column" fxLayoutGap="16px">
        <mat-form-field fxFlex>
            <mat-label>{{ t('createWebhook.identity') }}</mat-label>
            <mat-select formControlName="identityID" required>
                <mat-option *ngFor="let identity of identities$ | async" [value]="identity.id">
                    {{ identity.id }} {{ identity.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex>
            <mat-label>{{ t('createWebhook.url') }}</mat-label>
            <input formControlName="url" matInput type="text" autocomplete="off" required />
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="dsh-title">{{ t('createWebhook.eventType') }}</div>
    <mat-radio-group fxLayout fxLayoutGap="24px" formControlName="eventType" (change)="changeActiveTopic($event.value)">
        <mat-radio-button fxFlex [checked]="(activeTopic$ | async) === 'WithdrawalsTopic'" value="WithdrawalsTopic">{{
            t('createWebhook.eventTypes.withdrawal')
        }}</mat-radio-button>
        <mat-radio-button fxFlex [checked]="(activeTopic$ | async) === 'DestinationsTopic'" value="DestinationsTopic">{{
            t('createWebhook.eventTypes.destination')
        }}</mat-radio-button>
    </mat-radio-group>
    <dsh-autocomplete-input
        *ngIf="(activeTopic$ | async) === 'WithdrawalsTopic'"
        fxFlex
        [control]="walletControl"
        [options]="options$ | async"
        [title]="t('createWebhook.wallet')"
    ></dsh-autocomplete-input>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutGap="8px">
        <div class="dsh-title">{{ t('createWebhook.events') }}</div>
        <div class="dsh-caption">{{ t('createWebhook.types') }}</div>
    </div>
    <div formArrayName="eventTypes" fxLayout="column" fxLayoutGap="16px">
        <div *ngFor="let eventType of eventTypes.controls; let i = index" [formGroupName]="i">
            <mat-checkbox formControlName="selected" class="dsh-body-1"
                ><span *transloco="let types; scope: 'wallet-webhooks'; read: 'walletWebhooks.events.types'">{{
                    types(eventType.controls.eventName.value)
                }}</span></mat-checkbox
            >
        </div>
    </div>
</form>
