$padding: 20px;

.checkbox-section {
    padding-bottom: $padding;
}

.beneficial-owner-actions {
    padding-bottom: $padding;
}

.owner-count {
    padding-bottom: $padding;
}

.beneficial-owner-container {
    padding-bottom: $padding;
}
