$dsh-beneficial-owner-form-padding: 0 0 20px 0;

.checkbox-section {
    padding: $dsh-beneficial-owner-form-padding;
}

.beneficial-owner-actions {
    padding: $dsh-beneficial-owner-form-padding;
}

.owner-count {
    padding: $dsh-beneficial-owner-form-padding;
}

.beneficial-owner-container {
    padding: $dsh-beneficial-owner-form-padding;
}

.beneficial-owner-description {
    padding: $dsh-beneficial-owner-form-padding;
}
