$dsh-serface-padding: 30px 30px 20px 30px;
$dsh-serface-border-radius: 4px;
$dsh-serface-max-width: 440px;
$dsh-serface-subheading-height: 90px;

.dsh-main-parts-serface {
    display: block;
    position: relative;
    padding: $dsh-serface-padding;
    border-radius: $dsh-serface-border-radius;
    max-width: $dsh-serface-max-width;
    .subheading {
        min-height: $dsh-serface-subheading-height;
    }
}

@media only screen and (max-width: 960px) {
    .dsh-main-parts-serface {
        width: $dsh-serface-max-width;
    }
}

@media only screen and (max-width: 600px) {
    .dsh-main-parts-serface {
        width: auto;
        max-width: 100%;
    }
}
