<dsh-row fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
    <ng-container *ngTemplateOutlet="shop ? tableGrid : loading; context: { $implicit: shop }"></ng-container>
</dsh-row>

<ng-template #loading>
    <dsh-row-label>Loading ...</dsh-row-label>
</ng-template>

<ng-template #tableGrid let-item>
    <dsh-row-label fxFlex>{{ item.details.name }}</dsh-row-label>
    <!--    <dsh-row-label fxFlex fxHide.lt-md>-->
    <!--        <dsh-shop-balance [shop]="shop"></dsh-shop-balance>-->
    <!--    </dsh-row-label>-->
</ng-template>
