<div class="dsh-main-parts-surface">
    <div fxLayout="column" fxLayoutAlign="space-between stretch">
        <div fxLayout fxLayoutGap="30px">
            <mat-icon
                fxHide.md="true"
                fxHide.sm="true"
                fxHide.xs="true"
                fxFlex="180px"
                class="bill-icon"
                svgIcon="bill"
            ></mat-icon>
            <div>
                <div fxLayout fxLayoutAlign="space-between">
                    <h2 class="mat-title">{{ 'sections.main.payments.title' | lc }}</h2>
                    <dsh-spinner *ngIf="isLoading$ | async" [type]="spinnerType" size="30"></dsh-spinner>
                </div>
                <h4 class="mat-subheading-1 subheading">
                    {{ subheading$ | async | lc }}
                </h4>
            </div>
        </div>
        <div
            fxLayout
            fxLayout.xs="column"
            fxLayoutAlign="space-between stretch"
            fxLayoutGap="20px"
            fxLayoutGap.xs="10px"
        >
            <button fxFlex="50" fxFlex.xs="none" dsh-button color="accent" [routerLink]="actionRouterLink$ | async">
                {{ actionLabel$ | async | lc }}
            </button>
            <div fxFlex="50" fxFlex.xs="none">
                <button
                    fxFlex="100"
                    *ngIf="hasTestEnvironment$ | async"
                    dsh-stroked-button
                    color="accent"
                    [routerLink]="testEnvironmentRouterLink"
                >
                    {{ 'sections.main.payments.testEnvironment' | lc }}
                </button>
            </div>
        </div>
    </div>
</div>
