<div fxLayout="column" fxLayoutGap="16px">
    <dsh-last-updated [lastUpdated]="lastUpdated"></dsh-last-updated>
    <dsh-deposit-row-header></dsh-deposit-row-header>
    <ng-container *ngTemplateOutlet="depositsList"></ng-container>
    <ng-container *ngIf="!isLoading; else loading">
        <dsh-empty-search-result *ngIf="isEmptyList"></dsh-empty-search-result>
        <dsh-show-more-panel *ngIf="hasMore" (showMore)="showMoreElements()"> </dsh-show-more-panel>
    </ng-container>
</div>

<ng-template #loading>
    <div fxLayout fxFlexAlign="center">
        <dsh-spinner></dsh-spinner>
    </div>
</ng-template>

<ng-template #depositsList>
    <dsh-accordion
        fxLayout="column"
        fxLayoutGap="16px"
        [expanded]="expandedId"
        (expandedChange)="expandedIndexChange($event)"
    >
        <dsh-accordion-item *ngFor="let item of list; index as i; trackBy: track" #accordionItem>
            <dsh-deposit-row [deposit]="item"></dsh-deposit-row>
            <ng-template dshLazyPanelContent>
                <dsh-card fxFlexFill fxLayout="column" fxLayoutGap="28px">
                    <dsh-accordion-item-content-header
                        *transloco="let t; scope: 'deposits'; read: 'deposits'"
                        (collapse)="accordionItem.collapse($event)"
                    >
                        <div fxFlex="100" fxLayoutAlign="space-between center">
                            <span>{{ t('header') }} #{{ item.id }}</span>
                            <span>{{ item.createdAt | date: 'dd MMMM yyyy, HH:mm' }}</span>
                        </div></dsh-accordion-item-content-header
                    >
                    <dsh-deposit-info [deposit]="item"></dsh-deposit-info>
                </dsh-card>
            </ng-template>
        </dsh-accordion-item>
    </dsh-accordion>
</ng-template>
