<ng-container *transloco="let t; scope: 'operations'; read: 'operations.payments.filter'">
    <form [formGroup]="formControl" gdColumns.gt-sm="1fr 1fr" gdColumns="1fr" gdGap="0 24px">
        <mat-form-field>
            <mat-label>{{ t('payerEmail') }}</mat-label>
            <input aria-label="payerEmail" matInput type="email" formControlName="payerEmail" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ t('customerID') }}</mat-label>
            <input aria-label="customerID" matInput formControlName="customerID" />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ t('rrn') }}</mat-label>
            <input aria-label="rrn" matInput formControlName="rrn" />
        </mat-form-field>
    </form>
</ng-container>
