<dsh-scroll-up></dsh-scroll-up>
<div
    class="dsh-payouts"
    *transloco="let p; scope: 'payouts'; read: 'payouts.payouts'"
    fxLayout="column"
    fxLayoutGap="20px"
>
    <h1 class="mat-display-1" *transloco="let title; scope: 'payouts'; read: 'payouts.title'">{{ title }}</h1>
    <div fxLayout="row" fxLayoutGap="20px">
        <div fxFlex class="mat-body-1">
            {{ p.description }}
        </div>
        <div>
            <button dsh-stroked-button color="accent" (click)="createPayout()">
                {{ p.createPayout }}
            </button>
        </div>
    </div>

    <dsh-payouts-search-form></dsh-payouts-search-form>
    <ng-container *ngIf="!(isInit$ | async)">
        <dsh-payouts-panels-list></dsh-payouts-panels-list>
        <dsh-show-more-panel *ngIf="hasMore$ | async" (showMore)="fetchMore()" [isLoading]="isLoading$ | async">
        </dsh-show-more-panel>
        <div *ngIf="!(payouts$ | async)?.length && !(doAction$ | async)" class="mat-headline dsh-payouts-empty">
            <ng-container *transloco="let t">
                {{ t.emptySearchResult }}
            </ng-container>
        </div>
    </ng-container>
    <dsh-spinner *ngIf="isLoading$ | async" fxLayoutAlign="center"></dsh-spinner>
</div>
