<div
    class="dsh-payouts"
    *transloco="let p; scope: 'payouts'; read: 'payouts.payouts'"
    fxLayout="column"
    fxLayoutGap="20px"
>
    <h1 class="mat-display-1" *transloco="let title; scope: 'payouts'; read: 'payouts.title'">{{ title }}</h1>
    <div fxFlex class="mat-body-1">
        {{ p.description }}
    </div>
    <dsh-payouts-search-form></dsh-payouts-search-form>
    <dsh-payout-panel *ngFor="let payout of payouts$ | async" [payout]="payout"></dsh-payout-panel>
    <dsh-card *ngIf="hasMore$ | async" class="show-more">
        <button
            dsh-button
            class="show-more-button"
            *transloco="let t"
            (click)="fetchMore()"
            [disabled]="isLoading$ | async"
        >
            {{ t.showMore }}
        </button>
    </dsh-card>
</div>
