<dsh-scroll-up></dsh-scroll-up>
<div
    class="dsh-payouts"
    *transloco="let p; scope: 'payouts'; read: 'payouts.payouts'"
    fxLayout="column"
    fxLayoutGap="20px"
>
    <h1 class="mat-display-1" *transloco="let title; scope: 'payouts'; read: 'payouts.title'">{{ title }}</h1>
    <div fxFlex class="mat-body-1">
        {{ p.description }}
    </div>
    <dsh-payouts-search-form></dsh-payouts-search-form>
    <ng-container *ngIf="!(isInit$ | async)">
        <dsh-payout-panel-accordion fxLayout="column" fxLayoutGap="20px" (expanded)="expand($event)">
            <dsh-payout-panel
                *ngFor="let payout of payouts$ | async"
                [payout]="payout"
                (click)="select(payout.id)"
            ></dsh-payout-panel>
        </dsh-payout-panel-accordion>
        <dsh-card *ngIf="hasMore$ | async" class="dsh-payouts-show-more" fxLayout>
            <button dsh-button (click)="fetchMore()" [disabled]="isLoading$ | async" fxFlex *transloco="let t">
                {{ (isLoading$ | async) ? t.loading : t.showMore }}
            </button>
        </dsh-card>
        <div *ngIf="!(payouts$ | async)?.length" class="mat-headline dsh-payouts-empty">
            {{ p.empty }}
        </div>
    </ng-container>
    <div *ngIf="isInit$ | async" fxLayout fxFlexAlign="center">
        <dsh-spinner></dsh-spinner>
    </div>
</div>
