<input
    matInput
    #input
    [formControl]="formControl"
    [matAutocomplete]="auto"
    [matAutocompleteConnectedTo]="autocompleteOrigin"
/>
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelectedHandler($event)">
    <mat-option *ngFor="let option of options" [value]="option.header" class="option">
        <div class="option-header" [innerHTML]="option.header | highlight: formControl.value"></div>
        <div class="option-description" [innerHTML]="option.description | highlight: formControl.value"></div>
    </mat-option>
    <mat-option disabled *ngIf="!options">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <span>Loading...</span>
            <mat-spinner diameter="20"></mat-spinner>
        </div>
    </mat-option>
</mat-autocomplete>
