<mat-form-field class="field">
    <mat-label>{{ label }}</mat-label>
    <input matInput [required]="required" [formControl]="formControl" [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="optionSelectedHandler($event)">
        <ng-container *ngIf="!(isOptionsLoading$ | async)">
            <mat-option *ngFor="let option of options$ | async" [value]="option.label" class="option">
                <div
                    class="dsh-dadata-autocomplete-option-header"
                    [innerHTML]="option.label | highlight: formControl.value"
                ></div>
                <div
                    class="dsh-dadata-autocomplete-option-description"
                    [innerHTML]="option.description | highlight: formControl.value"
                ></div>
            </mat-option>
        </ng-container>
    </mat-autocomplete>
    <button *ngIf="formControl.value" mat-icon-button matSuffix (click)="clear()">
        <dsh-bi icon="x" size="lg"></dsh-bi>
    </button>
</mat-form-field>
