@import '~@angular/material/theming';
@import '~@angular/cdk/a11y';

@mixin dsh-tabs-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .dsh {
        &-tab-labels,
        &-tab-links {
            border-color: map-get($foreground, divider);
        }

        &-tab-label {
            color: map-get($foreground, text);

            &-active {
                color: mat-color($primary, default);
            }

            &-disabled {
                color: map-get($foreground, disabled-text);
            }
        }

        &-tab-link-badge {
            color: map-get($foreground, contrast-text);
            background-color: mat-color($warn, 300);
        }

        &-ink-bar {
            background-color: mat-color($primary, default);
        }

        &-tab-nav-bar-inverted {
            .dsh-tab-label {
                color: map-get($foreground, contrast-text);
            }
            .dsh-ink-bar {
                background-color: map-get($foreground, contrast-text);
            }
        }
    }
}

@mixin dsh-tabs-typography($config) {
    .dsh {
        &-tab-label {
            @include mat-typography-level-to-styles($config, body-1);
        }

        &-tab-link-badge {
            @include mat-typography-level-to-styles($config, caption);
        }

        &-tab-links-main {
            .dsh-tab-link {
                @include mat-typography-level-to-styles($config, subheading-2);

                &-badge {
                    @include mat-typography-level-to-styles($config, body-2);
                }
            }
        }
    }
}
