@import '~@angular/material/theming';
@import '../../../../styles/utils/fill';

@mixin dsh-timeline-item-badge-theme($theme) {
    $success-base: map-get($theme, success-base);
    $pending-base: map-get($theme, pending-base);
    $warn-base: map-get($theme, warn-base);

    .dsh-timeline-item-badge {
        &-success {
            background-color: $success-base;
            @include fill(map-get($background, card));
        }

        &-pending {
            background-color: $pending-base;
            @include fill(map-get($background, card));
        }

        &-warn {
            background-color: $warn-base;
            @include fill(map-get($background, card));
        }
    }
}
