<div
    fxLayout="column"
    fxLayoutGap="30px"
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.analytics'"
>
    <h1 class="mat-headline">{{ t.headline }}</h1>
    <div fxLayout="column" fxLayoutGap="20px">
        <dsh-search-form></dsh-search-form>
        <dsh-stats [searchParams]="statSearchParams$ | async"></dsh-stats>
        <dsh-stats-bars [searchParams]="searchParamsWithSplitUnit$ | async"></dsh-stats-bars>
        <dsh-distributions [searchParams]="distributionSearchParams$ | async"></dsh-distributions>
    </div>
</div>
