<ng-container *transloco="let t; scope: 'operations'; read: 'operations.invoices'">
    <div fxLayout="column" fxLayoutGap="24px">
        <div class="dsh-title" fxFlex>{{ t('invoiceStatus') }}</div>
        <dsh-expandable-radio-group fxFlex [control]="formControl" [choices]="statuses" [previewCount]="2" anyResponse>
            <ng-container *ngFor="let status of statuses">
                <ng-template [dshExpandableRadioGroupItem]="status">
                    <span *transloco="let paymentStatus; read: 'invoiceStatus'">{{ paymentStatus(status) }}</span>
                </ng-template>
            </ng-container>
        </dsh-expandable-radio-group>
    </div>
</ng-container>
