<div class="container">
    <dsh-toolbar>
        <div fxLayout>
            <dsh-brand fxFlex="100px"></dsh-brand>
            <dsh-actionbar fxFlex="grow" fxLayoutAlign="end"></dsh-actionbar>
        </div>
    </dsh-toolbar>
    <div class="content">
        <dsh-tab-group>
            <dsh-tab label="Платежи">
                Платежи content
            </dsh-tab>
            <dsh-tab label="Возвраты">
                Возвраты content
            </dsh-tab>
            <dsh-tab label="Инвойсы">
                Инвойсы content
            </dsh-tab>
        </dsh-tab-group>
    </div>
</div>
