<div class="container">
    <div class="content">
        <mat-tab-group>
            <mat-tab label="Столбчатый">
                <dsh-card>
                    <dsh-card-content>
                        <dsh-bar-chart [data]="periodData" [config]="barChartConfig"></dsh-bar-chart>
                        <dsh-legend [items]="periodLegendData"></dsh-legend>
                    </dsh-card-content>
                </dsh-card>
            </mat-tab>
        </mat-tab-group>
        <dsh-tab-group>
            <dsh-tab label="Столбчатый">
                <dsh-card>
                    <dsh-card-content>
                        <dsh-bar-chart [data]="periodData" [config]="barChartConfig"></dsh-bar-chart>
                        <dsh-legend [items]="periodLegendData"></dsh-legend>
                    </dsh-card-content>
                </dsh-card>
            </dsh-tab>
            <dsh-tab label="Линейный">
                <dsh-card>
                    <dsh-card-content>
                        <dsh-linear-chart [data]="preparedPeriodData" [config]="linearChartConfig"></dsh-linear-chart>
                        <dsh-legend [items]="linearLegendData"></dsh-legend>
                    </dsh-card-content>
                </dsh-card>
            </dsh-tab>
            <dsh-tab label="Круговой">
                <dsh-card>
                    <dsh-card-content>
                        <div class="side-legend">
                            <dsh-donut-chart [data]="segmentData" [config]="donutChartConfig"></dsh-donut-chart>
                            <dsh-legend [items]="segmentLegendData"></dsh-legend>
                        </div>
                    </dsh-card-content>
                </dsh-card>
            </dsh-tab>
            <dsh-tab label="Географический" disabled></dsh-tab>
        </dsh-tab-group>
    </div>
</div>
