<div class="container">
    <dsh-toolbar>
        <div fxLayout>
            <dsh-brand fxFlex="100px"></dsh-brand>
            <dsh-actionbar fxFlex="grow" fxLayoutAlign="end"></dsh-actionbar>
        </div>
    </dsh-toolbar>
    <div class="content">
        <mat-tab-group>
            <mat-tab label="Платежи">
                Платежи content
            </mat-tab>
            <mat-tab label="Возвраты">
                Возвраты content
            </mat-tab>
            <mat-tab label="Инвойсы">
                Инвойсы content
            </mat-tab>
        </mat-tab-group>
        <dsh-card>
            <dsh-card-content>
                <dsh-tab-group>
                    <dsh-tab label="Платежи">
                        <div>
                            Платежи content
                        </div>
                        <div>
                            Платежи content
                        </div>
                        <div>
                            Платежи content
                        </div><div>
                        Платежи content
                    </div><div>
                        Платежи content
                    </div>vv
                        v
                        v
                        <div>
                            Платежи content
                        </div>
                        <div>
                            Платежи content
                        </div>
                        v
                        v




                    </dsh-tab>
                    <dsh-tab label="Возвраты">
                        Возвраты content
                    </dsh-tab>
                    <dsh-tab label="Инвойсы">
                        Инвойсы content
                    </dsh-tab>
                </dsh-tab-group>
            </dsh-card-content>
        </dsh-card>

    </div>
</div>
