<div fxLayout="column" fxLayoutGap="16px">
    <dsh-accordion fxLayout="column" fxLayoutGap="16px" [expanded]="0">
        <dsh-accordion-item #accordionItem>
            <dsh-accordion-item-content>
                <dsh-card fxLayout="column" fxLayoutGap="32px">
                    <dsh-accordion-item-content-header></dsh-accordion-item-content-header>
                    <div fxLayout>
                        <dsh-collapse fxFlex title="Администратор">
                            Магазины
                            <br />Shop name 2 <br />Shop name 2 <br />Shop name 2
                        </dsh-collapse>
                        <dsh-collapse fxFlex title="Менеджер">
                            Магазины
                            <br />Shop name 2 <br />Shop name 2 <br />Shop name 2
                        </dsh-collapse>
                    </div>
                </dsh-card>
            </dsh-accordion-item-content>
        </dsh-accordion-item>
    </dsh-accordion>
</div>
