<div fxLayout="column" fxLayoutGap="16px">
    <dsh-accordion fxLayout="column" fxLayoutGap="16px" [expanded]="0">
        <dsh-accordion-item #accordionItem>
            <dsh-accordion-item-content>
                <dsh-card fxLayout="column" fxLayoutGap="32px">
                    <dsh-accordion-item-content-header></dsh-accordion-item-content-header>
                    <div fxLayout>
                        <dsh-collapse fxFlex title="Администратор">
                            <dsh-list title="Магазины">
                                <dsh-list-item>Shop name 2</dsh-list-item>
                                <dsh-list-item>Shop name 2</dsh-list-item>
                                <dsh-list-item>Shop name 2</dsh-list-item>
                                <dsh-list-item>Shop name 2</dsh-list-item>
                            </dsh-list>
                        </dsh-collapse>
                        <dsh-collapse fxFlex title="Менеджер" expandDirection="up">
                            <dsh-list title="Магазины">
                                <dsh-list-item>Shop name 1</dsh-list-item>
                                <dsh-list-item>Shop name 2</dsh-list-item>
                                <dsh-list-item>Shop name 3</dsh-list-item>
                                <dsh-list-item>Shop name 4</dsh-list-item>
                                <dsh-list-item>Shop name 5</dsh-list-item>
                                <dsh-list-item>Shop name 6</dsh-list-item>
                                <dsh-list-item>Shop name 7</dsh-list-item>
                            </dsh-list>
                        </dsh-collapse>
                    </div>
                </dsh-card>
            </dsh-accordion-item-content>
        </dsh-accordion-item>
    </dsh-accordion>
</div>
