<mat-form-field *transloco="let t">
    <mat-label>{{ label }}</mat-label>
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    <mat-select [formControl]="formControl" [required]="required">
        <mat-option>
            <ngx-mat-select-search
                [formControl]="selectSearchControl"
                [placeholderLabel]="t('selectSearchField.searchPlaceholder')"
                [noEntriesFoundLabel]="t('selectSearchField.noEntriesFoundLabel')"
            >
            </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option.value">
            {{ option.label }}
        </mat-option>
    </mat-select>
    <button *ngIf="formControl?.value" mat-icon-button matSuffix (click)="clear($event)">
        <dsh-bi icon="x" size="lg"></dsh-bi>
    </button>
</mat-form-field>
