<mat-form-field *transloco="let t">
    <mat-label>{{ label }}</mat-label>
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    <mat-select [formControl]="formControl" [required]="required">
        <mat-option>
            <ngx-mat-select-search
                [formControl]="selectSearchControl"
                [placeholderLabel]="t('searchPlaceholder')"
                [noEntriesFoundLabel]="t('noEntriesFoundLabel')"
            >
                <mat-icon *ngIf="svgIcon" [svgIcon]="svgIcon" ngxMatSelectSearchClear></mat-icon>
            </ngx-mat-select-search>
        </mat-option>
        <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option.value">
            {{ option.label }}
        </mat-option>
    </mat-select>
    <button *ngIf="formControl?.value" mat-icon-button matSuffix (click)="clear($event)">
        <ng-container *ngIf="svgIcon; else defaultIcon">
            <mat-icon [svgIcon]="svgIcon"></mat-icon>
        </ng-container>
        <ng-template #defaultIcon><mat-icon>close</mat-icon></ng-template>
    </button>
</mat-form-field>
