<div fxLayout="column" fxLayoutGap="20px">
    <dsh-search-form (formValueChanges)="search($event)"></dsh-search-form>
    <dsh-card>
        <dsh-card-content fxLayout="column" fxLayoutGap="15px">
            <dsh-last-updated (update)="refresh()" [lastUpdated]="lastUpdated$ | async"></dsh-last-updated>
            <dsh-payments-table [data]="payments$ | async"></dsh-payments-table>
            <button *ngIf="hasMorePayments$ | async" (click)="fetchMore()" dsh-button>
                {{ 'common.showMore' | lc }}
            </button>
        </dsh-card-content>
    </dsh-card>
</div>
