<ng-container *transloco="let t; scope: 'webhook'; read: 'webhook'">
    <dsh-base-dialog [title]="t('createWebhook.title')" (cancel)="cancel()">
        <dsh-create-webhook-form [form]="form"></dsh-create-webhook-form>
        <div dshBaseDialogActions fxLayout="row" fxLayoutAlign.gt-sm="end" fxLayoutAlign="stretch" *transloco="let c">
            <button
                fxFlex
                fxFlex.gt-sm="none"
                class="action-button"
                dsh-button
                color="accent"
                [disabled]="(isLoading$ | async) || !form.valid"
                (click)="save()"
            >
                {{ t('createWebhook.create') }}
            </button>
        </div>
    </dsh-base-dialog>
</ng-container>
