<h1 class="mat-headline">Детали заявки #1</h1>

<dsh-card>
    <dsh-card-content>
        <div fxLayout="row" fxLayoutAlign="space-between">
            <h2 class="mat-title">Заявка на подключение</h2>
            <h2 class="mat-title">Одобрена</h2>
        </div>
        <dsh-tab-group>
            <dsh-tab label="Обсуждения">
                <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 10px 0">
                    Последние изменения 10 минут назад
                    <a>Обновить</a>
                </div>
                <dsh-timeline>
                    <dsh-timeline-item>
                        <dsh-timeline-item-title><b class="mat-body-2">hello world</b> title</dsh-timeline-item-title>
                        <dsh-timeline-item-badge><mat-icon>create</mat-icon></dsh-timeline-item-badge>
                        <dsh-timeline-item-content>
                            <div fxLayout="column" fxLayoutGap="10px">
                                <dsh-expand-panel>
                                    Анкета юридического лица
                                    <dsh-expand-panel-content>
                                        добавили комментарий 1 час назад<br />
                                        добавили комментарий 1 час назад<br />
                                        добавили комментарий 1 час назад<br />
                                        добавили комментарий 1 час назад<br />
                                        добавили комментарий 1 час назад<br />
                                        добавили комментарий 1 час назад<br />
                                        добавили комментарий 1 час назад<br />
                                        добавили комментарий 1 час назад<br />
                                        добавили комментарий 1 час назад<br />
                                    </dsh-expand-panel-content>
                                </dsh-expand-panel>
                                <dsh-expand-panel>Анкета юридического лица</dsh-expand-panel>
                                <dsh-expand-panel>Анкета юридического лица</dsh-expand-panel>
                            </div>
                        </dsh-timeline-item-content>
                    </dsh-timeline-item>
                    <dsh-timeline-item color="success">
                        <dsh-timeline-item-title><b class="mat-body-2">hello world</b> title</dsh-timeline-item-title>
                        <dsh-timeline-item-badge><mat-icon>create</mat-icon></dsh-timeline-item-badge>
                    </dsh-timeline-item>
                    <dsh-timeline-item color="pending">
                        <dsh-timeline-item-title>
                            <b class="mat-body-2">Менеджер</b> добавили комментарий 1 час назад
                        </dsh-timeline-item-title>
                        <dsh-timeline-item-badge><mat-icon>mode_comment</mat-icon></dsh-timeline-item-badge>
                        <dsh-timeline-item-content>
                            <div>hello world</div>
                            <div>hello world</div>
                            <div>hello world</div>
                        </dsh-timeline-item-content>
                    </dsh-timeline-item>
                    <dsh-timeline-item color="warn">
                        <dsh-timeline-item-title>
                            <b class="mat-body-2">Менеджер</b> добавили комментарий 1 час назад
                        </dsh-timeline-item-title>
                        <dsh-timeline-item-badge><mat-icon>mode_comment</mat-icon></dsh-timeline-item-badge>
                        <dsh-timeline-item-content>
                            <div>hello world</div>
                            <div>hello world</div>
                            <div>hello world</div>
                        </dsh-timeline-item-content>
                    </dsh-timeline-item>
                </dsh-timeline>
                <div style="margin: 20px 0 0 0">
                    <mat-form-field style="width:100%">
                        <textarea matInput placeholder="Оставьте комментарий"></textarea>
                    </mat-form-field>
                    <button dsh-stroked-button style="float: right">Оставить комментарий</button>
                </div>
            </dsh-tab>
            <dsh-tab label="Изменения" disabled></dsh-tab>
            <dsh-tab label="Документы" disabled></dsh-tab>
        </dsh-tab-group>
    </dsh-card-content>
    <dsh-card-actions fxLayout="row" fxLayoutAlign="space-between">
        <button dsh-stroked-button color="warn">Отозвать</button>
        <button dsh-button color="accent">Отправить на рассмотрение</button>
    </dsh-card-actions>
</dsh-card>
