.dsh-file-uploader {

    &-container {
        padding: 15px 0;
        border: 2px dashed;
        box-sizing: border-box;
        border-radius: 4px;

        &-dragover {
            padding: 15px 0;
            border: 2px solid;
            box-sizing: border-box;
            border-radius: 4px;
            transition: ease 1s;
        }
    }

    &-choose-files {
        &:hover {
            cursor: pointer;
        }
    }
}
