<div
    ngfDrop
    [(files)]="files"
    (dragenter)="setDragover(true)"
    (dragleave)="setDragover(false)"
    (filesChange)="uploadFiles($event)"
    class="dsh-file-uploader-container"
    [class.dsh-file-uploader-container-dragover]="isDragover"
    fxFlex
    fxLayoutAlign="center"
>
    <div *transloco="let t; scope: 'onboarding'; read: 'onboarding.documentUpload'">
        <div *ngIf="!(isUploading$ | async); else uploading">
            {{ t.forUpload }}
            <span
                ngfSelect
                [(files)]="files"
                (filesChange)="uploadFiles($event)"
                class="dsh-file-uploader-choose-files"
                >{{ t.choose }}</span
            >.
        </div>
        <ng-template #uploading>{{ t.uploading }}</ng-template>
    </div>
</div>
