.dsh-file-uploader {
    &-container {
        border: 2px dashed;
        padding: 15px 0;
        box-sizing: border-box;
        border-radius: 4px;

        &-dragover {
            border: 2px solid;
            transition: ease 1s;
        }
    }

    &-choose-files {
        cursor: pointer;
    }
}
