<dsh-card *transloco="let t; scope: 'onboarding'; read: 'onboarding.dataFlow.stepCard'">
    <dsh-card-content fxLayout="column" fxLayoutGap="20px">
        <dsh-state-nav (selectedIdxChange)="selectStepFlowIndex($event)">
            <dsh-state-nav-item
                *ngFor="let info of stepNavInfo$ | async"
                [selected]="info.navItemSelected"
                withIcon
                icon="check"
                [status]="info.navStatus"
                [iconVisible]="info.iconVisible"
            >
                <span class="mat-body-1">{{ info.step | stepLabel: 'stepCard' }}</span>
            </dsh-state-nav-item>
        </dsh-state-nav>
        <button fxFlex dsh-button color="accent" [disabled]="!(isFlowValid$ | async)" (click)="finishFormFlow()">
            {{ t.actionLabel }}
        </button>
    </dsh-card-content>
</dsh-card>
