$height: 40px;
$border-radius: 4px;
$elements-padding: 10px;
$icon-height: 24px;
$icon-width: 24px;

:host,
.dsh-state-nav-item {
    outline: none;
}

:host {
    display: block;
    display: flex;
}

.dsh-state-nav-item {
    display: flex;
    align-items: center;
    border: none;
    width: 100%;
    padding: 0;
    margin: 0;
    height: $height;
    line-height: $height;
    border-radius: $border-radius;
    cursor: pointer;
    text-align: left;
    background-color: transparent;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: background-color 0.1s ease-out, color 0.1s ease-out;

    & > ::ng-deep * {
        margin-right: $elements-padding;
    }
}

.icon {
    &-container {
        width: $icon-width;
        height: $icon-height;
    }
}
