@import '~@angular/cdk/a11y';
@import 'tabs-common';

@mixin dsh-tabs-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .dsh-tab-label-active {
        color: map-get($background, ink-bar-color);
    }

    .dsh-tab-labels {
        border-bottom: 1px solid map-get($background, tab-header-divider);
    }

    .dsh-ink-bar {
        $height: 2px;
        $dsh-tab-animation-duration: 500ms;

        background-color: map-get($background, ink-bar-color);
        position: absolute;
        bottom: 0;
        height: $height;
        transition: $dsh-tab-animation-duration ease;

    }
}
