@import 'tabs-theme';

.dsh-tab-group {
    display: flex;
    flex-direction: column;
}

.dsh-tab-body-wrapper {
    position: relative;
    overflow: hidden;
    display: flex;
}

.dsh-tab-body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    overflow: hidden;

    // Fix for auto _content wrapping in IE11
    flex-basis: 100%;

    &.dsh-tab-body-active {
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1;
        flex-grow: 1;
    }
}
