@import '~@angular/cdk/a11y';

.dsh-tab-list {
    transform: translateX(0);
}

.dsh-tab-header {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-shrink: 0;
}

.dsh-tab-label {
    height: 40px;
    padding: 0 24px;
    cursor: pointer;
    box-sizing: border-box;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    position: relative;

    &:focus {
        outline: none;
    }

    &.dsh-tab-disabled {
        cursor: default;
    }

    .dsh-tab-label-content {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        white-space: nowrap;
    }
}
