<dsh-card>
    <dsh-card-title class="dsh-title">{{'sections.paymentDetails.payer.title' | lc}}: {{payer.contactInfo.email}}</dsh-card-title>
    <dsh-card-content>
        <div class="dsh-payer-details-container" fxLayout="row wrap" fxLayoutGap="10px" fxFlex="100">
            <dsh-detail-item [title]="'sections.paymentDetails.payer.titles.fingerprint' | lc" fxFlex.lt-sm="100" fxFlex.gt-xs="49">
                {{payer.clientInfo.fingerprint}}
            </dsh-detail-item>
            <dsh-detail-item [title]="'sections.paymentDetails.payer.titles.ip' | lc" fxFlex.lt-sm="100" fxFlex.gt-xs="49">
                {{payer.clientInfo.ip}}
            </dsh-detail-item>
        </div>
    </dsh-card-content>
</dsh-card>
