<div
    *transloco="let t; scope: 'organizations'; read: 'organizations.organizationDetails.invitations'"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <div fxLayout fxLayoutAlign="end">
        <button dsh-button color="accent" (click)="createInvitation()">
            {{ t('createInvitation') }}
        </button>
    </div>
    <ng-container *ngIf="organization$ | async as organization">
        <dsh-spinner *ngIf="isLoading$ | async; else loaded" fxFlexAlign="center"></dsh-spinner>
        <ng-template #loaded>
            <div fxLayout="column" fxLayoutGap="16px">
                <dsh-last-updated [lastUpdated]="lastUpdated$ | async" (update)="refresh()"></dsh-last-updated>
                <dsh-invitations-list
                    [invitations]="invitations$ | async"
                    [orgId]="organization.id"
                    (changed)="refresh()"
                ></dsh-invitations-list>
            </div>
        </ng-template>
    </ng-container>
</div>
<dsh-scroll-up></dsh-scroll-up>
