@import '~@angular/material/theming';

@import 'palette';
@import 'theme';

$background: (
    status-bar: black,
    app-bar: map_get($mat-grey, 900),
    background: #303030,
    card: map_get($mat-grey, 800),
    dialog: map_get($mat-grey, 800),
    disabled-button: rgba(white, 0.12),
    raised-button: map-get($mat-grey, 800),
    focused-button: $light-focused,
    selected-button: map_get($mat-grey, 900),
    selected-disabled-button: map_get($mat-grey, 800),
    disabled-button-toggle: black,
    unselected-chip: map_get($mat-grey, 700),
    disabled-list-option: black,
    hover: rgba(white, 0.04),
    /*
     * Custom
     *
 */
);

$foreground: (
    base: white,
    divider: $light-dividers,
    dividers: $light-dividers,
    disabled: $light-disabled-text,
    disabled-button: rgba(white, 0.3),
    disabled-text: $light-disabled-text,
    elevation: black,
    hint-text: $light-disabled-text,
    secondary-text: $light-secondary-text,
    icon: white,
    icons: white,
    slider-off: rgba(white, 0.3),
    slider-off-active: rgba(white, 0.3),
    /*
     * Overrides
     *
 */ text: rgba(white, 0.9),
    slider-min: rgba(white, 0.9),
    /*
     * Custom
     *
 */ contrast-text: black,
);

$theme: (
    primary: mat-palette($dsh-slateblue),
    accent: mat-palette($dsh-palegreen),
    warn: mat-palette($dsh-warn),
    is-dark: true,
    foreground: $foreground,
    background: $background,
    /*
     * Custom
     *
 */ name: 'dark',
    success: mat-palette($dsh-success),
    pending: mat-palette($dsh-pending),
    neutral: mat-palette($mat-gray),
    gray: mat-palette($mat-gray),
    success-base: mat-color(mat-palette($dsh-success), 400),
    pending-base: mat-color(mat-palette($dsh-pending), 800),
    warn-base: mat-color(mat-palette($dsh-warn), 300),
);

// TODO: Prepare for use
//@include dsh-theme($theme, $background, $foreground);
