@use '~@angular/material' as mat;
@import 'palette';
@import 'theme';

$background: (
    // Overrides
    background: #f5f5f7,
    // Custom
    hover: map-get(mat.$grey-palette, 200),
    selected-button: map-get(mat.$grey-palette, 100)
);

$foreground: (
    // Overrides
    // Custom
    contrast-text: $light-text,
    light-text: mat.get-color-from-palette(mat.define-palette(mat.$grey-palette), 500),
    border: map-get(mat.$grey-palette, 200)
);

$config: (
    // Overrides
    primary: mat.define-palette($dsh-black, 900),
    accent: mat.define-palette($dsh-black, 900),
    warn: mat.define-palette($dsh-warn, 300),
    is-dark: false,
    // Custom
    name: 'solitude',
    success-base: mat.get-color-from-palette(mat.define-palette($dsh-success), 400),
    pending-base: mat.get-color-from-palette(mat.define-palette($dsh-pending), 800),
    warn-base: mat.get-color-from-palette(mat.define-palette($dsh-warn), 300)
);

@include theme($config, $background, $foreground);
