@import '~@angular/material/theming';
@import 'variables';
@import 'palletes';

@function theme(
    $primary,
    $accent,
    $warn: mat-palette($mat-red),
    $foreground: $dsh-light-theme-foreground,
    $background: $dsh-light-theme-background
) {
    @return (
        primary: $primary,
        accent: $accent,
        warn: $warn,
        is-dark: false,
        foreground: $foreground,
        background: $background
    );
}
