$turquoise: #f1f7fb;
$white: #ffffff;

$turquoise-shadow: 0 8px 20px 0 rgba(174, 188, 230, 0.24);

$toolbar-height: 80px;

$content-max-width: 1128px;
$content-padding: 30px;

$card-background-color: $white;
$card-padding: 30px;
$card-border-radius: 4px;
$card-shadow: $turquoise-shadow;

$card-header-margin: 30px;
