.dsh-filter-button {
    border: 1px solid;
    border-radius: 32px;
    height: 32px;
    padding: 0 16px;
    background-color: transparent;
    outline: none;
    max-width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: border-color 200ms ease, color 200ms ease;

    &-content,
    &-actions {
        padding: 24px;
    }

    &-active {
        border-width: 2px;
    }

    &:enabled {
        cursor: pointer;
    }
}

:host:disabled {
    pointer-events: none;
}
