:host {
    display: block;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    margin: 20px 0;
    color: #475166;
}

.backwards {
    font-weight: 200;
    font-size: 14px;
    cursor: pointer;

    .backwards__text {
        text-decoration: underline;
    }
}
