<div
    *transloco="
        let t;
        scope: 'claim-modification-containers';
        read: 'claimModificationContainers.documentContainer.panelNames'
    "
    fxLayout="column"
    fxLayoutGap="16px"
>
    <ng-container *transloco="let common">
        <div *ngIf="isLoading$ | async">{{ common('loading') }}</div>
        <div *ngIf="error$ | async">{{ common('httpError') }}</div>
    </ng-container>
    <dsh-document-container-panel
        *ngFor="let infoItem of panelInfo$ | async"
        [title]="t(infoItem.type)"
        [expand]="expandAll"
    >
        <dsh-org-info *ngIf="infoItem.type === 'orgInfo'" [orgInfo]="infoItem.item"></dsh-org-info>
        <dsh-legal-owner-info
            *ngIf="infoItem.type === 'legalOwnerInfo'"
            [legalOwnerInfo]="infoItem.item"
        ></dsh-legal-owner-info>
        <dsh-individual-entity-info
            *ngIf="infoItem.type === 'individualEntityInfo'"
            [individualEntity]="infoItem.item"
        ></dsh-individual-entity-info>
        <dsh-international-legal-entity-info
            *ngIf="infoItem.type === 'internationalLegalEntity'"
            [internationalLegalEntity]="infoItem.item"
        ></dsh-international-legal-entity-info>
        <dsh-shop-info *ngIf="infoItem.type === 'shopInfo'" [shopInfo]="infoItem.item"></dsh-shop-info>
        <dsh-bank-account-info
            *ngIf="infoItem.type === 'bankAccountInfo'"
            [bankAccount]="infoItem.item"
        ></dsh-bank-account-info>
        <dsh-international-bank-account-info
            *ngIf="infoItem.type === 'internationalBankAccountInfo'"
            [bankAccount]="infoItem.item"
        ></dsh-international-bank-account-info>
        <dsh-contact-info *ngIf="infoItem.type === 'contactInfo'" [contactInfo]="infoItem.item"></dsh-contact-info>
    </dsh-document-container-panel>
    <dsh-document-container-panel
        *ngFor="let beneficialOwner of beneficialOwners$ | async; index as i"
        [title]="t('beneficialOwnerInfo', { num: i + 1 })"
    >
        <dsh-beneficial-owner-info [beneficialOwner]="beneficialOwner"></dsh-beneficial-owner-info>
    </dsh-document-container-panel>
</div>
