<div fxLayout="column" fxLayoutGap="10px">
    <dsh-org-info-panel *ngIf="orgInfo$ | async" [orgInfo]="orgInfo$ | async"></dsh-org-info-panel>
    <dsh-legal-owner-panel
        *ngIf="legalOwnerInfo$ | async"
        [legalOwnerInfo]="legalOwnerInfo$ | async"
    ></dsh-legal-owner-panel>
    <dsh-individual-entity-panel *ngIf="individualEntity$ | async" [individualEntity]="individualEntity$ | async">
    </dsh-individual-entity-panel>
    <dsh-shop-info-panel *ngIf="shopInfo$ | async" [shopInfo]="shopInfo$ | async"></dsh-shop-info-panel>
    <dsh-bank-account-panel *ngIf="bankAccount$ | async" [bankAccount]="bankAccount$ | async"></dsh-bank-account-panel>
    <dsh-contact-info-panel *ngIf="contactInfo$ | async" [contactInfo]="contactInfo$ | async"></dsh-contact-info-panel>
</div>
