<dsh-nested-table *transloco="let t; scope: 'organizations'; read: 'organizations.changeRolesTable'">
    <dsh-nested-table-row *transloco="let r; scope: 'organizations'; read: 'organizations.roles'">
        <dsh-nested-table-col class="dsh-body-2"></dsh-nested-table-col>
        <dsh-nested-table-col *ngFor="let roleId of roleIds" class="dsh-body-2" fxLayoutAlign="center center">{{
            r(roleId)
        }}</dsh-nested-table-col>
        <dsh-nested-table-col *ngIf="isAllowAdd">
            <button dsh-button color="accent" (click)="add()">{{ t('add') }}</button>
        </dsh-nested-table-col>
    </dsh-nested-table-row>

    <ng-container *ngIf="shops$ | async" [dshNestedTableCollapse]="true">
        <dsh-nested-table-row>
            <dsh-nested-table-col>
                <dsh-nested-table-collapse-button
                    >{{ t('shops') }} ({{ (shops$ | async).length }})</dsh-nested-table-collapse-button
                >
            </dsh-nested-table-col>
            <dsh-nested-table-col *ngFor="let roleId of roleIds">
                <mat-checkbox
                    [checked]="checkedAll(roleId) | async"
                    [disabled]="roleId === RoleId.Administrator || disableBatchChanges"
                    [indeterminate]="isIntermediate(roleId) | async"
                    (click)="toggleAll(roleId); $event.preventDefault()"
                ></mat-checkbox>
            </dsh-nested-table-col>
        </dsh-nested-table-row>
        <dsh-nested-table-group *dshNestedTableCollapseBody [displayedCount]="10">
            <dsh-nested-table-row *ngFor="let shop of shops$ | async">
                <dsh-nested-table-col>{{ shop.details.name }}</dsh-nested-table-col>
                <dsh-nested-table-col *ngFor="let roleId of roleIds">
                    <mat-checkbox
                        [checked]="checked(roleId, shop.id) | async"
                        [disabled]="roleId === RoleId.Administrator"
                        (click)="toggle(roleId, shop.id); $event.preventDefault()"
                    ></mat-checkbox>
                </dsh-nested-table-col>
            </dsh-nested-table-row>
        </dsh-nested-table-group>
    </ng-container>

    <dsh-nested-table-row *ngIf="isAllowRemoves">
        <dsh-nested-table-col class="dsh-body-2"></dsh-nested-table-col>
        <dsh-nested-table-col class="dsh-body-2" *ngFor="let roleId of roleIds" fxLayoutAlign="center center">
            <button
                *ngIf="roleId === RoleId.Administrator || !disableBatchChanges"
                dsh-button
                color="warn"
                (click)="remove(roleId)"
            >
                {{ t('remove') }}
            </button>
        </dsh-nested-table-col>
    </dsh-nested-table-row>
</dsh-nested-table>
