<div fxLayout="column" fxLayoutGap="24px" *transloco="let t; scope: 'operations'; read: 'operations.invoices.actions'">
    <div class="mat-title">
        {{ t('title') }}
    </div>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap="24px">
        <ng-container *ngIf="invoice.status === 'unpaid'">
            <button dsh-button color="accent" (click)="createPaymentLink()">{{ t('createPaymentLink') }}</button>
            <button dsh-button color="warn" (click)="cancelInvoice()">{{ t('cancelInvoice') }}</button>
        </ng-container>
        <ng-container *ngIf="invoice.status === 'paid'">
            <button dsh-button color="accent" (click)="fulfillInvoice()">{{ t('fulfillInvoice') }}</button>
        </ng-container>
    </div>
</div>
