<ng-container *transloco="let t; scope: 'claim'; read: 'claim'">
    <h1 class="mat-headline">{{ t?.details }} #{{ claimID$ | async }}</h1>

    <dsh-card>
        <dsh-card-content>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <h2 class="mat-title">{{ t.request }}</h2>
                <dsh-status
                    *transloco="let statuses; read: 'claimStatus'"
                    [color]="(claimStatusViewInfo$ | async)?.color"
                    class="mat-title"
                    mark="false"
                >
                    {{ statuses[((claimStatusViewInfo$ | async)?.status)] }}
                </dsh-status>
            </div>
            <nav dsh-tab-nav-bar>
                <a
                    dsh-tab-link
                    *ngFor="let link of links"
                    [routerLink]="link.path"
                    routerLinkActive
                    #rla="routerLinkActive"
                    [active]="rla.isActive"
                >
                    {{ t[link.path].label }}
                </a>
            </nav>
            <div>
                <router-outlet></router-outlet>
            </div>
        </dsh-card-content>
        <dsh-card-actions fxLayout="row" fxLayoutAlign="space-between">
            <button dsh-stroked-button color="warn">{{ t.recall }}</button>
            <button dsh-button color="accent">{{ t.placeBefore }}</button>
        </dsh-card-actions>
    </dsh-card>
</ng-container>
