<div *transloco="let t; scope: 'claim'; read: 'claim'" class="container">
    <div *ngIf="!(claimReceived$ | async) && !(error$ | async)" fxLayout fxLayoutAlign="center center">
        <dsh-spinner></dsh-spinner>
    </div>
    <div *ngIf="(claimReceived$ | async) && !(error$ | async)" fxLayout="column" fxLayoutGap="20px">
        <h1 class="mat-display-1">
            {{ t('details') }} <span dshSecondaryTitle> #{{ claimID$ | async }} </span>
        </h1>
        <dsh-card>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <h2 *transloco="let claimType; read: 'claimType'" class="mat-title">
                    {{ claimType(claimType$ | async) }}
                </h2>
                <dsh-status
                    *transloco="let claimStatus; read: 'claimStatus'"
                    [color]="claimStatusColor$ | async"
                    class="mat-title"
                    mark="false"
                >
                    {{ claimStatus(claimStatus$ | async) }}
                </dsh-status>
            </div>
            <div fxLayout="column" fxLayoutGap="20px">
                <dsh-conversation></dsh-conversation>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <div>
                        <button
                            *ngIf="revokeAvailable$ | async"
                            dsh-stroked-button
                            color="warn"
                            (click)="revokeClaim()"
                        >
                            {{ t('revokeClaim') }}
                        </button>
                    </div>
                    <div>
                        <button
                            *ngIf="reviewAvailable$ | async"
                            [disabled]="reviewInProgress$ | async"
                            dsh-button
                            color="accent"
                            (click)="reviewClaim()"
                        >
                            {{ t('reviewClaim') }}
                        </button>
                    </div>
                </div>
            </div>
        </dsh-card>
    </div>
</div>
