<div class="container">
    <dsh-toolbar></dsh-toolbar>
    <div class="nav">
        <button routerLink="/onboarding">Заявка на подключение</button>
        <button routerLink="/analytics">Графики</button>
        <button routerLink="/table">Таблица</button>
        <button routerLink="/buttons">Кнопки</button>
        <button routerLink="/button-toggle">Тоглокнопки</button>
        <button routerLink="/inputs">Поля ввода</button>
    </div>
    <div class="content">
        <ng-content></ng-content>
    </div>
</div>
