<div class="container">
    <dsh-toolbar></dsh-toolbar>
    <div fxLayout="row" fxLayoutGap="20px">
        <dsh-side-menu fxFlex="180px">
            <dsh-side-menu-item
                routerLink="/onboarding"
                routerLinkActive
                #onboarding="routerLinkActive"
                [active]="onboarding.isActive"
                >Заявка на подключение</dsh-side-menu-item
            >
            <dsh-side-menu-item
                routerLink="/analytics"
                routerLinkActive
                #analytics="routerLinkActive"
                [active]="analytics.isActive"
                >Графики</dsh-side-menu-item
            >
            <dsh-side-menu-item routerLink="/table" routerLinkActive #table="routerLinkActive" [active]="table.isActive"
                >Таблица</dsh-side-menu-item
            >
            <dsh-side-menu-item
                routerLink="/buttons"
                routerLinkActive
                #buttons="routerLinkActive"
                [active]="buttons.isActive"
                >Кнопки</dsh-side-menu-item
            >
            <dsh-side-menu-item
                routerLink="/inputs"
                routerLinkActive
                #inputs="routerLinkActive"
                [active]="inputs.isActive"
                >Поля ввода</dsh-side-menu-item
            >
        </dsh-side-menu>
        <div class="content" fxFlex>
            <ng-content></ng-content>
        </div>
    </div>
</div>
