<ng-container *ngIf="form">
    <ng-container *transloco="let t; scope: 'payment-details'; read: 'paymentDetails.holdDetails'">
        <dsh-base-dialog [title]="t('cancelTitle')" (cancel)="decline()">
            <form fxLayout="column" [formGroup]="form">
                <mat-form-field>
                    <mat-label>{{ t('reason') }}</mat-label>
                    <input aria-label="reason" matInput type="text" formControlName="reason" required />
                </mat-form-field>
            </form>
            <div dshBaseDialogActions *transloco="let c" fxLayoutGap="20px">
                <button dsh-stroked-button color="warn" fxFlex (click)="decline()">{{ c('cancel') }}</button>
                <button dsh-stroked-button color="accent" [disabled]="form.invalid" fxFlex (click)="confirm()">
                    {{ c('confirm') }}
                </button>
            </div>
        </dsh-base-dialog>
    </ng-container>
</ng-container>
