.donut-chart {
    height: 420px;
}

.back-selection-icon {
    cursor: pointer;
}

.interactive-errors-chart ::ng-deep {
    .apexcharts-legend-series,
    .apexcharts-legend-marker,
    .apexcharts-pie-series {
        cursor: pointer !important;
    }
}
