<dsh-card *transloco="let c">
    <dsh-card-title fxLayoutAlign="space-between">
        <h1 class="mat-title">{{ title }}</h1>
        <dsh-spinner *ngIf="isLoading" size="30" [type]="spinnerType"></dsh-spinner>
    </dsh-card-title>
    <dsh-card-content *transloco="let t; scope: 'payment-section'; read: 'paymentSection.analytics'" fxFlexFill>
        <div fxFlexFill fxFlex *ngIf="!error; else onError">
            <div fxFlexFill>
                <div *ngIf="selectedErrorTitle" fxLayout fxLayoutAlign="start center" fxLayoutGap="10px">
                    <dsh-bi
                        icon="arrow-left"
                        size="sm"
                        class="back-selection-icon"
                        (click)="goBackDataSelection()"
                    ></dsh-bi>
                    <div class="mat-caption">{{ selectedErrorTitle }}</div>
                </div>
                <div *ngIf="selectedErrorTitle && chartData?.series?.length === 0; else usualData">
                    <dsh-donut-chart
                        [series]="[100]"
                        [labels]="[selectedErrorTitle]"
                        [colors]="colors"
                    ></dsh-donut-chart>
                </div>
                <ng-template #usualData>
                    <dsh-donut-chart
                        *ngIf="chartData?.series?.length; else noData"
                        class="interactive-errors-chart"
                        [series]="chartData.series"
                        [labels]="chartData.labels"
                        [colors]="colors"
                        (dataSelect)="updateDataSelection($event)"
                    ></dsh-donut-chart>
                    <ng-template #noData>
                        <div fxFlexFill fxLayoutAlign="center center">{{ t('noData') }}</div>
                    </ng-template>
                </ng-template>
            </div>
        </div>
        <ng-template #onError>
            <div fxFlexFill fxLayoutAlign="center center">{{ c('httpError') }}</div>
        </ng-template>
    </dsh-card-content>
</dsh-card>
