<dsh-card class="donut-chart" *transloco="let c">
    <dsh-card-title fxLayoutAlign="space-between">
        <h1 class="mat-title">{{ title }}</h1>
        <dsh-spinner *ngIf="isLoading" size="30" [type]="spinnerType"></dsh-spinner>
    </dsh-card-title>
    <dsh-card-content *transloco="let t; scope: 'payment-section'; read: 'paymentSection.analytics'" fxFlexFill>
        <div fxFlexFill *ngIf="!error; else onError">
            <dsh-donut-chart
                *ngIf="chartData?.labels?.length; else noData"
                [series]="chartData.series"
                [labels]="chartData.labels"
            ></dsh-donut-chart>
            <ng-template #noData>
                <div fxFlexFill fxLayoutAlign="center center">{{ t.noData }}</div>
            </ng-template>
        </div>
        <ng-template #onError>
            <div fxFlexFill fxLayoutAlign="center center">{{ c.httpError }}</div>
        </ng-template>
    </dsh-card-content>
</dsh-card>
