<div
    gdColumns="1fr"
    gdColumns.gt-sm="1fr 1fr 1fr"
    gdGap="24px"
    *transloco="let t; scope: 'operations'; read: 'operations.invoices.cartInfo'"
>
    <dsh-details-item gdColumn="1/-1" [title]="t('description')">
        {{ line.product }}
    </dsh-details-item>
    <dsh-details-item [title]="t('price')">
        {{ line.price | toMajor | currency: currency }}
    </dsh-details-item>
    <dsh-details-item [title]="t('quantity')">
        {{ line.quantity }}
    </dsh-details-item>
    <dsh-details-item *ngIf="line.taxMode" [title]="t('tax')">
        {{ line.taxMode | taxModeToTaxRate }}
    </dsh-details-item>
</div>
