<div *transloco="let t; scope: 'onboarding'" class="container" fxLayout="column" fxLayoutGap="32px">
    <div fxLayout="column" fxLayoutGap="8px">
        <h1 class="dsh-display-1">{{ t('onboarding.headline') }}</h1>
        <ol dsh-breadcrumb>
            <li dsh-breadcrumb-item>
                <a dshTextColor="secondary" [routerLink]="['/claims']">{{ t('onboarding.breadcrumbs.claims') }}</a>
            </li>
            <li dsh-breadcrumb-item>{{ t('onboarding.breadcrumbs.onboardingClaim') }}</li>
        </ol>
    </div>
    <dsh-card fxLayout="column" fxLayoutGap="16px">
        <div fxLayout="column" fxLayoutGap="32px">
            <h2 class="dsh-headline">{{ t('onboarding.companySearch.title') }}</h2>
            <dsh-dadata-autocomplete
                type="party"
                [formControl]="searchControl"
                [label]="t('onboarding.companySearch.searchFieldLabel')"
                (optionSelected)="updateSuggestion($event)"
                (errorOccurred)="searchSuggestionError()"
                (suggestionNotFound)="suggestionNotFound()"
            ></dsh-dadata-autocomplete>
        </div>
        <div fxLayout="column" fxLayoutGap="32px">
            <dsh-company-details *ngIf="content && !manualContractorSelector" [content]="content"></dsh-company-details>
            <dsh-manual-contractor-selector
                *ngIf="manualContractorSelector"
                (contractorTypeSelected)="manualContractorTypeSelected($event)"
            ></dsh-manual-contractor-selector>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button fxFlex="125px" dsh-stroked-button color="accent" (click)="leaveOnboarding()">
                    {{ t('back') }}
                </button>
                <button fxFlex="125px" dsh-button color="accent" [disabled]="!(data$ | async)" (click)="next()">
                    {{ t('next') }}
                </button>
            </div>
        </div>
    </dsh-card>
</div>
