$dsh-company-search-padding: 80px 0 0 0;
$dsh-company-search-max-width: 936px;

.container {
    padding: $dsh-company-search-padding;
    max-width: $dsh-company-search-max-width;
    margin: 0 auto;
}
