<div *transloco="let p; scope: 'shops'; read: 'shops.panel'" fxLayout="column" fxLayoutGap="24px">
    <dsh-details-item [title]="p('name')" fxFlex fxFlex.lt-md="100">{{ shop.details.name }}</dsh-details-item>
    <dsh-details-item [title]="p('url')" fxFlex fxFlex.lt-md="100">{{ shop.location.url }}</dsh-details-item>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between" fxLayoutGap="24px">
        <dsh-details-item [title]="p('balance')" fxFlex fxFlex.lt-md="100">
            <dsh-shop-balance [shop]="shop"></dsh-shop-balance>
        </dsh-details-item>
        <dsh-details-item [title]="p('createdAt')" fxFlex fxFlex.lt-md="100">{{
            shop.createdAt | date: 'dd MMMM yyyy, HH:mm:ss'
        }}</dsh-details-item>
        <dsh-details-item [title]="p('category')" fxFlex fxFlex.lt-md="100">{{
            (category$ | async)?.name
        }}</dsh-details-item>
    </div>
</div>
