<div *transloco="let p; scope: 'shops'; read: 'shops.panel'" gdColumns="1fr" gdColumns.gt-md="1fr 1fr 1fr" gdGap="24px">
    <dsh-details-item [title]="p('name')" gdColumn.gt-sm="1/-1">{{ shop.details.name }}</dsh-details-item>
    <dsh-details-item [title]="p('url')" gdColumn.gt-sm="1/-1">{{ shopUrl }}</dsh-details-item>
    <!--    <dsh-details-item [title]="p('balance')">-->
    <!--        <dsh-shop-balance [shop]="shop"></dsh-shop-balance>-->
    <!--    </dsh-details-item>-->
    <dsh-details-item [title]="p('createdAt')">{{ shop.createdAt | date: 'dd MMMM yyyy, HH:mm:ss' }}</dsh-details-item>
    <dsh-details-item [title]="p('category')">{{ (category$ | async)?.name }}</dsh-details-item>
</div>
