<form [formGroup]="form" fxLayout="column">
    <mat-form-field fxFlex>
        <mat-label>{{ label }}</mat-label>
        <input matInput formControlName="search" />
    </mat-form-field>
    <div
        class="items"
        [ngClass]="{ 'items-overflow': (displayedItemsIdx$ | async)?.length > 5 }"
        *ngIf="(displayedItemsIdx$ | async)?.length"
        fxLayout="column"
        fxLayoutGap="14px"
    >
        <mat-checkbox *ngFor="let idx of displayedItemsIdx$ | async" [formControl]="itemsForm.controls[idx]">
            {{ items[idx].label || items[idx].value }}
        </mat-checkbox>
    </div>
</form>
