<div class="form" fxLayout="column" fxLayoutGap="8px">
    <mat-form-field fxFlex>
        <mat-label>{{ label }}</mat-label>
        <input matInput [formControl]="searchControl" />
    </mat-form-field>
    <div
        class="items"
        [ngClass]="{ 'items-overflow': (displayedItems$ | async)?.length > 5 }"
        *ngIf="(displayedItems$ | async)?.length"
        fxLayout="column"
        fxLayoutGap="16px"
    >
        <mat-checkbox
            *ngFor="let item of displayedItems$ | async"
            [checked]="(currentSelectedItemsById$ | async)[item.id]"
            (change)="toggle(item.id)"
        >
            {{ item.label }}
        </mat-checkbox>
    </div>
</div>
