$max-height: 272px;
$width: 312px;

.form {
    width: $width;
    max-height: $max-height;

    .items {
        overflow: hidden;

        &-overflow {
            overflow-y: auto;
        }
    }
}
