$width: 312px;
$item-height: 39px;
$displayed-items: 5;

:host {
    display: block;
    width: $width;

    .items {
        overflow: hidden;

        &-overflow {
            overflow-y: auto;
            max-height: $item-height * $displayed-items;
        }
    }
}
