.mobile-navigation {
    &-node {
        display: block;

        a {
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            text-decoration: none;
        }

        &-parent {
            cursor: pointer;

            & > .mobile-navigation-node-wrap > .mat-icon {
                user-select: none;
            }
        }

        &-wrap {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 8px 0;

            .mobile-navigation-node-title-bold {
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px;
            }
        }

        &--hidden {
            display: none;
        }
    }
}
