<div fxLayout="column" fxLayoutGap="32px" *transloco="let t; scope: 'wallet-webhooks'; read: 'walletWebhooks'">
    <div class="mat-headline">{{ t.createWebhook.title }}</div>
    <mat-dialog-content>
        <form [formGroup]="form" fxLayout="column" fxLayoutGap="24px">
            <div fxLayout="column" fxLayoutGap="16px">
                <mat-form-field fxFlex>
                    <mat-label>{{ t.createWebhook.identity }}</mat-label>
                    <mat-select formControlName="identityID" required>
                        <mat-option *ngFor="let identity of identities$ | async" [value]="identity.id">
                            {{ identity.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>{{ t.createWebhook.url }}</mat-label>
                    <input formControlName="url" matInput type="text" autocomplete="off" required />
                </mat-form-field>
            </div>
            <mat-divider></mat-divider>
            <div class="mat-title">{{ t.createWebhook.eventType }}</div>
            <mat-radio-group
                fxLayout
                fxLayoutGap="24px"
                formControlName="eventType"
                (change)="eventTypeChange($event.value)"
            >
                <mat-radio-button
                    fxFlex
                    [checked]="(activeTopic$ | async) === 'WithdrawalsTopic'"
                    value="WithdrawalsTopic"
                    >{{ t.createWebhook.eventTypes.withdrawal }}</mat-radio-button
                >
                <mat-radio-button
                    fxFlex
                    [checked]="(activeTopic$ | async) === 'DestinationsTopic'"
                    value="DestinationsTopic"
                    >{{ t.createWebhook.eventTypes.destination }}</mat-radio-button
                >
            </mat-radio-group>
            <mat-form-field *ngIf="(activeTopic$ | async) === 'WithdrawalsTopic'" fxFlex>
                <mat-label>{{ t.createWebhook.wallet }}</mat-label>
                <mat-select formControlName="walletID">
                    <mat-option *transloco="let c">
                        {{ c.any }}
                    </mat-option>
                    <mat-option *ngFor="let wallet of wallets$ | async" [value]="wallet.id">
                        {{ wallet.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-divider></mat-divider>
            <div fxLayout="column" fxLayoutGap="8px">
                <div class="mat-title">{{ t.createWebhook.events }}</div>
                <div class="mat-caption">{{ t.createWebhook.types }}</div>
            </div>
            <div formArrayName="eventTypes" fxLayout="column" fxLayoutGap="16px">
                <div *ngFor="let eventType of eventTypes.controls; let i = index" [formGroupName]="i">
                    <mat-checkbox formControlName="selected" class="mat-body-1">{{
                        t.events.types[eventType.controls.eventName.value]
                    }}</mat-checkbox>
                </div>
            </div>
        </form>
    </mat-dialog-content>
    <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center" *transloco="let c">
        <button class="action-button" dsh-stroked-button color="accent" (click)="cancel()">{{ c.cancel }}</button>
        <button
            class="action-button"
            dsh-button
            color="accent"
            [disabled]="(isLoading$ | async) || !form.valid"
            (click)="save()"
        >
            {{ t.createWebhook.create }}
        </button>
    </mat-dialog-actions>
</div>
