<dsh-row gdColumns="repeat(3, 1fr)" gdColumns.gt-sm="repeat(4, 1fr)" gdAlignColumns="center center" gdGap="24px">
    <dsh-row-label>
        {{ payout.createdAt | date: 'dd MMMM yyyy, HH:mm' }}
    </dsh-row-label>
    <dsh-row-label>
        {{ payout.amount | toMajor | currency: payout.currency }}
    </dsh-row-label>
    <dsh-row-label>{{ payout?.payoutToolDetails?.detailsType | payoutToolDetailsType }}</dsh-row-label>
    <dsh-row-label fxHide.lt-md>
        {{ payout.shopID | shopDetails }}
    </dsh-row-label>
</dsh-row>
