<dsh-row
    *transloco="let claims; scope: 'claims'; read: 'claims'"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="24px"
    color="primary"
>
    <dsh-row-header-label fxFlex>#</dsh-row-header-label>
    <dsh-row-header-label fxFlex> {{ claims('panel.status') }} </dsh-row-header-label>
    <dsh-row-header-label fxFlex> {{ claims('panel.createdAt') }} </dsh-row-header-label>
    <dsh-row-header-label fxFlex> {{ claims('panel.updatedAt') }} </dsh-row-header-label>
</dsh-row>
