<dsh-row
    *transloco="let claims; scope: 'claims'; read: 'claims'"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="24px"
    color="primary"
>
    <dsh-row-header-label fxFlex="8">#</dsh-row-header-label>
    <dsh-row-header-label fxFlex="16"> {{ claims('panel.status') }} </dsh-row-header-label>
    <dsh-row-header-label fxFlex="30"> {{ claims('panel.createdAt') }} </dsh-row-header-label>
    <dsh-row-header-label fxFlex="30" fxHide.lt-md> {{ claims('panel.updatedAt') }} </dsh-row-header-label>
    <div fxFlex="16"></div>
</dsh-row>
