<ng-container *transloco="let t; scope: 'withdrawals'; read: 'withdrawals.filters'">
    <div fxLayout="column" fxLayoutGap="16px">
        <div class="dsh-title" fxFlex>{{ t('amount') }}</div>
        <form [formGroup]="formControl" gdColumns.gt-sm="1fr 1fr" gdColumns="1fr" gdGap="0 24px">
            <mat-form-field>
                <mat-label>{{ t('amountFrom') }}</mat-label>
                <input matInput type="number" formControlName="amountFrom" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ t('amountTo') }}</mat-label>
                <input matInput type="number" formControlName="amountTo" />
            </mat-form-field>
        </form>
    </div>
</ng-container>
