<div
    *transloco="let p; scope: 'create-shop'; read: 'createShop.russianLegalEntity.contracts'"
    fxLayout="column"
    fxLayoutGap="16px"
>
    <h2 class="dsh-title">{{ p('title') }}</h2>
    <dsh-shop-autocomplete-field
        required
        [label]="p('useShop')"
        [formControl]="shopControl"
    ></dsh-shop-autocomplete-field>

    <ng-container class="dsh-body-1" *transloco="let t">
        <div *ngIf="isLoading$ | async; else (hasError$ | async) ? error : loaded" class="dsh-body-1">
            {{ t('loading') }}
        </div>
        <ng-template #error>
            <div class="dsh-body-1">{{ t('errors.common') }}</div>
        </ng-template>
        <ng-template #loaded>
            <ng-container *transloco="let d; scope: 'api-model-details'; read: 'apiModelDetails.russianLegalEntity'">
                <div *ngIf="contract$ | async as data" fxLayout fxLayoutGap="24px">
                    <dsh-details-item fxFlex [title]="d('registeredName')">
                        {{ data.contractor.registeredName }}
                    </dsh-details-item>
                    <dsh-details-item fxFlex [title]="d('inn')">
                        {{ data.contractor.inn }}
                    </dsh-details-item>
                </div>
            </ng-container>
        </ng-template>
    </ng-container>
</div>
