<div
    *transloco="let t; scope: 'organizations'; read: 'organizations.createInvitationDialog'"
    fxLayout="column"
    fxLayoutGap="32px"
>
    <div class="dsh-headline">{{ t('title') }}</div>
    <div fxLayout fxLayoutGap="24px" [formGroup]="form">
        <mat-form-field fxFlex>
            <mat-label>{{ t('form.email') }}</mat-label>
            <input formControlName="email" matInput type="text" autocomplete="off" required />
        </mat-form-field>
        <mat-form-field fxFlex>
            <mat-label>{{ t('form.expiresAt') }}</mat-label>
            <input
                formControlName="expiresAt"
                matInput
                [matDatepicker]="dateDatepicker"
                type="text"
                autocomplete="off"
                required
            />
            <mat-datepicker-toggle matSuffix [for]="dateDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #dateDatepicker></mat-datepicker>
        </mat-form-field>
    </div>
    <div fxLayout fxLayoutGap="24px">
        <button
            *transloco="let c"
            fxFlex
            dsh-stroked-button
            color="warn"
            [disabled]="inProgress$ | async"
            (click)="cancel()"
        >
            {{ c('cancel') }}
        </button>
        <button fxFlex dsh-button color="accent" [disabled]="form.invalid || (inProgress$ | async)" (click)="create()">
            {{ t('create') }}
        </button>
    </div>
</div>
