<div *transloco="let t; scope: 'wallets'; read: 'wallets.walletWithdrawals'" fxLayout="column" fxLayoutGap="16px">
    <div class="dsh-subheading-1">
        {{ t('withdrawal') }} <span dshTextColor="secondary">#{{ withdrawal.id }}</span>
    </div>
    <div gdColumns="1fr" gdColumns.gt-sm="1fr 1fr 1fr" gdGap="24px">
        <dsh-details-item [title]="t('amount')">{{
            withdrawal.body.amount | toMajor | currency: withdrawal.body.currency
        }}</dsh-details-item>
        <dsh-details-item [title]="t('fee')">{{
            withdrawal.fee.amount | toMajor | currency: withdrawal.fee.currency
        }}</dsh-details-item>
        <dsh-details-item [title]="t('total')">{{
            withdrawal.body.amount - withdrawal.fee.amount | toMajor | currency: withdrawal.body.currency
        }}</dsh-details-item>
        <dsh-details-item [title]="t('status')"
            ><dsh-status [color]="withdrawal.status | withdrawalStatusColor">{{
                withdrawal.status | withdrawalStatusName
            }}</dsh-status></dsh-details-item
        >
        <dsh-details-item [title]="t('createdAt')">{{
            withdrawal.createdAt | date: 'dd MMMM yyyy, HH:mm'
        }}</dsh-details-item>
        <dsh-details-item gdColumn.gt-sm="1/-1" *ngIf="withdrawal.failure" [title]="t('error')">{{
            withdrawal.failure.code
        }}</dsh-details-item>
    </div>
</div>
