<form
    [formGroup]="form"
    fxLayout="column"
    fxLayoutGap="20px"
    *transloco="let t; scope: 'onboarding'; read: 'onboarding.dataFlow.pdlInfo'"
>
    <div class="mat-body-2">{{ t('pdlCategoryDescription') }}</div>
    <section class="checkbox-section" fxLayout="column" fxLayoutGap="20px">
        <mat-checkbox formControlName="pdlCategory">{{ t('pdlCategory') }}</mat-checkbox>
        <mat-checkbox [checked]="isPdlRelationDegreeVisible" (change)="pdlRelationDegreeChange($event)">{{
            t('pdlRelationDegreeCheckbox')
        }}</mat-checkbox>
        <mat-form-field *ngIf="isPdlRelationDegreeVisible" fxFlex>
            <mat-label>{{ t('pdlRelationDegree') }}</mat-label>
            <input matInput formControlName="pdlRelationDegree" />
        </mat-form-field>
    </section>
</form>
