<dsh-filters-group [formGroup]="form">
    <dsh-date-range-filter
        formControlName="dateRange"
        [default]="defaultDateRange"
        [maxDate]="defaultDateRange.end"
    ></dsh-date-range-filter>
    <dsh-currency-filter
        *ngIf="(currencies$ | async)?.length > 1"
        [currencies]="currencies$ | async"
        formControlName="currency"
    ></dsh-currency-filter>
    <dsh-shops-filter [shops]="shopsByCurrency$ | async" formControlName="shopIDs"></dsh-shops-filter>
</dsh-filters-group>
