<dsh-filters-group [formGroup]="form">
    <dsh-date-range-filter
        formControlName="dateRange"
        [default]="defaultDateRange"
        [maxDate]="defaultDateRange.end"
    ></dsh-date-range-filter>
    <dsh-currency-filter
        fxHide.lt-md
        *ngIf="(currencies$ | async)?.length > 1"
        [currencies]="currencies$ | async"
        [selected]="(filters$ | async)?.currency"
        (selectedChange)="currencySelectionChange($event)"
    ></dsh-currency-filter>
    <dsh-shops-filter [shops]="shopsByCurrency$ | async" formControlName="shopIDs" fxHide.lt-md></dsh-shops-filter>
</dsh-filters-group>
