:host {
    display: flex;
    align-items: center;
    min-height: 32px;
    padding: 8px;
    overflow: auto;

    & > ::ng-deep button,
    & > ::ng-deep mat-checkbox,
    & > ::ng-deep mat-radio-button {
        margin: auto;
    }

    & > ::ng-deep mat-checkbox,
    & > ::ng-deep mat-radio-button {
        display: flex;

        & * {
            padding: 0;
            margin: 0;
        }
    }

    & > ::ng-deep button {
        width: 100%;
    }
}
