<div
    *transloco="let t; scope: 'api-model-details'; read: 'apiModelDetails.russianLegalEntity'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="24px">
        <dsh-details-item fxFlex="33" fxFlex.lt-md="100" [title]="t.registeredName">
            {{ russianLegalEntity?.registeredName }}
        </dsh-details-item>
        <dsh-details-item fxFlex="33" fxFlex.lt-md="100" [title]="t.inn">
            {{ russianLegalEntity?.inn }}
        </dsh-details-item>
        <dsh-details-item fxFlex="33" fxFlex.lt-md="100" [title]="t.registeredNumber">
            {{ russianLegalEntity?.registeredNumber }}
        </dsh-details-item>
    </div>
    <dsh-details-item [title]="t.actualAddress">
        {{ russianLegalEntity?.actualAddress }}
    </dsh-details-item>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="24px">
        <dsh-details-item fxFlex="33" fxFlex.lt-md="100" [title]="t.representativePosition">
            {{ russianLegalEntity?.representativePosition }}
        </dsh-details-item>
        <dsh-details-item fxFlex="33" fxFlex.lt-md="100" [title]="t.representativeFullName">
            {{ russianLegalEntity?.representativeFullName }}
        </dsh-details-item>
        <dsh-details-item fxFlex="33" fxFlex.lt-md="100" [title]="t.representativeDocument">
            {{ russianLegalEntity?.representativeDocument }}
        </dsh-details-item>
    </div>
    <mat-divider></mat-divider>
    <dsh-bank-account-details [bankAccount]="russianLegalEntity?.bankAccount"></dsh-bank-account-details>
</div>
