<dsh-row
    *transloco="let t; scope: 'operations'; read: 'operations.refunds.headerRow'"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    fxLayoutGap="24px"
    color="primary"
>
    <dsh-row-header-label fxFlex>{{ t('amount') }}</dsh-row-header-label>
    <dsh-row-header-label fxFlex fxHide.lt-md>{{ t('status') }}</dsh-row-header-label>
    <dsh-row-header-label fxFlex>{{ t('updatedAt') }}</dsh-row-header-label>
    <dsh-row-header-label fxFlex fxHide.lt-md> {{ t('shop') }} </dsh-row-header-label>
</dsh-row>
