<dsh-card>
    <div *ngIf="!error; else onError" fxLayout="column" fxLayoutGap="5px">
        <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="10px">
            <h1 class="mat-title">
                <div *ngIf="statData; else noData">
                    {{ statData.current | currency: statData.currency:'symbol':'1.0-2' }}
                </div>
                <ng-template #noData>
                    no data
                </ng-template>
            </h1>
            <dsh-spinner *ngIf="isLoading" size="20"></dsh-spinner>
        </div>
        <div class="mat-caption dsh-stat-item-title">{{ subtitle }}</div>
        <div *ngIf="isLoading; else afterLoad">-</div>
        <ng-template #afterLoad>
            <dsh-percent-difference
                *ngIf="statData as statData"
                [current]="statData.current"
                [previous]="statData.previous"
            ></dsh-percent-difference>
        </ng-template>
    </div>
    <ng-template #onError>
        error
    </ng-template>
</dsh-card>
