<dsh-scroll-up></dsh-scroll-up>
<div
    class="dsh-withdrawals"
    *transloco="let d; scope: 'withdrawals'; read: 'withdrawals'"
    fxLayout="column"
    fxLayoutGap="20px"
>
    <h1 class="mat-display-1" *transloco="let t; scope: 'withdrawals'; read: 'withdrawals'">{{ t('title') }}</h1>
    <dsh-search-form></dsh-search-form>
    <dsh-withdrawals-list
        [withdrawals]="withdrawals$ | async"
        [expandedId]="expandedId$ | async"
        (expandedIdChange)="expandedIdChange($event)"
        [lastUpdated]="lastUpdated$ | async"
        (refreshData)="refresh()"
    ></dsh-withdrawals-list>
    <dsh-show-more-panel *ngIf="hasMore$ | async" (showMore)="fetchMore()" [isLoading]="isLoading$ | async">
    </dsh-show-more-panel>
    <div *ngIf="!(withdrawals$ | async)?.length && !(doAction$ | async)" class="mat-headline dsh-withdrawals-empty">
        <ng-container *transloco="let t">
            {{ t('emptySearchResult') }}
        </ng-container>
    </div>
    <div *ngIf="isLoading$ | async" fxLayout fxFlexAlign="center">
        <dsh-spinner></dsh-spinner>
    </div>
</div>
