<div fxFlex fxLayoutAlign="center">
    <div class="dsh-claims" fxLayout="column" [fxLayoutGap]="layoutGap">
        <dsh-headline>
            <div *transloco="let t; scope: 'claims'; read: 'claims'">
                {{ t('title') }}
            </div>
        </dsh-headline>
        <dsh-card>
            <dsh-card-content>
                <dsh-search-form (formValueChanges)="search($event)"></dsh-search-form>
            </dsh-card-content>
        </dsh-card>
        <dsh-claims-list
            [lastUpdated]="lastUpdated$ | async"
            [hasMore]="hasMore$ | async"
            [isLoading]="isLoading$ | async"
            [claimList]="tableData$ | async"
            (refresh)="refresh()"
            (showMore)="fetchMore()"
        ></dsh-claims-list>
    </div>
</div>
