<div fxLayout="column" [fxLayoutGap]="layoutGap">
    <dsh-card>
        <dsh-card-content>
            <dsh-search-form (formValueChanges)="search($event)"></dsh-search-form>
        </dsh-card-content>
    </dsh-card>
    <dsh-card>
        <dsh-card-content *transloco="let c" fxLayout="column" fxLayoutGap="10px">
            <dsh-claims-table [data]="tableData$ | async"></dsh-claims-table>
            <dsh-spinner
                *ngIf="isLoading$ | async"
                [type]="spinnerType"
                fxFlex
                fxLayoutAlign="center center"
                size="20"
            ></dsh-spinner>
            <button *ngIf="hasMore$ | async" (click)="fetchMore()" dsh-button>
                {{ (isLoading$ | async) ? c.loading : c.showMore }}
            </button>
        </dsh-card-content>
    </dsh-card>
</div>
