<div
    *transloco="
        let t;
        scope: 'claim-modification-containers';
        read: 'claimModificationContainers.documentContainer.internationalLegalEntity'
    "
    fxLayout="column"
    fxLayoutGap="20px"
>
    <dsh-details-item *ngIf="internationalLegalEntity?.legalName" [title]="t.legalName">
        {{ internationalLegalEntity.legalName }}
    </dsh-details-item>
    <dsh-details-item *ngIf="internationalLegalEntity?.tradingName" [title]="t.tradingName">
        {{ internationalLegalEntity.tradingName }}
    </dsh-details-item>
    <dsh-details-item *ngIf="internationalLegalEntity?.registeredAddress" [title]="t.registeredAddress">
        {{ internationalLegalEntity.registeredAddress }}
    </dsh-details-item>
    <dsh-details-item *ngIf="internationalLegalEntity?.actualAddress" [title]="t.actualAddress">
        {{ internationalLegalEntity.actualAddress }}
    </dsh-details-item>
    <dsh-details-item *ngIf="internationalLegalEntity?.registeredNumber" [title]="t.registeredNumber">
        {{ internationalLegalEntity.registeredNumber }}
    </dsh-details-item>
</div>
