<ng-container *transloco="let t; scope: 'actionbar'; read: 'actionbar'">
    <div *ngIf="(orgs$ | async)?.result?.length" fxLayout="column" fxLayoutGap="16px">
        <dsh-menu-item header routerLink="/organizations" (click)="selected.emit()">
            {{ t('organizations.title') }}
        </dsh-menu-item>
        <dsh-menu-item
            *ngFor="let org of (orgs$ | async)?.result"
            class="dsh-user-link"
            [routerLink]="['/', 'organization', org.id]"
            (click)="selected.emit()"
        >
            {{ org.name }}
        </dsh-menu-item>
    </div>
</ng-container>
