<dsh-headline>
    Заявка на подключение
    <div class="headline-footer">
        <div class="backwards" (click)="back()">
            <span>← </span>
            <span class="backwards__text">Вернуться назад</span>
        </div>
    </div>
</dsh-headline>
<div fxLayout fxLayoutGap="20px">
    <dsh-card fxFlex>
        <dsh-card-header>
            <dsh-card-title>{{ title }}</dsh-card-title>
        </dsh-card-header>
        <dsh-card-content fxLayout="column" fxLayoutGap="25px">
            <ng-content></ng-content>
        </dsh-card-content>
    </dsh-card>
    <div
        fxLayout="column"
        fxFlex="320px"
        fxFlex.lt-md="260px"
        fxLayoutGap="20px"
        fxHide.lt-sm="true"
        *ngIf="hasNavigation"
    >
        <dsh-card>
            <dsh-card-content fxLayout="column" fxLayoutGap="20px">
                <dsh-state-nav>
                    <dsh-state-nav-item [active]="true">Сведения о юридическом лице</dsh-state-nav-item>
                    <dsh-state-nav-item>Основная деятельность</dsh-state-nav-item>
                    <dsh-state-nav-item>Учредители</dsh-state-nav-item>
                    <dsh-state-nav-item>Представитель</dsh-state-nav-item>
                    <dsh-state-nav-item>Бенефициарные владельцы</dsh-state-nav-item>
                    <dsh-state-nav-item>Финансовое положение</dsh-state-nav-item>
                    <dsh-state-nav-item validation="success">Налоговое резиденство</dsh-state-nav-item>
                    <dsh-state-nav-item>Банковские реквизиты</dsh-state-nav-item>
                    <dsh-state-nav-item validation="warn">Контактная информация</dsh-state-nav-item>
                </dsh-state-nav>
                <button mat-raised-button color="primary" style="width:100%" disabled>Отправить на рассмотрение</button>
            </dsh-card-content>
        </dsh-card>
        <dsh-card>
            <dsh-card-header><dsh-card-title>Возникли вопросы?</dsh-card-title></dsh-card-header>
            <dsh-card-content>
                Напишите нам на почту help@rbk.money и оставьте свой телефон для связи.
            </dsh-card-content>
        </dsh-card>
    </div>
</div>
