.headline-footer {
    font-weight: 200;
    font-size: 14px;

    .backwards {
        display: inline;
        cursor: pointer;

        .backwards__text {
            text-decoration: underline;
        }
    }
}
