<div fxLayout="column">
    <h1 class="mat-headline">Заявка на подключение</h1>
    <div fxLayout fxLayoutGap="20px">
        <dsh-card fxFlex>
            <dsh-card-header>
                <dsh-card-title>{{ title }}</dsh-card-title>
            </dsh-card-header>
            <dsh-card-content fxLayout="column" fxLayoutGap="25px">
                <ng-content></ng-content>
            </dsh-card-content>
        </dsh-card>
        <div
            fxLayout="column"
            fxFlex="320px"
            fxFlex.lt-md="260px"
            fxLayoutGap="20px"
            fxHide.lt-sm="true"
            *ngIf="hasNavigation"
        >
            <dsh-card>
                <dsh-card-content fxLayout="column" fxLayoutGap="20px">
                    <dsh-vertical-stepper [steps]="items" #menuStepper></dsh-vertical-stepper>
                    <button dsh-button color="accent" (click)="menuStepper.next()">Отправить на рассмотрение</button>
                    <button dsh-button color="accent" (click)="menuStepper.previous()">
                        Отправить на рассмотрение
                    </button>
                </dsh-card-content>
            </dsh-card>
            <dsh-card>
                <dsh-card-header><dsh-card-title>Возникли вопросы?</dsh-card-title></dsh-card-header>
                <dsh-card-content>
                    Напишите нам на почту help@rbk.money и оставьте свой телефон для связи.
                </dsh-card-content>
            </dsh-card>
        </div>
    </div>
</div>
