<dsh-document-container-panel [title]="'Сведения о юридическом лице'">
    <div
        *transloco="let t; scope: 'claim-modification-containers'; read: 'claimModificationContainers.legalOwnerInfo'"
        fxLayout="column"
        fxLayoutGap="20px"
    >
        <dsh-russian-private-entity-sub-container
            [russianPrivateEntity]="legalOwnerInfo?.russianPrivateEntity"
        ></dsh-russian-private-entity-sub-container>
        <div fxLayout="row">
            <dsh-details-item fxFlex="50" *ngIf="legalOwnerInfo?.snils" [title]="t.snils">
                {{ legalOwnerInfo?.snils }}
            </dsh-details-item>
            <dsh-details-item fxFlex="50" *ngIf="legalOwnerInfo?.inn" [title]="t.innfl">
                {{ legalOwnerInfo?.inn }}
            </dsh-details-item>
        </div>
        <div fxLayout="row">
            <dsh-details-item fxFlex="50" *ngIf="legalOwnerInfo?.headPosition" [title]="t.headPosition">
                {{ legalOwnerInfo?.headPosition }}
            </dsh-details-item>
            <dsh-details-item fxFlex="50" *ngIf="legalOwnerInfo?.termOfOffice" [title]="t.termOfOffice">
                {{ legalOwnerInfo?.termOfOffice }}
            </dsh-details-item>
        </div>
        <div fxLayout="row" *ngIf="legalOwnerInfo?.pdlCategory || legalOwnerInfo?.pdlRelationDegree">
            <dsh-details-item fxFlex="50" *ngIf="legalOwnerInfo?.pdlCategory" [title]="t.pdlCategory">
                {{ t.pdlCategoryFlag }}
            </dsh-details-item>
            <dsh-details-item fxFlex="50" *ngIf="legalOwnerInfo?.pdlRelationDegree" [title]="t.pdlRelationDegree">
                {{ legalOwnerInfo?.pdlRelationDegree }}
            </dsh-details-item>
        </div>
        <dsh-authority-confirming-document-sub-container
            [authorityConfirmingDocument]="legalOwnerInfo?.authorityConfirmingDocument"
        ></dsh-authority-confirming-document-sub-container>
        <dsh-identity-document-sub-container
            [identityDocument]="legalOwnerInfo?.identityDocument"
        ></dsh-identity-document-sub-container>
    </div>
</dsh-document-container-panel>
