<dsh-panel *transloco="let c" color="accent">
    <dsh-panel-header>
        <div *ngIf="isLoading$ | async">{{ c('loading') }}</div>
        <div *ngIf="error$ | async">{{ c('httpError') }}</div>
        <div *ngIf="fileInfo$ | async as fileInfo" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px">
            <div>{{ fileInfo.fileName }}</div>
            <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign=" center">
                <i-bs
                    *ngIf="deletion"
                    name="x"
                    height="24px"
                    width="24px"
                    class="icon"
                    (click)="deleteByCondition()"
                ></i-bs>
                <i-bs name="download" height="16px" width="16px" class="icon small-icon" (click)="download()"></i-bs>
            </div>
        </div>
    </dsh-panel-header>
</dsh-panel>
