<div fxLayout="column" [fxLayoutGap]="layoutGap" *transloco="let t; scope: 'webhook'; read: 'webhook'">
    <div
        fxLayout.lt-md="column"
        fxLayout="row"
        fxLayoutAlign.lt-md="center stretch"
        fxLayoutAlign="space-between center"
        [fxLayoutGap]="layoutGap"
    >
        <div class="mat-caption">
            {{ t.description }}
        </div>
        <button dsh-stroked-button color="accent" (click)="createWebhook()" fxFlex.gt-sm="25">{{ t.attach }}</button>
    </div>

    <div *ngIf="isLoading$ | async" fxLayout fxLayoutAlign="center center">
        <dsh-spinner></dsh-spinner>
    </div>

    <dsh-empty-search-result *ngIf="(webhooks$ | async)?.length === 0" [text]="t.emptyResult"></dsh-empty-search-result>

    <div fxLayout="column" [fxLayoutGap]="layoutGap" *ngIf="!(isLoading$ | async)">
        <dsh-webhook-panel *ngFor="let webhook of webhooks$ | async" [webhook]="webhook"></dsh-webhook-panel>
        <dsh-show-more-panel
            *ngIf="hasMore$ | async"
            [isLoading]="isLoading$ | async"
            (showMore)="getMoreWebhooks()"
        ></dsh-show-more-panel>
    </div>
</div>
