<dsh-card *transloco="let t; scope: 'wallet-withdrawal-details'; read: 'walletDetails.details'">
    <dsh-card-title>
        <div class="mat-headline">{{ available.amount | toMajor | currency: available.currency }}</div>
    </dsh-card-title>
    <dsh-card-content fxLayout="column" fxLayoutGap="20px">
        <dsh-details-item fxFlex [title]="t('walletName')">{{ walletName }}</dsh-details-item>
        <dsh-details-item fxFlex [title]="t('createdAt')">{{
            createdAt | date: 'dd.MM.yyyy HH:mm:ss'
        }}</dsh-details-item>
    </dsh-card-content>
</dsh-card>
