:host {
    display: flex;
}

.dsh-custom-input-with-mask-element {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
}

.dsh-custom-input-with-mask-element::placeholder {
    opacity: 0;
}

:host.floating .dsh-custom-input-with-mask-element::placeholder {
    opacity: 1;
}

.dsh-custom-input-with-mask-spacer {
    opacity: 0;
    user-select: none;
    transition: opacity 200ms;
}

:host.floating .dsh-custom-input-with-mask-spacer {
    opacity: 1;
}
