<ng-container *transloco="let t; scope: 'onboarding'; read: 'onboarding.dataFlow.russianLegalOwner'">
    <form [formGroup]="form$ | async" fxLayout="column" fxLayoutGap="10px">
        <div class="mat-subheading-1">{{ t.legalOwnerDescription }}</div>
        <div fxLayout [fxLayoutGap]="layoutGap">
            <mat-form-field fxFlex>
                <mat-label>{{ t.fio }}</mat-label>
                <input matInput formControlName="fio" required />
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>{{ t.birthDate }}</mat-label>
                <input matInput formControlName="birthDate" [matDatepicker]="birthDateDatepicker" required />
                <mat-datepicker-toggle matSuffix [for]="birthDateDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #birthDateDatepicker></mat-datepicker>
            </mat-form-field>
        </div>
        <mat-form-field fxFlex>
            <mat-label>{{ t.birthPlace }}</mat-label>
            <input matInput formControlName="birthPlace" required />
        </mat-form-field>
        <mat-form-field fxFlex>
            <mat-label>{{ t.residenceAddress }}</mat-label>
            <input matInput formControlName="residenceAddress" required />
        </mat-form-field>
        <div fxLayout [fxLayoutGap]="layoutGap">
            <mat-form-field fxFlex>
                <mat-label>{{ t.snils }}</mat-label>
                <input matInput formControlName="snils" required />
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>{{ t.innfl }}</mat-label>
                <input matInput formControlName="innfl" />
            </mat-form-field>
        </div>
        <div fxLayout [fxLayoutGap]="layoutGap">
            <mat-form-field fxFlex>
                <mat-label>{{ t.headPosition }}</mat-label>
                <input matInput formControlName="headPosition" required />
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>{{ t.termOfOffice }}</mat-label>
                <input matInput formControlName="termOfOffice" required />
                <mat-hint>{{ t.termOfOfficeHint }}</mat-hint>
            </mat-form-field>
        </div>
        <dsh-authority-confirming-document
            [form]="(form$ | async).get('authorityConfirmingDocument')"
        ></dsh-authority-confirming-document>
        <dsh-russian-domestic-passport
            [form]="(form$ | async).get('russianDomesticPassport')"
        ></dsh-russian-domestic-passport>
        <dsh-pdl-info [form]="(form$ | async).get('pdlInfo')"></dsh-pdl-info>
    </form>
</ng-container>
