<dsh-expand-panel-accordion
    fxLayout="column"
    fxLayoutGap="24px"
    *transloco="let p; scope: 'shops'; read: 'shops.panel'"
    [expanded]="selectedPanelPosition$ | async"
    (expandedChange)="select($event)"
>
    <dsh-expand-panel *ngFor="let shop of shops$ | async">
        <div fxLayout="column" fxLayoutGap="20px">
            <div class="mat-body-1" fxLayout fxLayoutAlign="space-between" fxLayoutGap="10px">
                <div>{{ shop?.details?.name }}</div>
                <dsh-shop-balance [shopID]="shop?.id"></dsh-shop-balance>
            </div>
            <div class="mat-caption" fxLayout fxLayoutAlign="space-between" fxLayoutGap="10px">
                <div>{{ shop?.id }}</div>
                <div>{{ shop?.isBlocked ? p.blocked : shop?.isSuspended ? p.suspended : p.active }}</div>
            </div>
        </div>
        <dsh-expand-panel-more>
            <dsh-expand-panel-more-header>
                <div fxFlex fxLayoutAlign="space-between center" fxLayoutGap="10px" class="mat-caption">
                    <div>{{ p.details }}</div>
                    <div>{{ shop?.isBlocked ? p.blocked : shop?.isSuspended ? p.suspended : p.active }}</div>
                </div>
            </dsh-expand-panel-more-header>

            <dsh-details-item [title]="p.name">
                {{ shop?.details?.name }}
            </dsh-details-item>
            <dsh-details-item [title]="p.url">
                {{ shop?.location?.url }}
            </dsh-details-item>
            <div fxLayout fxLayoutGap="10px" fxLayout.lt-md="column" fxLayoutGap.lt-md="20px">
<!--                <div fxFlex>-->
<!--                    <dsh-details-item [title]="p.balance">-->
<!--                        <dsh-shop-balance [shopID]="shop?.id"></dsh-shop-balance>-->
<!--                    </dsh-details-item>-->
<!--                </div>-->
                <div fxFlex>
                    <dsh-details-item [title]="p.createdAt">
                        {{ shop?.createdAt | date: 'd MMMM y, HH:mm:ss' }}
                    </dsh-details-item>
                </div>
                <div fxFlex>
                    <dsh-details-item [title]="p.category">
                        {{ (shop?.categoryID | category)?.name }}
                    </dsh-details-item>
                </div>
            </div>
            <mat-divider></mat-divider>

            <div class="mat-title">{{ p.id }}</div>
            <div class="mat-subheading-2">{{ shop?.id }}</div>
            <div>
                <button dsh-button [cdkCopyToClipboard]="shop?.id" (cdkCopyToClipboardCopied)="copied($event)">
                    {{ p.copy }}
                </button>
            </div>
            <mat-divider></mat-divider>
            <dsh-shop-contract-details [contractID]="shop?.contractID"></dsh-shop-contract-details>
            <mat-divider></mat-divider>
            <dsh-shop-payout-tool-details
                [payoutToolParams]="{ contractID: shop?.contractID, payoutToolID: shop?.payoutToolID }"
            ></dsh-shop-payout-tool-details>

            <ng-container *ngIf="!shop?.isBlocked">
                <mat-divider></mat-divider>

                <div class="mat-title">{{ p.actions }}</div>
                <div>
                    <button *ngIf="!shop?.isSuspended" dsh-stroked-button color="warn" (click)="suspend(shop?.id)">
                        {{ p.suspend }}
                    </button>
                    <button *ngIf="shop?.isSuspended" dsh-stroked-button color="accent" (click)="activate(shop?.id)">
                        {{ p.activate }}
                    </button>
                </div>
            </ng-container>
        </dsh-expand-panel-more>
    </dsh-expand-panel>
    <dsh-show-more-panel *ngIf="hasMore$ | async" (showMore)="showMore()"></dsh-show-more-panel>
</dsh-expand-panel-accordion>
