<div *ngIf="isTestRealm$ | async" fxLayout fxLayoutGap="24px">
    <div fxHide.lt-md class="dsh-test-env-alert-spacer"></div>
    <dsh-test-env-alert fxFlex class="dsh-test-env-alert"></dsh-test-env-alert>
</div>
<dsh-route-navbar class="dsh-nav-mobile" mode="mobile" [itemConfig]="navbarItemConfig$ | async"></dsh-route-navbar>
<div class="dsh-section-container" fxLayout fxLayoutGap="24px">
    <div class="dsh-side-section" fxHide.lt-md fxLayout="column" fxLayoutGap="32px">
        <dsh-route-navbar class="dsh-nav-mobile" [itemConfig]="navbarItemConfig$ | async"></dsh-route-navbar>
        <!-- <dsh-balances></dsh-balances> -->
    </div>
    <div fxFlex>
        <router-outlet></router-outlet>
    </div>
</div>
