<form
    [formGroup]="form$ | async"
    fxLayout="column"
    *transloco="let t; scope: 'onboarding'; read: 'onboarding.dataFlow.financialAndEconomicActivity'"
>
    <div fxLayout>
        <mat-form-field fxFlex="48.5%">
            <mat-label>{{ t.staffCount }}</mat-label>
            <input matInput type="number" formControlName="staffCount" required />
        </mat-form-field>
    </div>
    <div fxLayout="column" [fxLayoutGap]="layoutGap">
        <mat-checkbox formControlName="withoutAccountant" (change)="withoutAccountantChange($event)">{{
            t.withoutAccountant
        }}</mat-checkbox>
        <div fxLayout="column" *ngIf="isAccountantInfoVisible$ | async">
            <mat-form-field>
                <mat-label>{{ t.accountantTypeSelector }}</mat-label>
                <mat-select
                    formControlName="accountantType"
                    required
                    (selectionChange)="accountantTypeSelectionChange($event)"
                >
                    <mat-option *ngFor="let option of accountantOptionTypes" [value]="option">
                        {{ t.accountantTypes[option] }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex *ngIf="isAccountantOrgInnVisible$ | async">
                <mat-label>{{ t.accountantOrgInn }}</mat-label>
                <input matInput formControlName="accountantOrgInn" required />
            </mat-form-field>
        </div>
        <mat-checkbox formControlName="hasBeneficiaryParty">{{ t.hasBeneficiaryParty }}</mat-checkbox>
        <mat-checkbox formControlName="hasLiquidationProcess">{{ t.hasLiquidationProcess }}</mat-checkbox>
        <dsh-legal-residency-info
            *ngIf="isResidencyInfoVisible$ | async"
            [form]="(form$ | async).get('residencyInfo')"
        ></dsh-legal-residency-info>
    </div>
</form>
