<div class="container" fxLayout="row" fxLayoutGap="24px" *transloco="let t; scope: 'onboarding'">
    <div fxFlex="168px" fxHide.lt-md="true"></div>
    <div fxFlex fxLayout="column" fxLayoutGap="32px">
        <div fxLayout="column" fxLayoutGap="8px">
            <h1 class="dsh-display-1">{{ t('onboarding.headline') }}</h1>
            <ol dsh-breadcrumb>
                <li dsh-breadcrumb-item>
                    <a dshTextColor="secondary" [routerLink]="['/claim-section/claims']">{{
                        t('onboarding.breadcrumbs.claims')
                    }}</a>
                </li>
                <li dsh-breadcrumb-item>{{ t('onboarding.breadcrumbs.onboardingClaim') }}</li>
            </ol>
        </div>
        <div *ngIf="isLoading$ | async" fxLayout fxLayoutAlign="center center">
            <dsh-spinner></dsh-spinner>
        </div>
        <div fxLayout="row" fxLayoutGap="24px" *ngIf="questionaryData$ | async">
            <dsh-card fxFlex fxLayout="column" fxLayoutGap="24px" fxLayoutAlign="space-between stretch">
                <div fxLayout="column" fxLayoutGap="16px">
                    <h2 class="dsh-title">{{ activeStep$ | async | stepLabel: 'stepTitle' }}</h2>
                    <router-outlet></router-outlet>
                </div>
                <dsh-step-navigation></dsh-step-navigation>
            </dsh-card>
            <div fxFlex="264px" fxLayout="column" fxLayoutGap="24px" fxHide.lt-sm="true">
                <dsh-step-card></dsh-step-card>
                <dsh-help-card></dsh-help-card>
            </div>
        </div>
    </div>
</div>
