@import '~@angular/material/theming';

@import '../styles/palette';
@import './theme';

$background: (
    status-bar: black,
    app-bar: map_get($mat-grey, 900),
    background: #303030,
    hover: rgba(white, 0.04),
    card: map_get($mat-grey, 800),
    dialog: map_get($mat-grey, 800),
    disabled-button: rgba(white, 0.12),
    raised-button: map-get($mat-grey, 800),
    focused-button: $light-focused,
    selected-button: map_get($mat-grey, 900),
    selected-disabled-button: map_get($mat-grey, 800),
    disabled-button-toggle: black,
    unselected-chip: map_get($mat-grey, 700),
    disabled-list-option: black,
        ink-bar-color: map_get($dsh-slateblue, 500),
        tab-header-divider: map_get($mat-grey, 500)
);

$foreground: (
    base: white,
    divider: $light-dividers,
    dividers: $light-dividers,
    disabled: $light-disabled-text,
    disabled-button: rgba(white, 0.3),
    disabled-text: $light-disabled-text,
    elevation: black,
    hint-text: $light-disabled-text,
    secondary-text: $light-secondary-text,
    icon: white,
    icons: white,
    text: rgba(white, 0.9),
    slider-min: rgba(white, 0.9),
    slider-off: rgba(white, 0.3),
    slider-off-active: rgba(white, 0.3),
    axis-tick-color: rgba(white, 0.1),
    x-axis-text-color: rgba(white, 0.5),
    y-axis-text-color: rgba(white, 0.7),
    legend-tooltip-date-color: rgba(white, 0.5)
);

$theme: (
    name: 'dark',
    primary: mat-palette($dsh-slateblue),
    accent: mat-palette($dsh-palegreen),
    warn: mat-palette($dsh-warn),
    is-dark: true,
    foreground: $foreground,
    background: $background
);

@include dsh-theme($theme);
