@import '~@angular/material/theming';

@import '../styles/palletes';
@import './theme';

$background: (
    status-bar: black,
    app-bar: map_get($mat-grey, 900),
    background: #303030,
    hover: rgba(white, 0.04),
    card: map_get($mat-grey, 800),
    dialog: map_get($mat-grey, 800),
    disabled-button: rgba(white, 0.12),
    raised-button: map-get($mat-grey, 800),
    focused-button: $light-focused,
    selected-button: map_get($mat-grey, 900),
    selected-disabled-button: map_get($mat-grey, 800),
    disabled-button-toggle: black,
    unselected-chip: map_get($mat-grey, 700),
    disabled-list-option: black
);

$foreground: (
    base: white,
    divider: $light-dividers,
    dividers: $light-dividers,
    disabled: $light-disabled-text,
    disabled-button: rgba(white, 0.3),
    disabled-text: $light-disabled-text,
    elevation: black,
    hint-text: $light-disabled-text,
    secondary-text: $light-secondary-text,
    icon: white,
    icons: white,
    text: white,
    slider-min: white,
    slider-off: rgba(white, 0.3),
    slider-off-active: rgba(white, 0.3)
);

$theme: (
    name: 'dark',
    primary: mat-palette($dsh-slateblue),
    accent: mat-palette($dsh-palegreen),
    warn: mat-palette($mat-red),
    is-dark: true,
    foreground: $foreground,
    background: $background
);

@include dsh-theme($theme);
