@import '~@angular/material/theming';
@import '../styles/palette';
@import './theme';

$background: (
        status-bar: map_get($mat-grey, 300),
        app-bar: map_get($mat-grey, 100),
        background: #f1f7fb,
        hover: rgba(black, 0.04),
        card: white,
        dialog: white,
        disabled-button: rgba(black, 0.12),
        raised-button: white,
        focused-button: $dark-focused,
        selected-button: map_get($mat-grey, 300),
        selected-disabled-button: map_get($mat-grey, 400),
        disabled-button-toggle: map_get($mat-grey, 200),
        unselected-chip: map_get($mat-grey, 300),
        disabled-list-option: map_get($mat-grey, 200),
        tooltip-shadow: 0 0 8px rgba(black, 0.2),
        tooltip-line-color: rgba(black, 0.1)
);

$foreground: (
        base: black,
        divider: rgba(#000, 0.27),
        dividers: $dark-dividers,
        disabled: $dark-disabled-text,
        disabled-button: rgba(#000, 0.26),
        disabled-text: $dark-disabled-text,
        elevation: black,
        hint-text: $dark-disabled-text,
        secondary-text: rgba(#000, 0.67),
        icon: rgba(#000, 0.54),
        icons: rgba(#000, 0.54),
        text: rgba(#000, 0.87),
        slider-min: rgba(#000, 0.87),
        slider-off: rgba(#000, 0.26),
        slider-off-active: rgba(#000, 0.38)
);

$theme: (
        name: 'light',
        primary: mat-palette($dsh-slateblue),
        accent: mat-palette($dsh-palegreen),
        warn: mat-palette($mat-red),
        is-dark: false,
        foreground: $foreground,
        background: $background
);

@include dsh-theme($theme);
