@import '~@angular/material/theming';

@import '../styles/palletes';
@import './theme';

$background: (
    background: #f1f7fb,
    card: #fff
);

$foreground: (
    base: black,
    disabled-button: rgba(#000, 0.26),
    elevation: black,
    divider: rgba(#000, 0.27),
    icon: rgba(#000, 0.54),
    icons: rgba(#000, 0.54),
    text: rgba(#000, 0.87),
    secondary-text: rgba(#000, 0.67),
    slider-min: rgba(#000, 0.87),
    slider-off: rgba(#000, 0.26),
    slider-off-active: rgba(#000, 0.38)
);

$theme: (
    primary: mat-palette($dsh-slateblue),
    accent: mat-palette($dsh-palegreen),
    warn: mat-palette($mat-red),
    is-dark: false,
    foreground: $foreground,
    background: $background
);

@include dsh-theme($theme);
