@import '~@angular/material/theming';
@import '../styles/variables';
@import '../styles/palletes';
@import '../styles/theme';
@import '../styles/main-theme';
@import './theme.scss';

$primary: mat-palette($dsh-slateblue);
$accent: mat-palette($dsh-palegreen);
$warn: mat-palette($mat-red);

$mat-theme: mat-light-theme($primary, $accent, $warn);
$theme: theme($primary, $accent, $warn, $dsh-light-theme-foreground, $dsh-light-theme-background);

@include angular-material-theme($mat-theme);
@include dsh-theme($theme);
