<dsh-card>
    <dsh-card-title>
        <div class="mat-h2">{{ localePath + '.title' | lc }}</div>
    </dsh-card-title>
    <dsh-card-content>
        <div fxLayout="column" [fxLayoutGap]="layoutGap">
            <dsh-details-item [title]="localePath + '.titles.name' | lc">
                {{ shopName }}
            </dsh-details-item>
            <dsh-details-item [title]="localePath + '.titles.url' | lc">
                {{ shopURL }}
            </dsh-details-item>
        </div>
    </dsh-card-content>
</dsh-card>
