<dsh-card>
    <dsh-card-title>
        <div class="dsh-payment-details-title">{{ 'sections.paymentDetails.shop.title' | lc }}</div>
    </dsh-card-title>
    <dsh-card-content>
        <div class="dsh-container" fxLayout="column" fxFlex="100">
            <dsh-detail-item [title]="'sections.paymentDetails.shop.titles.name' | lc" fxFlex="100">
                Я в своем познании настолько преисполнился, что я как будто бы уже сто триллионов.
            </dsh-detail-item>
            <dsh-detail-item [title]="'sections.paymentDetails.shop.titles.url' | lc" fxFlex="100">
                https://kektus-shmektus.com
            </dsh-detail-item>
        </div>
    </dsh-card-content>
</dsh-card>
