@import '~@angular/material/theming';

@mixin dsh-bar-chart-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .x.axis > .tick:first-of-type > text, .x.axis > .tick:last-of-type > text, .tick > line {
        color: mat-color($foreground, divider);
    }

    .y.axis > .tick > text {
        color: mat-color($foreground, secondary-text);
    }
}
