@import '~@angular/material/theming';
@import '../../../styles/utils/shadow';

@mixin dsh-bar-chart-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $gray: map-get($theme, gray);

    .dsh-bar-chart-tooltip {
        &-title {
            color: map-get($gray, 500);
        }
    }

    .apexcharts {
        &-text {
            fill: mat-color($foreground, text);
        }

        &-legend-text {
            color: mat-color($foreground, text) !important;
        }

        &-tooltip {
            @include dsh-shadow($theme);
            background-color: mat-color($background, card);
        }
    }
}

@mixin dsh-bar-chart-typography($config) {
    .apexcharts-text,
    .apexcharts-legend-text {
        font: {
            family: mat-font-family($config, caption);
        }
    }
}
