@import '~@angular/material/theming';

@mixin dsh-bar-chart-theme($theme) {
    $foreground: map-get($theme, foreground);
    $gray: map-get($theme, gray);

    .dsh-bar-chart-tooltip-title {
        color: map-get($gray, 500);
    }

    .apexcharts-legend-text {
        color: mat-color($foreground, text) !important;
    }

    .apexcharts-text {
        fill: mat-color($foreground, text);
    }
}

@mixin dsh-bar-chart-typography($config) {
    .apexcharts-text,
    .apexcharts-legend-text {
        font: {
            family: mat-font-family($config, caption);
        }
    }
}
