<ng-container *transloco="let t; scope: 'payment-details'; read: 'paymentDetails.invoiceDetails'">
    <div class="payment-invoice-info-title mat-title" fxLayout fxLayoutAlign="space-between center">
        <div>
            {{ t('title') }}
            <span dshSecondaryTitle>#{{ invoice.id }}</span>
        </div>
        <mat-icon class="dsh-forward-icon" (click)="navToInvoiceDetails(invoice)">launch</mat-icon>
    </div>
    <dsh-invoice-details [invoice]="invoice"></dsh-invoice-details>
</ng-container>
