:host {
    display: flex;
}

.dsh-bin-input-element {
    border: none;
    background: none;
    padding: 0;
    outline: none;
    font: inherit;
}

.dsh-bin-input-element::placeholder {
    opacity: 0;
}

:host.floating .dsh-bin-input-element::placeholder {
    opacity: 1;
}

.dsh-bin-input-spacer {
    opacity: 0;
    user-select: none;
    transition: opacity 200ms;
}

:host.floating .dsh-bin-input-spacer {
    opacity: 1;
}
