@import '~@angular/material/theming';

@mixin dsh-payment-details-secondary-title-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $gray: map-get($theme, gray);

    .dsh-payment-details {
        &-secondary-title {
            color: map-get($gray, 500);
        }
    }
}
