<dsh-panel
    *transloco="let t; scope: 'claim-modification-containers'; read: 'claimModificationContainers'"
    color="primary"
>
    <dsh-panel-header (click)="opened = !opened">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div>
                {{ t.changeContainerTypes[changeContainerType] }}
            </div>
            <dsh-panel-header-icon
                [icon]="opened ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"
            ></dsh-panel-header-icon>
        </div>
    </dsh-panel-header>
    <dsh-panel-content *ngIf="opened">
        <dsh-document-modification-info
            *ngIf="changeContainerType === 'documentModification'"
            [unit]="unit"
        ></dsh-document-modification-info>
    </dsh-panel-content>
</dsh-panel>
