@import '~@angular/material/theming';

@mixin dsh-row-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);

    .dsh-row {
        background-color: mat-color($background, card);
        &.dsh-primary {
            background-color: mat-color($primary, 100);
        }

        &-header-label {
            color: mat-color($foreground, secondary-text);
        }
    }
}

@mixin dsh-row-typography($config) {
    .dsh-row {
        &-header-label {
            @include mat-typography-level-to-styles($config, body-2);
        }
        &-label {
            @include mat-typography-level-to-styles($config, body-1);
        }
    }
}
