<div fxLayout="column" fxLayoutGap="32px">
    <dsh-payments-filters></dsh-payments-filters>
    <div fxLayout="column" fxLayoutGap="16px">
        <dsh-last-updated [lastUpdated]="lastUpdated$ | async" (update)="refreshList()"> </dsh-last-updated>
        <dsh-payments-panels
            [list]="payments$ | async"
            [isLoading]="isLoading$ | async"
            [hasMore]="hasMoreElements$ | async"
            (showMore)="requestNextPage()"
        >
        </dsh-payments-panels>
    </div>
</div>
