@import '../../timeline.scss';

.dsh-timeline-item-badge {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    height: $badge-size;
    width: $badge-size;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 10;

    mat-icon {
        height: $badge-icon-size;
        width: $badge-icon-size;
        font-size: $badge-icon-size;
    }
}
