<div
    *transloco="let p; scope: 'create-shop'; read: 'createShop.russianLegalEntity.orgDetails'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <h2 class="dsh-title">{{ p('title') }}</h2>

    <dsh-created-existing-switch [formGroup]="formControl" [form]="formControl">
        <dsh-new-contractor-form *dshCreatedCase formControlName="created"></dsh-new-contractor-form>
        <dsh-existing-contract-form
            *dshExistingCase
            formControlName="existing"
            entityType="RussianLegalEntity"
        ></dsh-existing-contract-form>
    </dsh-created-existing-switch>
</div>
