<div
    *transloco="let p; scope: 'create-shop'; read: 'createShop.russianLegalEntity.orgDetails'"
    fxLayout="column"
    fxLayoutGap="16px"
    [formGroup]="formControl"
>
    <h2 class="dsh-title">{{ p('title') }}</h2>

    <mat-radio-group formControlName="type" fxLayout.gt-sm fxLayout="column" fxLayoutGap="24px" required>
        <mat-radio-button fxFlex [value]="type.New">
            {{ p('type.new') }}
        </mat-radio-button>
        <mat-radio-button fxFlex [value]="type.Existing">
            {{ p('type.existing') }}
        </mat-radio-button>
    </mat-radio-group>
    <ng-container [ngSwitch]="formControl.value.type">
        <ng-container *ngSwitchCase="type.New">
            <dsh-dadata-autocomplete
                type="party"
                [formControl]="searchControl"
                [label]="p('form.search')"
                (optionSelected)="updateSuggestion($event)"
            ></dsh-dadata-autocomplete>
            <mat-form-field>
                <mat-label>{{ p('form.registeredName') }}</mat-label>
                <input formControlName="registeredName" matInput type="text" required autocomplete="off" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ p('form.inn') }}</mat-label>
                <dsh-format-input format="individualOrLegalEntityInn" formControlName="inn" required></dsh-format-input>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ p('form.registeredNumber') }}</mat-label>
                <dsh-format-input format="ogrn" formControlName="registeredNumber" required></dsh-format-input>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ p('form.actualAddress') }}</mat-label>
                <input formControlName="actualAddress" matInput type="text" required autocomplete="off" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ p('form.representativePosition') }}</mat-label>
                <input formControlName="representativePosition" matInput type="text" required autocomplete="off" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ p('form.representativeFullName') }}</mat-label>
                <input formControlName="representativeFullName" matInput type="text" required autocomplete="off" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ p('form.representativeDocument') }}</mat-label>
                <input formControlName="representativeDocument" matInput type="text" required autocomplete="off" />
            </mat-form-field>

            <mat-divider></mat-divider>

            <dsh-russian-bank-account-form formControlName="bankAccount"></dsh-russian-bank-account-form>
        </ng-container>
        <ng-container *ngSwitchCase="type.Existing">
            <dsh-shop-field required [label]="p('useShop')" [formControl]="shopControl"></dsh-shop-field>
            <ng-container class="dsh-body-1" *transloco="let t">
                <div
                    *ngIf="
                        contractProgress$ | async;
                        else (error$ | async) ? error : formControl.value.contract && loaded
                    "
                    class="dsh-body-1"
                >
                    {{ t('loading') }}
                </div>
                <ng-template #error>
                    <div class="dsh-body-1">{{ t('errors.common') }}</div>
                </ng-template>
                <ng-template #loaded>
                    <div fxLayout fxLayoutGap="24px">
                        <dsh-details-item fxFlex [title]="p('contract.registeredName')">
                            {{ formControl.value.contract.contractor.registeredName }}
                        </dsh-details-item>
                        <dsh-details-item fxFlex [title]="p('contract.inn')">
                            {{ formControl.value.contract.contractor.inn }}
                        </dsh-details-item>
                    </div>
                </ng-template>
            </ng-container>
        </ng-container>
    </ng-container>
</div>
