<div fxLayout="row wrap" fxFlex="100" fxLayoutGap="1px">
    <div class="dsh-subtitle">
        {{ 'sections.paymentDetails.refunds.titles.refundTitle' | lc }} <span dshSecondaryTitle>{{ refund.id }}</span>
    </div>
    <div fxLayout="row wrap" fxFlex="100">
        <dsh-status-item
            [color]="statusColor"
            [text]="statusText"
            fxFlex.lt-sm="100"
            fxFlex.sm="49"
            fxFlex.gt-xs="33"
        ></dsh-status-item>
        <dsh-detail-item
            [title]="'sections.paymentDetails.refunds.titles.amount' | lc"
            fxFlex.lt-sm="100"
            fxFlex.sm="49"
            fxFlex.gt-xs="33"
        >
            <div class="dsh-text">{{ refund.amount / 100 | formatAmount }} ₽</div>
        </dsh-detail-item>
        <dsh-detail-item
            [title]="'sections.paymentDetails.refunds.titles.createdAt' | lc"
            fxFlex.lt-sm="100"
            fxFlex.sm="49"
            fxFlex.gt-xs="33"
        >
            <div class="dsh-text">{{ refund.createdAt | formatTime }}</div>
        </dsh-detail-item>
        <dsh-detail-item [title]="'sections.paymentDetails.refunds.titles.reason' | lc" fxFlex="100">
            <div class="dsh-text">{{ refund.reason }}</div>
        </dsh-detail-item>
        <dsh-detail-item [title]="'sections.paymentDetails.refunds.titles.error' | lc" fxFlex="100">
            <div class="dsh-text">{{ refund.error.message }}</div>
        </dsh-detail-item>
    </div>
</div>
