<dsh-scroll-up></dsh-scroll-up>
<div class="dsh-wallets" fxLayout="column" fxLayoutGap="32px" *transloco="let t; scope: 'wallets'; read: 'wallets'">
    <h1 class="dsh-display-2">{{ t('title') }}</h1>
    <dsh-wallets-list
        [wallets]="wallets$ | async"
        [expandedId]="expandedId$ | async"
        [lastUpdated]="lastUpdated$ | async"
        (refreshData)="refresh()"
        (expandedIdChange)="expandedIdChange($event)"
    ></dsh-wallets-list>
    <dsh-empty-search-result
        *ngIf="!(wallets$ | async)?.length && (isLoading$ | async) === false"
        [text]="t('emptyResult')"
    ></dsh-empty-search-result>
    <dsh-show-more-panel *ngIf="hasMore$ | async" (showMore)="fetchMore()" [isLoading]="isLoading$ | async">
    </dsh-show-more-panel>
    <div *ngIf="isLoading$ | async" fxLayout fxFlexAlign="center">
        <dsh-spinner></dsh-spinner>
    </div>
</div>
