$dsh-invoice-details-max-width: 660px;
$dsh-invoice-details-top-padding: 20px;

.dsh {
  &-report-details {
    margin: 0 auto;
    max-width: $dsh-invoice-details-max-width;
    padding-top: $dsh-invoice-details-top-padding;
  }
}
