<div
    *ngIf="filtersData$ | async as filters"
    [formGroup]="form"
    fxLayout="row"
    fxLayoutAlign="start center"
    fxLayoutGap="16px"
>
    <dsh-daterange-filter
        [selected]="filters.daterange"
        (selectedChange)="dateRangeChange($event)"
    ></dsh-daterange-filter>
    <dsh-invoices-filter fxHide.lt-md formControlName="invoiceIDs"></dsh-invoices-filter>
    <dsh-shops-filter fxHide.lt-md formControlName="shopIDs" [shops]="shops$ | async"></dsh-shops-filter>
    <dsh-card-bin-pan-filter fxHide.lt-md formControlName="binPan"></dsh-card-bin-pan-filter>
    <ng-container *transloco="let t; read: 'filters'">
        <dsh-filter-button [active]="isAdditionalFilterApplied" (click)="openFiltersDialog()">
            {{ t('additionalFilters') }}
        </dsh-filter-button>
    </ng-container>
</div>
