<div
    *transloco="let t; scope: 'claim-modification-containers'; read: 'claimModificationContainers.bankAccount'"
    fxLayout="column"
    fxLayoutGap="20px"
>
    <div class="mat-body-2">{{ t.title }}</div>
    <dsh-details-item *ngIf="bankAccount?.bankName" [title]="t.bankInfo">
        {{ bankAccount?.bankName }} ({{ bankAccount?.bankBik }} / {{ bankAccount?.bankPostAccount }})
    </dsh-details-item>
    <dsh-details-item *ngIf="bankAccount?.account" [title]="t.account">
        {{ bankAccount?.account }}
    </dsh-details-item>
</div>
