<div
    *transloco="let t; scope: 'onboarding'; read: 'onboarding.companySearch.manualContractorSelector'"
    class="container"
>
    <p class="mat-body-1">{{ t.description }}</p>
    <mat-radio-group
        (change)="selected($event)"
        fxLayout
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutGap="20px"
        fxLayoutGap.sm="10px"
        fxLayoutGap.xs="10px"
    >
        <mat-radio-button value="IndividualEntityContractor">{{ t.individualEntity }}</mat-radio-button>
        <mat-radio-button value="LegalEntityContractor">{{ t.legalEntity }}</mat-radio-button>
    </mat-radio-group>
</div>
