<dsh-card *transloco="let t; scope: 'wallet-withdrawal-details'; read: 'walletDetails.accountInfo'">
    <dsh-card-title>
        <div class="mat-title">{{ t('title') }}</div>
    </dsh-card-title>
    <dsh-card-content fxLayout="column" fxLayoutGap="20px">
        <div class="mat-caption">{{ t('description') }}</div>
        <div fxLayout fxLayoutGap="20px">
            <dsh-details-item fxFlex [title]="t('ownAmount')">{{
                account.own.amount | toMajor | currency: account.own.currency
            }}</dsh-details-item>
            <dsh-details-item fxFlex [title]="t('availableAmount')">{{
                account.available.amount | toMajor | currency: account.available.currency
            }}</dsh-details-item>
        </div>
    </dsh-card-content>
</dsh-card>
