<dsh-base-dialog
    *transloco="let t; scope: 'organizations'; read: 'organizations.createOrganizationDialog'"
    [title]="t('title')"
    (cancel)="cancel()"
    (confirm)="create()"
    [confirmButtonDisabled]="form.invalid || (inProgress$ | async)"
>
    <form fxLayout="column" [formGroup]="form">
        <mat-form-field>
            <mat-label>{{ t('name') }}</mat-label>
            <input formControlName="name" matInput type="text" autocomplete="off" required />
        </mat-form-field>
    </form>
</dsh-base-dialog>
