<dsh-card *transloco="let t; scope: 'wallet-withdrawal-details'; read: 'walletDetails.deposits'">
    <dsh-card-title>
        <div class="mat-title">{{ t('title') }}</div>
    </dsh-card-title>
    <dsh-card-content fxLayout="column" fxLayoutGap="20px">
        <div *ngFor="let deposit of deposits$ | async" fxLayout="column" fxLayoutGap="20px">
            <div class="mat-subheading-1">
                {{ t('deposit') }}
                <span dshSecondaryTitle>#{{ deposit.id }}</span>
            </div>
            <dsh-deposit-info [deposit]="deposit"></dsh-deposit-info>
            <mat-divider></mat-divider>
        </div>
        <button
            *ngIf="(hasMore$ | async) && (isLoading$ | async) === false"
            class="dsh-show-more"
            dsh-button
            (click)="fetchMore()"
        >
            <ng-container *transloco="let c">
                {{ c('showMore') }}
            </ng-container>
        </button>
        <div *ngIf="!(error$ | async) && (isLoading$ | async)" fxFlexAlign="center"><dsh-spinner></dsh-spinner></div>
        <div *ngIf="error$ | async" fxFlexAlign="center">{{ t('error') }}</div>
        <div *ngIf="!(error$ | async) && (deposits$ | async)?.length === 0">
            {{ t('noDeposits') }}
        </div>
    </dsh-card-content>
</dsh-card>
