<app-spring-spinner
    *ngIf="activeSpinner === 1"
    [animationDuration]="animationDuration"
    [size]="size"
    [color]="color"
></app-spring-spinner>

<app-breeding-rhombus-spinner
    *ngIf="activeSpinner === 2"
    [animationDuration]="animationDuration"
    [size]="size"
    [color]="color"
></app-breeding-rhombus-spinner>

<app-semipolar-spinner
    *ngIf="activeSpinner === 3"
    [animationDuration]="animationDuration"
    [size]="40"
    [color]="color"
></app-semipolar-spinner>

<app-self-building-square-spinner
    *ngIf="activeSpinner === 4"
    [animationDuration]="animationDuration"
    [size]="40"
    [color]="'#695BFF'"
></app-self-building-square-spinner>

<app-fulfilling-bouncing-circle-spinner
    *ngIf="activeSpinner === 5"
    [animationDuration]="animationDuration"
    [size]="size"
    [color]="color"
></app-fulfilling-bouncing-circle-spinner>

<app-radar-spinner
    *ngIf="activeSpinner === 6"
    [animationDuration]="animationDuration"
    [size]="size"
    [color]="color"
></app-radar-spinner>

<app-trinity-rings-spinner
    *ngIf="activeSpinner === 7"
    [animationDuration]="animationDuration"
    [size]="size"
    [color]="color"
></app-trinity-rings-spinner>

<app-half-circle-spinner
    *ngIf="activeSpinner === 8"
    [animationDuration]="animationDuration"
    [size]="size"
    [color]="color"
></app-half-circle-spinner>

<app-scaling-squares-spinner
    *ngIf="activeSpinner === 9"
    [animationDuration]="animationDuration"
    [size]="size"
    [color]="color"
></app-scaling-squares-spinner>

<app-swapping-squares-spinner
    *ngIf="activeSpinner === 10"
    [animationDuration]="animationDuration"
    [size]="size"
    [color]="color"
></app-swapping-squares-spinner>

<app-intersecting-circles-spinner
    *ngIf="activeSpinner === 11"
    [animationDuration]="animationDuration"
    [size]="size"
    [color]="color"
></app-intersecting-circles-spinner>
