.container {
    padding: 5px 20px 20px 20px;
    max-width: 1240px;
    margin: 0 auto;
}

.nav {
    padding: 20px 0;
}

mat-sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.brand {
    height: 80px;
}

.side-menu {
    width: 220px;
}
