<ng-container *transloco="let t; scope: 'payment-details'; read: 'paymentDetails.refunds.createRefund'">
    <dsh-base-dialog [title]="t('title')" [confirmButtonDisabled]="form.invalid" (cancel)="decline()" (confirm)="confirm()">
        <form fxLayout="column" [formGroup]="form">
            <dsh-max-length-input
                class="create-refund-dialog-reason"
                formControlName="reason"
                [label]="t('reason')"
                [maxLength]="maxReasonLength"
            ></dsh-max-length-input>
            <div fxLayout="column" fxLayoutGap="24px">
                <mat-checkbox [checked]="isPartialRefund" (change)="togglePartialRefund(!isPartialRefund)">{{
                    t('partialRefund')
                }}</mat-checkbox>
                <mat-form-field *ngIf="isPartialRefund && amountControl" class="create-refund-dialog-amount">
                    <mat-label>{{ t('amount') }}</mat-label>
                    <dsh-format-input [formControl]="amountControl" format="amount" required></dsh-format-input>
                    <mat-hint *ngIf="balance$ | async as balance; else loadingBalanceHint">
                        {{ t('availableRefund') }}
                        : {{ balance.refundedAmount.amount | toMajor | currency: balance.refundedAmount.currency }}
                        <br />
                        {{ t('balance') }}
                        : {{ balance.accountBalance.amount | toMajor | currency: balance.accountBalance.currency }}
                    </mat-hint>
                    <ng-template #loadingBalanceHint>
                        {{ t('balanceLoading') }}
                    </ng-template>
                </mat-form-field>
            </div>
        </form>
    </dsh-base-dialog>
</ng-container>
