<form
    *transloco="let t; scope: 'create-shop'; read: 'createShop.internationalLegalEntity'"
    fxLayout="column"
    fxLayoutGap="24px"
    [formGroup]="form"
>
    <div fxLayout="column" fxLayoutGap="16px">
        <mat-form-field>
            <mat-label>{{ t('shopUrl') }}</mat-label>
            <input aria-label="shopUrl" matInput formControlName="shopUrl" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ t('shopName') }}</mat-label>
            <input aria-label="shopName" matInput formControlName="shopName" required maxlength="100" />
            <mat-hint>{{ form.value.shopName.length }} / 100</mat-hint>
        </mat-form-field>
        <dsh-category-autocomplete-field
            [label]="t('category')"
            formControlName="category"
        ></dsh-category-autocomplete-field>
    </div>

    <mat-divider></mat-divider>

    <h2 class="dsh-title">{{ t('organization') }}</h2>

    <div fxLayout="column" fxLayoutGap="16px">
        <mat-form-field>
            <mat-label>{{ t('organizationName') }}</mat-label>
            <input aria-label="organizationName" matInput formControlName="organizationName" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ t('tradingName') }}</mat-label>
            <input aria-label="tradingName" matInput formControlName="tradingName" />
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ t('registeredAddress') }}</mat-label>
            <input aria-label="registeredAddress" matInput formControlName="registeredAddress" required />
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{ t('actualAddress') }}</mat-label>
            <input aria-label="actualAddress" matInput formControlName="actualAddress" />
        </mat-form-field>

        <dsh-country-autocomplete-field
            [label]="t('country')"
            formControlName="country"
        ></dsh-country-autocomplete-field>

        <dsh-payment-institution-autocomplete-field
            [label]="t('paymentInstitution')"
            formControlName="paymentInstitution"
        ></dsh-payment-institution-autocomplete-field>
    </div>

    <mat-divider></mat-divider>

    <h2 class="dsh-title">{{ t('payoutToolTitle') }}</h2>

    <dsh-payout-tool-form [form]="payoutTool"></dsh-payout-tool-form>

    <mat-checkbox
        [checked]="hasCorrespondentAccount"
        (change)="onCorrespondentAccountChange(!hasCorrespondentAccount)"
        >{{ t('correspondentAccount') }}</mat-checkbox
    >

    <dsh-payout-tool-form *ngIf="hasCorrespondentAccount" [form]="correspondentPayoutTool"></dsh-payout-tool-form>
</form>
