<div class="dsh-webhook-card-key-section">
    <dsh-card-title>
        <div class="mat-title">Публичный ключ</div>
    </dsh-card-title>
    <div fxLayout="column" [fxLayoutGap]="layoutGap">
        <div class="mat-caption">
            Содержимое публичного ключа, служащего для проверки авторитативности приходящих на url оповещений
        </div>
        <div class="mat-body-1 pre-wrap">
            {{ key }}
        </div>
        <div>
            <button dsh-button [cdkCopyToClipboard]="key">Скопировать ключ</button>
        </div>
    </div>
</div>
