<div fxLayout="column" fxLayoutGap="16px" *transloco="let s; scope: 'shops'; read: 'shops'">
    <dsh-last-updated (update)="refreshList()" [lastUpdated]="lastUpdated"></dsh-last-updated>
    <dsh-shop-row-header></dsh-shop-row-header>
    <ng-container *ngIf="isLoading && !isListExist; else shopsPanelsList">
        <div fxLayout fxFlexAlign="center">
            <dsh-spinner></dsh-spinner>
        </div>
    </ng-container>
</div>

<ng-template #shopsPanelsList>
    <dsh-accordion
        (expandedChange)="expandedIdChange($event)"
        [expanded]="expandedId$ | async"
        fxLayout="column"
        fxLayoutGap="16px"
    >
        <dsh-accordion-item #accordionItem *ngFor="let shop of shopList">
            <dsh-shop-row [shop]="shop"></dsh-shop-row>
            <ng-template dshLazyPanelContent>
                <dsh-card fxFlexFill fxLayout="column" fxLayoutGap="32px">
                    <dsh-accordion-item-content-header
                        (collapse)="accordionItem.collapse($event)"
                        *transloco="let s; scope: 'shops'; read: 'shops'"
                        >{{ s('panel.details') }}</dsh-accordion-item-content-header
                    >
                    <dsh-shop-details [shop]="shop" (updateData)="refreshList()"></dsh-shop-details>
                </dsh-card>
            </ng-template>
        </dsh-accordion-item>
    </dsh-accordion>
    <dsh-show-more-panel *ngIf="hasMore" (showMore)="showMoreElements()"></dsh-show-more-panel>
    <div *ngIf="isEmptyList" class="mat-headline">
        <dsh-empty-search-result *transloco="let t">{{ t('emptySearchResult') }}</dsh-empty-search-result>
    </div>
</ng-template>
