@import '~@angular/material/theming';

@mixin dsh-landing-section-theme($theme) {
    $foreground: map-get($theme, foreground);

    .dsh-header-container {
        h1,
        a {
            color: map-get($foreground, text);
        }

        &-inverted {
            h1,
            a {
                color: map-get($foreground, contrast-text);
            }
        }
    }
}
