<ng-container *transloco="let t; scope: 'range-datepicker'; read: 'rangeDatepicker'">
    <div fxLayout class="dsh-range-datepicker">
        <button (click)="back()" class="dsh-range-datepicker-button dsh-range-datepicker-back" [disabled]="isMinDate">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button
            [matMenuTriggerFor]="menu"
            fxFlex
            class="dsh-range-datepicker-button dsh-range-datepicker-input"
            title="{{ value?.begin | date: 'shortDate' }} - {{ value?.end | date: 'shortDate' }}"
        >
            <div class="dsh-range-datepicker-input-content">
                <ng-container *ngIf="publicValue?.begin && publicValue?.end; else placeholder" [ngSwitch]="period">
                    {{ publicValue | daterange }}
                </ng-container>
                <ng-template #placeholder>
                    {{ t('selectPeriod') }}
                </ng-template>
                <form [formGroup]="dateControl">
                    <mat-date-range-input [rangePicker]="picker" [min]="minDate" [max]="maxDate">
                        <input matInput matStartDate formControlName="begin" />
                        <input matInput matEndDate formControlName="end" />
                    </mat-date-range-input>
                </form>
            </div>
        </button>
        <button
            (click)="forward()"
            class="dsh-range-datepicker-button dsh-range-datepicker-forward"
            [disabled]="isMaxDate"
        >
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="selectPeriod('day')">{{ t('select.today') }}</button>
        <button mat-menu-item (click)="selectPeriod('week')">{{ t('select.currentWeek') }}</button>
        <button mat-menu-item (click)="selectPeriod('month')">{{ current | date: 'LLLL' | titlecase }}</button>
        <button mat-menu-item (click)="selectPeriod('3month')">{{ t('select.threeMonths') }}</button>
        <button mat-menu-item (click)="selectPeriod('year')">
            {{ t('select.year', { year: current | date: 'y' }) }}
        </button>
        <ng-container *ngIf="!disablePeriodSelect">
            <mat-divider class="dsh-range-datepicker-menu-divider"></mat-divider>
            <button mat-menu-item (click)="picker.open(); selectPeriod()">
                {{ t('select.period') }}
            </button>
        </ng-container>
    </mat-menu>

    <mat-date-range-picker #picker (opened)="pickerOpened()"></mat-date-range-picker>
</ng-container>
