<dsh-dropdown-actions *transloco="let t; scope: 'actionbar'; read: 'actionbar'">
    <div fxLayout="column" fxLayoutGap="24px">
        <div *ngIf="(orgs$ | async)?.result?.length" fxLayout="column" fxLayoutGap="16px">
            <div class="dsh-user-header dsh-user-link" routerLink="/organizations">{{ t('organizations.title') }}</div>
            <div
                *ngFor="let org of (orgs$ | async)?.result"
                class="dsh-user-link"
                [routerLink]="['/', 'organization', org.id]"
            >
                {{ org.name }}
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="dsh-user-link" (click)="logout()">{{ t('user.logout') }}</div>
    </div>
</dsh-dropdown-actions>
