<div *transloco="let t; scope: 'onboarding'" class="container" fxLayout="column" fxLayoutGap="20px">
    <h1 class="mat-display-1">{{ t.onboarding.headline }}</h1>
    <dsh-card>
        <h2 class="mat-title">{{ t.onboarding.companySearch.title }}</h2>
        <form fxLayout="column" [formGroup]="form">
            <mat-form-field>
                <mat-label>{{ t.onboarding.companySearch.searchFieldLabel }}</mat-label>
                <dsh-dadata-autocomplete
                    formControlName="searchStr"
                    type="party"
                    (optionSelected)="updateSuggestion($event)"
                    (errorOccurred)="searchSuggestionError()"
                    (suggestionNotFound)="suggestionNotFound()"
                    #daDadataAutocomplete
                ></dsh-dadata-autocomplete>
            </mat-form-field>
        </form>
        <div class="info-block">
            <dsh-company-details *ngIf="content && !manualContractorSelector" [content]="content">
            </dsh-company-details>
            <dsh-manual-contractor-selector
                *ngIf="manualContractorSelector"
                (contractorTypeSelected)="manualContractorTypeSelected($event)"
            ></dsh-manual-contractor-selector>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button dsh-stroked-button color="accent" (click)="leaveOnboarding()">
                {{ t.back }}
            </button>
            <button dsh-button color="accent" [disabled]="!(data$ | async)" (click)="next()">{{ t.next }}</button>
        </div>
    </dsh-card>
</div>
