<div class="container" fxLayout="column">
    <dsh-company-detail-item [label]="dicBasePath + '.name' | lc" [value]="details?.name"></dsh-company-detail-item>
    <dsh-company-detail-item
        [label]="dicBasePath + '.address' | lc"
        [value]="details?.address"
    ></dsh-company-detail-item>
    <dsh-company-detail-item
        [label]="dicBasePath + '.ogrnInnKpp' | lc"
        [value]="details?.ogrn + ' / ' + details?.inn + ' / ' + details?.kpp"
    ></dsh-company-detail-item>
</div>
