<dsh-card>
    <dsh-card-content fxLayout="column">
        <mat-form-field>
            <mat-label>BIN банка-эмитента карты</mat-label>
            <dsh-bin-input></dsh-bin-input>
            <mat-hint>Первые 4-8 цифр</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Последние цифры номера карты</mat-label>
            <dsh-card-input></dsh-card-input>
            <mat-hint>Последние 2-4 цифр</mat-hint>
        </mat-form-field>
    </dsh-card-content>
</dsh-card>
