<form
    [formGroup]="form"
    fxLayout="column"
    fxLayoutGap="10px"
    *transloco="let t; scope: 'onboarding'; read: 'onboarding.dataFlow.privateEntityInfo'"
>
    <div fxLayout fxLayoutGap="20px">
        <dsh-dadata-autocomplete
            fxFlex
            formControlName="fio"
            type="fio"
            [label]="t('fio')"
            required
        ></dsh-dadata-autocomplete>
        <mat-form-field fxFlex>
            <mat-label>{{ t('birthDate') }}</mat-label>
            <input matInput formControlName="birthDate" [matDatepicker]="birthDateDatepicker" required />
            <mat-datepicker-toggle matSuffix [for]="birthDateDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #birthDateDatepicker></mat-datepicker>
        </mat-form-field>
    </div>
    <dsh-dadata-autocomplete
        fxFlex
        formControlName="birthPlace"
        type="address"
        [label]="t('birthPlace')"
        [params]="{ fromBound: 'Region', toBound: 'Settlement' }"
        required
    ></dsh-dadata-autocomplete>
    <dsh-dadata-autocomplete
        fxFlex
        formControlName="residenceAddress"
        type="address"
        [label]="t('residenceAddress')"
        required
    ></dsh-dadata-autocomplete>
    <div fxLayout fxLayoutGap="20px">
        <mat-form-field fxFlex>
            <mat-label>{{ t('snils') }}</mat-label>
            <dsh-format-input format="snils" formControlName="snils" required></dsh-format-input>
        </mat-form-field>
        <div fxFlex fxLayout>
            <mat-form-field fxFlex *ngIf="isAdditionalFieldActive('innfl')">
                <mat-label>{{ t('innfl') }}</mat-label>
                <dsh-format-input format="individualEntityInn" formControlName="innfl"></dsh-format-input>
            </mat-form-field>
        </div>
    </div>
</form>
