<dsh-onboarding-layout title="Поиск организации или ИП" [hasNavigation]="false">
    <form fxLayout="column" fxLayoutGap="5px" [formGroup]="form">
        <mat-form-field>
            <mat-label>Введите название в свободной форме, адрес, ИНН или ОГРН</mat-label>
            <dsh-dadata-autocomplete
                formControlName="suggestions"
                type="party"
                (optionSelected)="updateSuggestion($event)"
                #daDadataAutocomplete
            ></dsh-dadata-autocomplete>
        </mat-form-field>
        <div *ngIf="info && !isNothingFound" fxLayout="column" fxLayoutGap="20px" class="info">
            <div fxLayout="row" fxLayoutGap="20px" fxLayoutGap.lt-sm="10px" fxLayout.lt-sm="column">
                <div fxFlex="200px" fxFlex.lt-sm="">Наименование:</div>
                <div fxFlex>{{ info.name.full_with_opf }}</div>
            </div>
            <div
                *ngIf="info?.address"
                fxLayout="row"
                fxLayoutGap="20px"
                fxLayoutGap.lt-sm="10px"
                fxLayout.lt-sm="column"
            >
                <div fxFlex="200px" fxFlex.lt-sm="">Адрес:</div>
                <div fxFlex>{{ info.address.value }}</div>
            </div>
            <div *ngIf="ogrnInnKpp" fxLayout="row" fxLayoutGap="20px" fxLayoutGap.lt-sm="10px" fxLayout.lt-sm="column">
                <div fxFlex="200px" fxFlex.lt-sm="">{{ ogrnInnKpp.label }}:</div>
                <div fxFlex>{{ ogrnInnKpp.value }}</div>
            </div>
        </div>
        <div *ngIf="!info && form.controls.suggestions.dirty" fxLayout="column" fxLayoutGap="20px">
            <div>{{ isNothingFound ? 'Ничего не найдено. ' : '' }}Можно указать сведения об организации вручную.</div>
            <mat-radio-group aria-label="Тип организации" formControlName="type">
                <mat-radio-button value="0">Юридическое лицо</mat-radio-button>
                <mat-radio-button value="1">Индивидуальный предприниматель</mat-radio-button>
            </mat-radio-group>
        </div>
    </form>
    <div fxLayout="row" fxLayoutAlign="space-between">
        <button dsh-stroked-button (click)="prevStep()">Назад</button>
        <div></div>
        <button dsh-button color="accent" [disabled]="!canContinue" (click)="nextStep()">
            {{ 'common.next' | lc }}
        </button>
    </div>
</dsh-onboarding-layout>
