<div class="toolbar" fxLayout fxLayoutGap="24px" fxLayoutAlign="start center">
    <dsh-brand fxFlex="168px" [type]="brandType" class="dsh-side-section"></dsh-brand>
    <nav
        *transloco="let t; scope: 'toolbar'; read: 'toolbar'"
        dsh-tab-nav-bar
        type="main"
        [inverted]="inverted$ | async"
    >
        <ng-container *ngFor="let link of links$ | async">
            <a dsh-tab-link *ngIf="!link.hidden" [routerLink]="link.path" [active]="(active$ | async) === link">
                {{ t('nav.' + link.id) }}
            </a>
        </ng-container>
    </nav>
    <dsh-actionbar fxFlex="grow" fxLayoutAlign="end"></dsh-actionbar>
</div>
