<div class="toolbar" fxLayout fxLayoutGap="24px" fxLayoutAlign="start center">
    <dsh-brand fxFlex="168px" [type]="brandType" class="dsh-side-section"></dsh-brand>
    <ng-container *ngIf="!(hideNav$ | async)">
        <nav *transloco="let t; scope: 'toolbar'; read: 'toolbar.nav'" dsh-tab-nav-bar type="main">
            <ng-container *ngFor="let link of links$ | async">
                <a
                    dsh-tab-link
                    *ngIf="!link?.disabled"
                    [routerLink]="link.path"
                    [active]="(active$ | async) === link"
                    [badge]="link === (links$ | async)[3] ? (claimsBadge$ | async) : undefined"
                >
                    {{ t[link.id] }}
                </a>
            </ng-container>
        </nav>
    </ng-container>
    <dsh-actionbar fxFlex="grow" fxLayoutAlign="end"></dsh-actionbar>
</div>
