<div *ngIf="organization$ | async as organization" fxLayout="column" fxLayoutGap="32px">
    <dsh-headline backRouterLink="..">{{ organization.name }}</dsh-headline>
    <div fxLayout="column" fxLayoutGap="32px">
        <nav dsh-tab-nav-bar>
            <a
                dsh-tab-link
                *ngFor="let link of links"
                [routerLink]="link.path"
                routerLinkActive
                #rla="routerLinkActive"
                [active]="rla.isActive"
            >
                <ng-container
                    *transloco="let links; scope: 'organizations'; read: 'organizations.organizationDetails.links'"
                    >{{ links(link.path) }}</ng-container
                >
            </a>
        </nav>
        <div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
