<ng-template>
    <div class="dsh-expand-panel-more" fxLayout="column" [fxLayoutGap]="fxLayoutGap">
        <ng-container *ngTemplateOutlet="expandPanelMoreHeader?.templateRef"></ng-container>
        <div *ngIf="lazyContent?._template; then lazy; else content"></div>
        <ng-template #lazy>
            <ng-container *ngTemplateOutlet="lazyContent?._template"></ng-container>
        </ng-template>
        <ng-template #content>
            <ng-content></ng-content>
        </ng-template>
    </div>
</ng-template>
