<div fxLayout="column" fxLayoutGap="24px">
    <dsh-webhook-main-info
        [url]="webhook.url"
        [identityID]="webhook.identityID"
        [identityName]="webhook.identityID | identityDetails"
        [walletName]="getWalletID(webhook.scope) ? (getWalletID(webhook.scope) | walletDetails) : null"
    ></dsh-webhook-main-info>
    <mat-divider></mat-divider>
    <dsh-webhook-events [scope]="webhook.scope"></dsh-webhook-events>
    <mat-divider></mat-divider>
    <dsh-webhook-api-key [key]="webhook.publicKey"></dsh-webhook-api-key>
    <mat-divider></mat-divider>
    <dsh-webhook-actions
        [webhookID]="webhook.id"
        [identityID]="webhook.identityID"
        (deleteWebhook)="deleteWebhook.emit($event)"
    ></dsh-webhook-actions>
</div>
