<div class="container">
    <dsh-toolbar>
        <div fxLayout>
            <dsh-brand fxFlex="100px"></dsh-brand>
            <dsh-actionbar fxFlex="grow" fxLayoutAlign="end"></dsh-actionbar>
        </div>
    </dsh-toolbar>
    <div class="content">
        <div fxLayout="row" fxLayoutGap="30px">
            <div fxLayoutGap="1"><button (click)="refreshValue()">Refresh data</button></div>
            <dsh-card fxLayoutGap="1"><dsh-bar-chart [data]="periodData"></dsh-bar-chart></dsh-card>
            <dsh-card><dsh-donut-chart [data]="segmentData"></dsh-donut-chart></dsh-card>
        </div>
    </div>
</div>
