@import '../../components/form-controls/range-datepicker/range-datepicker-theme';
@import '../../components/form-controls/file-uploader/file-uploader-theme';
@import '../../components/buttons/button/button-theme';
@import '../../components/buttons/button-toggle/button-toggle-theme';
@import '../../components/layout/card/card-theme';
@import '../../components/layout/float-panel/float-panel-theme';
@import '../../components/layout/panel/panel-theme';
@import '../../components/layout/headline/secondary-title/secondary-title-theme';
@import '../../components/layout/timeline/timeline-theme';
@import '../../components/layout/dropdown/dropdown-theme';
@import '../../components/layout/details-item/details-item-theme';
@import '../../components/layout/expansion/expansion-theme';
@import '../../components/layout/expand-panel/expand-panel-theme';
@import '../../components/layout/row/row-theme';
@import '../../components/layout/accordion/accordion-theme';
@import '../../components/charts/bar-chart/bar-chart-theme';
@import '../../components/indicators/status/status-theme';
@import '../../components/indicators/colored-icon/colored-icon-theme';
@import '../../components/indicators/last-updated/last-updated-theme';
@import '../../components/indicators/text-color/text-color-theme';
@import '../../components/navigation/state-nav/state-nav-theme';
@import '../../components/navigation/breadcrumb/breadcrumb-theme';
@import '../../components/filters/filter/filter-theme';
@import '../../components/filters/daterange-filter/daterange-filter-theme';
@import '../../components/filters/date-range-filter/date-range-filter-theme';
@import '../../components/navigation/navbar/navbar-theme';
@import '../../components/layout/limited-list/limited-list-theme';
@import '../../components/nested-table/nested-table-theme';
@import '../../components/layout/headline/headline-theme';
@import '../../components/indicators/selection/selection-theme';
@import '../../components/link/link-theme';
@import '../../components/layout/alert/alert-theme';

@import '../../app/home/home-theme';
@import '../../app/home/actionbar/actionbar-theme';
@import '../../app/home/welcome-image/welcome-image-theme';
@import '../../app/home/mobile-grid/mobile-grid-theme';
@import '../../app/dadata/dadata-theme';
@import '../../app/sections/landing/landing-theme';
@import '../../app/sections/payment-section/analytics/percent-difference/percent-difference-theme';
@import '../../app/sections/payment-section/analytics/stat-item/stat-item-theme';
@import '../../app/sections/wallet-section/wallets/wallets-panels-list/wallets-panels-list-theme';
@import '../../app/sections/payment-section/balances/balances-theme';
@import '../../app/feedback/feedback-theme';

@mixin dsh-theme($theme) {
    @include dsh-home-theme($theme);
    @include dsh-actionbar-theme($theme);
    @include dsh-dropdown-theme($theme);
    @include dsh-card-theme($theme);
    @include dsh-state-nav-theme($theme);
    @include dsh-navbar-theme($theme);
    @include dsh-mobile-grid-theme($theme);
    @include dsh-button-theme($theme);
    @include dsh-button-toggle-theme($theme);
    @include dsh-float-panel-theme($theme);
    @include dsh-status-theme($theme);
    @include dsh-colored-icon-theme($theme);
    @include dsh-landing-section-theme($theme);
    @include dsh-welcome-image-theme($theme);
    @include dsh-timeline-theme($theme);
    @include dsh-dadata-autocomplete-theme($theme);
    @include dsh-expansion-theme($theme);
    @include dsh-details-item-theme($theme);
    @include dsh-details-secondary-title-theme($theme);
    @include dsh-file-uploader-theme($theme);
    @include dsh-panel-theme($theme);
    @include dsh-bar-chart-theme($theme);
    @include dsh-percent-difference-theme($theme);
    @include dsh-range-datepicker-theme($theme);
    @include dsh-stat-item-theme($theme);
    @include dsh-expand-panel-theme($theme);
    @include dsh-wallets-panels-list-theme($theme);
    @include dsh-filter-theme($theme);
    @include dsh-daterange-filter-theme($theme);
    @include dsh-date-range-filter-theme($theme);
    @include dsh-row-theme($theme);
    @include dsh-accordion-theme($theme);
    @include dsh-last-updated-theme($theme);
    @include dsh-balances-theme($theme);
    @include dsh-feedback-theme($theme);
    @include dsh-limited-list-theme($theme);
    @include dsh-nested-table-theme($theme);
    @include dsh-headline-theme($theme);
    @include dsh-breadcrumb-theme($theme);
    @include dsh-text-color-theme($theme);
    @include dsh-selection-theme($theme);
    @include dsh-link-theme($theme);
    @include dsh-alert-theme($theme);
}
