<div fxLayout="column" fxLayoutGap="32px">
    <div
        gdColumns="1fr"
        gdColumns.gt-sm="repeat(2, auto)"
        gdAlignColumns="center center"
        gdAlignRows="space-between start"
        gdGap="32px"
    >
        <button *transloco="let i; scope: 'invoices'; read: 'invoices'" dsh-button color="accent" (click)="create()">
            {{ i('create.button') }}
        </button>
        <dsh-invoices-search-filters
            gdRow.gt-sm="1"
            [initParams]="params$ | async"
            [realm]="realm$ | async"
            (filtersChanged)="searchParamsChanges($event)"
        ></dsh-invoices-search-filters>
    </div>
    <div fxLayout="column" fxLayoutGap="16px">
        <dsh-invoices-list
            [expandedId]="expandedId$ | async"
            (expandedIdChange)="expandedIdChange($event)"
            [invoices]="invoices$ | async"
            [lastUpdated]="lastUpdated$ | async"
            (refreshData)="refresh()"
        ></dsh-invoices-list>
        <dsh-show-more-panel
            *ngIf="hasMore$ | async"
            [isLoading]="isLoading$ | async"
            (showMore)="fetchMore()"
        ></dsh-show-more-panel>
    </div>
    <dsh-empty-search-result
        *ngIf="!(fetchErrors$ | async) && (invoices$ | async)?.length === 0"
    ></dsh-empty-search-result>
    <dsh-spinner *ngIf="isLoading$ | async" fxLayoutAlign="center"></dsh-spinner>
</div>
