<div fxLayout="column" fxLayoutGap="32px">
    <dsh-invoices-search-filters
        [initParams]="initSearchParams$ | async"
        [realm]="realm$ | async"
        (searchParamsChanges)="searchParamsChanges($event)"
    ></dsh-invoices-search-filters>
    <div fxLayout="column" fxLayoutGap="16px">
        <dsh-invoices-list
            [expandedId]="expandedId$ | async"
            (expandedIdChange)="expandedIdChange($event)"
            [invoices]="invoices$ | async"
            [lastUpdated]="lastUpdated$ | async"
            (refreshData)="refresh()"
        ></dsh-invoices-list>
        <dsh-show-more-panel
            *ngIf="hasMore$ | async"
            [isLoading]="isLoading$ | async"
            (showMore)="fetchMore()"
        ></dsh-show-more-panel>
    </div>
    <dsh-empty-search-result
        *ngIf="!(fetchErrors$ | async) && (invoices$ | async)?.length === 0"
    ></dsh-empty-search-result>
    <dsh-spinner *ngIf="isLoading$ | async" fxLayoutAlign="center"></dsh-spinner>
</div>
<dsh-scroll-up></dsh-scroll-up>
