$dsh-surface-padding: 32px;
$dsh-surface-subheading-height: 80px;

.dsh-main-parts-surface {
    padding: $dsh-surface-padding;
    .subheading {
        min-height: $dsh-surface-subheading-height;
    }
}
