<div *transloco="let t; scope: 'organizations'; read: 'organizations.organization'" gdGap="24px" gdColumns="1fr 1fr">
    <dsh-collapse *ngFor="let role of rolesByGroup" [title]="t('roles.' + role.id)">
        <dsh-limited-list *ngFor="let scope of role.scopes" [title]="t('scopes.' + scope.id)">
            <dsh-limited-list-item *ngFor="let resourceId of scope.resourcesIds">{{
                resourceId
            }}</dsh-limited-list-item>
        </dsh-limited-list>
    </dsh-collapse>
</div>
