<dsh-float-panel [formGroup]="searchForm" novalidate [(expanded)]="expanded">
    <div
        fxLayout
        [fxLayoutGap]="layoutGap"
        fxLayout.sm="column"
        fxLayout.xs="column"
        fxLayoutAlign="space-between center"
        fxLayoutAlign.sm="space-between stretch"
        fxLayoutAlign.xs="space-between stretch"
    >
        <div fxFlex>
            <dsh-button-toggle-group (valueChange)="filterByDateRange($event)">
                <dsh-button-toggle value="today">
                    {{ 'common.today' | lc }}
                </dsh-button-toggle>
                <dsh-button-toggle value="week">
                    {{ 'common.week' | lc }}
                </dsh-button-toggle>
                <dsh-button-toggle value="month">
                    {{ 'common.month' | lc }}
                </dsh-button-toggle>
                <dsh-button-toggle value="more" (click)="expanded = true; fromTime.open()">
                    <mat-icon>more_horiz</mat-icon>
                </dsh-button-toggle>
            </dsh-button-toggle-group>
        </div>
        <dsh-justify-wrapper fxFlex fxLayout fxLayout.sm="column" fxLayout.xs="column" [fxLayoutGap]="layoutGap">
            <mat-form-field fxFlex>
                <mat-label>{{ localeBaseDir + '.shopID' | lc }}</mat-label>
                <input matInput formControlName="shopID" />
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>{{ localeBaseDir + '.paymentStatus.title' | lc }}</mat-label>
                <mat-select formControlName="paymentStatus">
                    <mat-option>
                        {{ localeBaseDir + '.paymentStatus.any' | lc }}
                    </mat-option>
                    <mat-option *ngFor="let status of statuses" [value]="status">
                        {{ localeBaseDir + '.paymentStatus.' + status | lc }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </dsh-justify-wrapper>
    </div>
    <dsh-float-panel-actions>
        <button dsh-button (click)="reset()">
            {{ 'common.resetSearchParams' | lc }}
        </button>
    </dsh-float-panel-actions>
    <dsh-float-panel-more>
        <div
            fxLayout
            fxLayout.sm="column"
            fxLayout.xs="column"
            [fxLayoutGap]="layoutGap"
            fxLayoutGap.sm="0"
            fxLayoutGap.xs="0"
        >
            <div fxFlex fxLayout fxLayout.xs="column" [fxLayoutGap]="layoutGap" fxLayoutGap.xs="0">
                <mat-form-field fxFlex>
                    <mat-label>{{ localeBaseDir + '.fromTime' | lc }}</mat-label>
                    <input required matInput formControlName="fromTime" [matDatepicker]="fromTime" />
                    <mat-datepicker-toggle matSuffix [for]="fromTime"></mat-datepicker-toggle>
                    <mat-datepicker #fromTime></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>{{ localeBaseDir + '.toTime' | lc }}</mat-label>
                    <input required matInput formControlName="toTime" [matDatepicker]="toTime" />
                    <mat-datepicker-toggle matSuffix [for]="toTime"></mat-datepicker-toggle>
                    <mat-datepicker #toTime></mat-datepicker>
                </mat-form-field>
            </div>
            <div fxFlex fxLayout fxLayout.xs="column" [fxLayoutGap]="layoutGap" fxLayoutGap.xs="0">
                <mat-form-field fxFlex>
                    <mat-label>{{ localeBaseDir + '.payerEmail' | lc }}</mat-label>
                    <input matInput type="email" formControlName="payerEmail" />
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>{{ localeBaseDir + '.paymentFlow.title' | lc }}</mat-label>
                    <mat-select formControlName="paymentFlow">
                        <mat-option>
                            {{ localeBaseDir + '.paymentFlow.any' | lc }}
                        </mat-option>
                        <mat-option *ngFor="let flow of flows" [value]="flow">
                            {{ localeBaseDir + '.paymentFlow.' + flow | lc }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div
            fxLayout
            fxLayout.sm="column"
            fxLayout.xs="column"
            [fxLayoutGap]="layoutGap"
            fxLayoutGap.sm="0"
            fxLayoutGap.xs="0"
        >
            <div fxFlex fxLayout fxLayout.xs="column" [fxLayoutGap]="layoutGap" fxLayoutGap.xs="0">
                <mat-form-field fxFlex>
                    <mat-label>{{ localeBaseDir + '.paymentID' | lc }}</mat-label>
                    <input matInput formControlName="paymentID" />
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>{{ localeBaseDir + '.invoiceID' | lc }}</mat-label>
                    <input matInput formControlName="invoiceID" />
                </mat-form-field>
            </div>
            <div fxFlex fxLayout fxLayout.xs="column" [fxLayoutGap]="layoutGap" fxLayoutGap.xs="0">
                <mat-form-field fxFlex>
                    <mat-label>{{ localeBaseDir + '.bankCardTokenProvider.title' | lc }}</mat-label>
                    <mat-select formControlName="bankCardTokenProvider">
                        <mat-option>
                            {{ localeBaseDir + '.bankCardTokenProvider.any' | lc }}
                        </mat-option>
                        <mat-option *ngFor="let tokenProvider of tokenProviders" [value]="tokenProvider">
                            {{ localeBaseDir + '.bankCardTokenProvider.' + tokenProvider | lc }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>{{ localeBaseDir + '.paymentMethod.title' | lc }}</mat-label>
                    <mat-select formControlName="paymentMethod">
                        <mat-option>
                            {{ localeBaseDir + '.paymentMethod.any' | lc }}
                        </mat-option>
                        <mat-option *ngFor="let method of methods" [value]="method">
                            {{ localeBaseDir + '.paymentMethod.' + method | lc }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div
            fxLayout
            fxLayout.sm="column"
            fxLayout.xs="column"
            [fxLayoutGap]="layoutGap"
            fxLayoutGap.sm="0"
            fxLayoutGap.xs="0"
        >
            <div fxFlex fxLayout fxLayout.xs="column" [fxLayoutGap]="layoutGap" fxLayoutGap.xs="0">
                <mat-form-field fxFlex>
                    <mat-label>{{ localeBaseDir + '.paymentAmount' | lc }}</mat-label>
                    <input matInput type="number" formControlName="paymentAmount" />
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>{{ localeBaseDir + '.bankCardPaymentSystem.title' | lc }}</mat-label>
                    <mat-select formControlName="bankCardPaymentSystem">
                        <mat-option>
                            {{ localeBaseDir + '.bankCardPaymentSystem.any' | lc }}
                        </mat-option>
                        <mat-option *ngFor="let method of bankCardPaymentSystems" [value]="method">
                            {{ localeBaseDir + '.bankCardPaymentSystem.' + method | lc }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex fxLayout fxLayout.xs="column" [fxLayoutGap]="layoutGap" fxLayoutGap.xs="0">
                <mat-form-field fxFlex>
                    <mat-label>{{ localeBaseDir + '.last4' | lc }}</mat-label>
                    <dsh-card-input formControlName="last4"></dsh-card-input>
                </mat-form-field>
                <mat-form-field fxFlex>
                    <mat-label>{{ localeBaseDir + '.first6' | lc }}</mat-label>
                    <dsh-bin-input formControlName="first6"></dsh-bin-input>
                </mat-form-field>
            </div>
        </div>
        <div
            fxLayout
            fxLayout.sm="column"
            fxLayout.xs="column"
            [fxLayoutGap]="layoutGap"
            fxLayoutGap.sm="0"
            fxLayoutGap.xs="0"
        >
            <mat-form-field fxFlex>
                <mat-label>{{ localeBaseDir + '.payerFingerprint' | lc }}</mat-label>
                <input matInput formControlName="payerFingerprint" />
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>{{ localeBaseDir + '.payerIP' | lc }}</mat-label>
                <input matInput formControlName="payerIP" />
            </mat-form-field>
        </div>
    </dsh-float-panel-more>
</dsh-float-panel>
