@import '~@angular/material/theming';

@mixin glow-effect($color, $color-adjustment) {
    background: radial-gradient(circle closest-side, lighten($color, $color-adjustment), transparent);
}

@mixin button($text-color, $background-color) {
    background: $background-color;
    color: $text-color;
    box-shadow: none;
}

@mixin stroked-button($text-color, $border-color) {
    border: solid $border-color 2px;
    color: $text-color;
    box-shadow: none;
}

@mixin focused-background($palette, $color) {
    background: mat-color($palette, $color);
}

@mixin dsh-button-theme($theme) {
    $foreground: map-get($theme, foreground);
    $background: map-get($theme, background);
    $accent: map-get($theme, accent);
    $primary: map-get($theme, primary);
    $warn: map-get($theme, warn);

    .dsh {
        &-button,
        &-stroked-button {
            background: none;

            &:focus:not(:disabled) {
                outline: none;
            }
        }

        &-button {
            color: map-get($foreground, base);
            box-shadow: 0 3px 1px -2px rgba(map-get($foreground, disabled-button), 0.2),
                0 2px 2px 0 rgba(map-get($foreground, base), 0.14), 0 1px 5px 0 rgba(map-get($foreground, base), 0.12);

            &-glow {
                @include glow-effect(map-get($foreground, text), 60%);
            }

            &.dsh-primary {
                @include button(map-get($background, card), mat-color($primary, 400));

                .dsh-button-glow {
                    @include glow-effect(mat-color($primary, 400), 4%);
                }

                &.focused {
                    @include focused-background($primary, 300);
                }
            }

            &.dsh-accent {
                @include button(map-get($background, card), mat-color($accent, 300));

                .dsh-button-glow {
                    @include glow-effect(mat-color($accent, 300), 10%);
                }

                &.focused {
                    @include focused-background($accent, 200);
                }
            }

            &.dsh-warn {
                @include button(map-get($background, card), mat-color($warn, 400));

                .dsh-button-glow {
                    @include glow-effect(mat-color($warn, 400), 5%);
                }

                &.focused {
                    @include focused-background($warn, 300);
                }
            }

            &:disabled {
                background: map-get($foreground, disabled-button);
            }
        }

        &-stroked-button {
            box-shadow: 0 3px 1px -2px rgba(map-get($foreground, base), 0.2),
                0 2px 2px 0 rgba(map-get($foreground, base), 0.14), 0 1px 5px 0 rgba(map-get($foreground, base), 0.12);

            &.dsh-primary {
                @include stroked-button(mat-color($primary, 400), mat-color($primary, 400));

                &.focused {
                    background: rgba(mat-color($primary, 300), 0.1);
                }
            }

            &.dsh-accent {
                @include stroked-button(mat-color($accent, 300), mat-color($accent, 300));

                &.focused {
                    background: rgba(mat-color($accent, 200), 0.1);
                }
            }

            &.dsh-warn {
                @include stroked-button(mat-color($warn, 400), mat-color($warn, 400));

                &.focused {
                    background: rgba(mat-color($warn, 300), 0.1);
                }
            }

            &:disabled {
                border-color: map-get($foreground, disabled-button);
                color: map-get($foreground, disabled-button);
            }
        }
    }
}
