// Basic button standards
$dsh-button-min-width: 64px !default;
$dsh-button-margin: 0 !default;
$dsh-button-line-height: 36px !default;
$dsh-button-padding: 0 16px !default;
$dsh-button-border-radius: 25px !default;

// Stroked button padding is 2px less horizontally than default button's padding.
$dsh-stroked-button-line-height: $dsh-button-line-height - 4;
$dsh-stroked-button-border-width: 1px;

// Icon Button standards
$dsh-icon-button-size: 36px !default;
$dsh-icon-button-border-radius: 50% !default;
$dsh-icon-button-line-height: 24px !default;

// Fab standards
$dsh-fab-border-radius: 50% !default;
$dsh-fab-size: 36px !default;
$dsh-fab-padding: 6px !default;

// Mixin overriding default button styles like the gray background, the border, and the outline.
@mixin dsh-button-reset {
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;

    // The `outline: none` from above works on all browsers, however Firefox also
    // adds a special `focus-inner` which we have to disable explicitly. See:
    // https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button#Firefox
    &::-moz-focus-inner {
        border: 0;
    }
}

// Applies base styles to all button types.
@mixin dsh-button-base {
    box-sizing: border-box;
    position: relative;

    // Reset browser <button> styles.
    @include dsh-button-reset();

    // Make anchors render like buttons.
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;

    // Sizing.
    margin: $dsh-button-margin;
    min-width: $dsh-button-min-width;
    line-height: $dsh-button-line-height;
    padding: $dsh-button-padding;
    border-radius: $dsh-button-border-radius;

    // Explicitly set the default overflow to `visible`. It is already set
    // on most browsers except on IE11 where it defaults to `hidden`.
    overflow: visible;

    dsh-glow {
        border-radius: $dsh-button-border-radius;
    }

    &[disabled] {
        cursor: default;
    }

    &::-moz-focus-inner {
        border: 0;
    }
}

// Applies styles to fab button type only
@mixin dsh-fab($size, $padding) {
    @include dsh-button-base();

    // Reset the min-width from the button base.
    min-width: 0;

    border-radius: $dsh-fab-border-radius;
    width: $size;
    height: $size;
    padding: 0;

    flex-shrink: 0;

    dsh-glow {
        border-radius: $dsh-fab-border-radius;
    }
}
