$base-button-font-size: 14px;
$base-button-font-family: 'Roboto', sans-serif;
$base-button-line-height: 24px;
$base-button-border-radius: 25px;

$button-padding: 6px 25px;

$stroked-button-padding: 4px 25px;
$stroked-button-border: 2px;

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.dsh {
    &-button,
    &-stroked-button {
        display: inline-block;
        position: relative;
        border: $stroked-button-border;
        border-radius: $base-button-border-radius;
        font-size: $base-button-font-size;
        font-family: $base-button-font-family;
        line-height: $base-button-line-height;

        &:active:not(:disabled) {
            transform: translateY(1px);
        }

        &:not(:disabled) {
            cursor: pointer;
        }
    }

    &-stroked-button {
        padding: $stroked-button-padding;
    }

    &-button {
        padding: $button-padding;

        &-text {
            position: relative;
            z-index: 1;
        }

        &-glow {
            display: block;
            position: absolute;
            height: 160px;
            width: 160px;
            top: -80px;
            left: -80px;
            opacity: 0;
            border-radius: 100%;
            overflow: hidden;
            z-index: 0;
            transition: opactity 0.5s;
            animation: hide 0.5s;

            &.show {
                animation: show 0.5s;
                opacity: 1;
            }

            &-wrapper {
                position: absolute;
                height: 100%;
                width: 100%;
                left: 0;
                top: 0;
                border-radius: 25px;
                overflow: hidden;
                z-index: 0;
            }
        }
    }
}
