<dsh-expand-panel-accordion
    fxLayout="column"
    fxLayoutGap="20px"
    (expandedChange)="select($event)"
    [expanded]="selectedIdx$ | async"
    *transloco="let t; scope: 'wallets'; read: 'wallets'"
>
    <dsh-expand-panel *ngFor="let wallet of wallets$ | async">
        <div fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <div class="mat-body-1">{{ wallet.name }}</div>
                <div class="mat-body-2">{{ (getAccount(wallet.id) | async)?.available.amount | toMajor }}</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <span class="mat-caption">
                    {{ !wallet.isBlocked ? t.status.active : t.status.inactive }}
                </span>
                <span class="mat-caption">{{ (getAccount(wallet.id) | async)?.available.currency }}</span>
            </div>
        </div>
        <dsh-expand-panel-more>
            <dsh-expand-panel-more-header>
                <div fxFlex fxLayoutAlign="space-between center" fxLayoutGap="10px">
                    <div class="mat-caption dsh-wallet-header">{{ t.wallet_details }} #{{ wallet.id }}</div>
                    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
                        <div class="mat-caption dsh-wallet-header">
                            {{ !wallet.isBlocked ? t.status.active : t.status.inactive }}
                        </div>
                    </div>
                </div>
            </dsh-expand-panel-more-header>
            <div fxLayout="column" [fxLayoutGap]="layoutGap" fxFlex="100">
                <div class="mat-headline">
                    {{
                        (getAccount(wallet.id) | async)?.available.amount
                            | toMajor
                            | currency: (getAccount(wallet.id) | async)?.available.currency
                    }}
                </div>
                <dsh-wallet-details [wallet]="wallet"></dsh-wallet-details>
                <mat-divider></mat-divider>
                <dsh-account *ngIf="getAccount(wallet.id) | async as account" [account]="account"></dsh-account>
                <mat-divider></mat-divider>
                <dsh-actions [walletID]="wallet.id"></dsh-actions>
            </div>
        </dsh-expand-panel-more>
    </dsh-expand-panel>
</dsh-expand-panel-accordion>
