<div
    *transloco="let t; scope: 'organizations'; read: 'organizations.organization'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <div class="dsh-headline">{{ organization?.name }}</div>

    <dsh-details-item [title]="t('numberOfEmployees')">
        {{ membersCount$ | async }}
    </dsh-details-item>

    <ng-container *ngIf="member$ | async as member">
        <mat-divider></mat-divider>
        <div class="dsh-title">{{ t('titles.roles') }}</div>
        <dsh-organization-roles [roles]="member.roles" [isOwner]="isOwner$ | async"></dsh-organization-roles>
    </ng-container>

    <mat-divider></mat-divider>
    <div class="dsh-title">{{ t('titles.actions') }}</div>
    <div fxLayout fxLayoutGap="24px">
        <button *ngIf="hasAdminAccess$ | async" (click)="rename()" dsh-button color="accent">
            {{ t('actions.rename') }}
        </button>
        <button *ngIf="!(hasAdminAccess$ | async)" (click)="leave()" dsh-button color="warn">
            {{ t('actions.leave') }}
        </button>
    </div>

    <ng-container *ngIf="hasAdminAccess$ | async">
        <mat-divider></mat-divider>
        <dsh-navigation-link
            fxFlexAlign="end"
            [text]="t('management')"
            [routerLink]="['/', 'organization', organization.id]"
        ></dsh-navigation-link>
    </ng-container>
</div>
