$dsh-payment-details-max-width: 660px;

.dsh {
    &-payment-details {
        margin: 0 auto;
        max-width: $dsh-payment-details-max-width;
    }

    &-back-icon:hover {
        cursor: pointer;
    }
}
