<div *ngIf="payment$ | async as payment" class="dsh-payment-details" fxLayout="column" [fxLayoutGap]="layoutGap">
    <dsh-headline [paymentID]="payment?.id"></dsh-headline>
    <dsh-details [payment]="payment"></dsh-details>
    <dsh-payment-tool
        *ngIf="getPaymentToolDetails(payment)"
        [paymentToolDetails]="getPaymentToolDetails(payment)"
    ></dsh-payment-tool>
    <dsh-payer-details
        *ngIf="payment?.payer?.payerType !== PayerType.RecurrentPayer"
        [payer]="payment.payer"
    ></dsh-payer-details>
    <dsh-hold-details
        *ngIf="payment?.flow?.type === PaymentFlow.PaymentFlowHold"
        [flowHold]="payment.flow"
        [invoiceID]="payment.invoiceID"
        [paymentID]="payment.id"
        [currency]="payment.currency"
        [acceptMaxAmount]="payment.amount"
        [paymentStatus]="payment.status"
    ></dsh-hold-details>
    <dsh-make-recurrent *ngIf="payment?.makeRecurrent"></dsh-make-recurrent>
    <dsh-recurrent-details
        *ngIf="payment?.payer?.payerType === PayerType.RecurrentPayer"
        [recurrentPayer]="payment.payer"
    ></dsh-recurrent-details>
    <dsh-invoice-details *ngIf="payment?.invoiceID" [invoiceID]="payment.invoiceID"></dsh-invoice-details>
    <dsh-shop-details *ngIf="payment?.shopID" [shopID]="payment.shopID"></dsh-shop-details>
    <dsh-refunds></dsh-refunds>
</div>
