<div *transloco="let t; scope: 'operations'; read: 'operations.invoices.table'" class="table-container">
    <table dshTable [dataSource]="data">
        <ng-container dshColumnDef="invoiceID">
            <th dshHeaderCell fxFlex="160px" *dshHeaderCellDef>
                {{ t.invoiceID }}
            </th>
            <td dshCell fxFlex="160px" *dshCellDef="let element">
                {{ element.invoiceID }}
            </td>
        </ng-container>

        <ng-container dshColumnDef="amount">
            <th dshHeaderCell fxFlex="180px" *dshHeaderCellDef>
                {{ t.amount }}
            </th>
            <td dshCell fxFlex="180px" *dshCellDef="let element">
                {{ element.amount | toMajor | currency: element.currency }}
            </td>
        </ng-container>

        <ng-container dshColumnDef="status">
            <th dshHeaderCell fxFlex="180px" *dshHeaderCellDef>
                {{ t.status }}
            </th>
            <td dshCell fxFlex="180px" *dshCellDef="let element">
                <dsh-status *transloco="let c" [color]="element.status | invoiceStatusColor">{{
                    c.invoiceStatus[element.status]
                }}</dsh-status>
            </td>
        </ng-container>

        <ng-container dshColumnDef="createdAt">
            <th dshHeaderCell fxFlex="180px" *dshHeaderCellDef>
                {{ t.createdAt }}
            </th>
            <td dshCell fxFlex="180px" *dshCellDef="let element">
                {{ element.createdAt | date: 'dd MMMM yyyy, HH:mm' }}
            </td>
        </ng-container>

        <ng-container dshColumnDef="shop">
            <th dshHeaderCell *dshHeaderCellDef>{{ t.shop }}</th>
            <td dshCell *dshCellDef="let element">
                <span class="truncate">{{ element.shopName }}</span>
            </td>
        </ng-container>

        <ng-container dshColumnDef="actions">
            <th dshHeaderCell fxFlex="42px" *dshHeaderCellDef></th>
            <td dshCell fxFlex="42px" *dshCellDef="let element">
                <button dsh-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon svgIcon="more_vert"></mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="goToInvoiceDetails(element)">
                        {{ t.actions.invoiceDetails }}
                    </button>
                </mat-menu>
            </td>
        </ng-container>

        <tr dsh-header-row *dshHeaderRowDef="displayedColumns"></tr>
        <tr dsh-row *dshRowDef="let row; columns: displayedColumns"></tr>
    </table>
</div>
