$dsh-payment-details-max-width: 744px;
$dsh-payment-details-top-padding: 80px;

.dsh-organizations {
    margin: 0 auto;
    max-width: $dsh-payment-details-max-width;
    padding-top: $dsh-payment-details-top-padding;
}
