<form
    fxLayout="column"
    fxLayoutGap="32px"
    [formGroup]="form"
    *transloco="let t; scope: 'create-shop'; read: 'createShop.russianLegalEntity'"
>
    <h1 class="dsh-headline">{{ t('title') }}</h1>
    <div fxLayout="column" fxLayoutGap="16px">
        <mat-form-field>
            <mat-label>{{ t('url') }}</mat-label>
            <input matInput formControlName="url" required />
        </mat-form-field>
        <mat-form-field>
            <mat-label>{{ t('name') }}</mat-label>
            <input matInput formControlName="name" required maxlength="100" />
            <mat-hint>{{ form.value.name.length }} / 100</mat-hint>
        </mat-form-field>

        <div
            *transloco="let p; scope: 'create-shop'; read: 'createShop.russianLegalEntity.payoutTool'"
            fxLayout="column"
            fxLayoutGap="24px"
        >
            <mat-divider></mat-divider>

            <div fxLayout="column" fxLayoutGap="16px">
                <h2 class="dsh-title">{{ p('title') }}</h2>
                <div class="dsh-body-1">{{ p('description') }}</div>
            </div>

            <div>
                <mat-radio-group formControlName="bankAccountType" fxLayout fxLayoutGap="24px" required>
                    <mat-radio-button [value]="bankAccountType.new" fxFlex>{{
                        p('bankAccountType.new')
                    }}</mat-radio-button>
                    <mat-radio-button [value]="bankAccountType.existing" fxFlex>{{
                        p('bankAccountType.existing')
                    }}</mat-radio-button>
                </mat-radio-group>
            </div>

            <div
                *ngIf="form.value.bankAccountType === bankAccountType.new"
                formGroupName="newBankAccount"
                fxLayout="column"
                fxLayoutGap="16px"
            >
                <mat-form-field>
                    <mat-label>{{ p('new.search') }}</mat-label>
                    <dsh-dadata-autocomplete
                        formControlName="search"
                        type="bank"
                        (optionSelected)="bankSelected($event)"
                    ></dsh-dadata-autocomplete>
                </mat-form-field>

                <div
                    fxLayout="column"
                    fxLayoutGap="8px"
                    [ngStyle]="
                        form.get('newBankAccount').get('bankName').pristine && !form.value.newBankAccount.bankName
                            ? { display: 'none' }
                            : null
                    "
                >
                    <mat-form-field>
                        <mat-label>{{ p('new.name') }}</mat-label>
                        <input matInput formControlName="bankName" required />
                    </mat-form-field>
                    <div fxLayout fxLayoutGap="24px">
                        <mat-form-field fxFlex>
                            <mat-label>{{ p('new.bik') }}</mat-label>
                            <dsh-format-input format="bik" formControlName="bankBik" required></dsh-format-input>
                        </mat-form-field>
                        <mat-form-field fxFlex>
                            <mat-label>{{ p('new.postAccount') }}</mat-label>
                            <dsh-format-input
                                format="bankPostAccount"
                                matInput
                                formControlName="bankPostAccount"
                                required
                            ></dsh-format-input>
                        </mat-form-field>
                    </div>
                    <mat-form-field>
                        <mat-label>{{ p('new.account') }}</mat-label>
                        <dsh-format-input format="bankAccount" formControlName="account" required></dsh-format-input>
                    </mat-form-field>
                </div>
            </div>

            <div *ngIf="form.value.bankAccountType === bankAccountType.existing" fxLayout="column" fxLayoutGap="16px">
                <mat-form-field>
                    <mat-label>{{ p('existing.label') }}</mat-label>
                    <mat-select formControlName="shop" required>
                        <mat-option *ngFor="let shop of shops$ | async" [value]="shop.id">
                            {{ shop.details.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <dsh-payout-tool-details
                    *ngIf="payoutTool$ | async as payoutTool"
                    [payoutToolDetails]="payoutTool.details"
                ></dsh-payout-tool-details>
            </div>
        </div>
    </div>

    <div fxLayout fxLayoutGap="24px" fxLayoutAlign="space-between">
        <button
            fxFlex="160px"
            fxFlex.xs="none"
            dsh-stroked-button
            color="warn"
            *transloco="let t"
            (click)="cancel.emit()"
        >
            {{ t('cancel') }}
        </button>
        <button dsh-button color="accent" (click)="createShop()" [disabled]="form.invalid">{{ t('send') }}</button>
    </div>
</form>
