<div fxLayout="column" fxLayoutGap="32px" *transloco="let s; scope: 'shops'; read: 'shops'">
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="flex-end">
        <div>
            <button dsh-button color="accent" (click)="createShop()">{{ s('createShop') }}</button>
        </div>
    </div>
    <dsh-shops-list
        [shopList]="shops$ | async"
        [lastUpdated]="lastUpdated$ | async"
        [isLoading]="isLoading$ | async"
        (refreshData)="refreshData()"
        (suspendShop)="suspend($event)"
        (activateShop)="activate($event)"
    >
    </dsh-shops-list>
</div>
