<div fxLayout="column" fxFlex="720px" fxLayoutGap="32px" *transloco="let s; scope: 'shops'; read: 'shops'">
    <div fxLayout="row" fxLayoutGap="16px" fxLayoutAlign=" center">
        <div class="dsh-caption" fxFlex>
            {{ s('description') }}
        </div>
        <mat-divider vertical fxFlexAlign="stretch"></mat-divider>
        <div>
            <button dsh-button color="accent" (click)="createShop()">{{ s.createShop }}</button>
        </div>
    </div>
    <ng-container *ngIf="(isLoading$ | async) || !(shops$ | async); else shopsPanelsList">
        <div fxLayout fxFlexAlign="center">
            <dsh-spinner></dsh-spinner>
        </div>
    </ng-container>
    <ng-template #shopsPanelsList>
        <dsh-shops-panels-list
            [shops]="shops$ | async"
            (suspendShop)="suspend($event)"
            (activateShop)="activate($event)"
        ></dsh-shops-panels-list>
        <div *ngIf="!(shops$ | async)?.length" class="mat-headline dsh-payouts-empty">
            <dsh-empty-search-result *transloco="let t">{{ t('emptySearchResult') }}</dsh-empty-search-result>
        </div>
    </ng-template>
</div>
