<div class="dsh-float-panel" [ngStyle]="{ 'min-height': baseContentHeight + 'px' }" *transloco="let t">
    <dsh-card class="dsh-float-panel-card" (dshResized)="cardHeight = $event.height">
        <div class="dsh-float-panel-base" (dshResized)="setBaseContentHeight($event.height)">
            <div fxLayout="column" [fxLayoutGap]="layoutGap">
                <div fxLayout fxLayout.lt-md="column" [fxLayoutGap]="layoutGap">
                    <div fxFlex.gt-sm>
                        <ng-content></ng-content>
                    </div>
                    <div
                        *ngIf="!expanded && floatPanelMore"
                        class="dsh-float-panel-actions"
                        fxLayout
                        fxLayoutAlign="center center"
                    >
                        <button dsh-icon-button (click)="expandToggle()" fxHide.lt-md>
                            <mat-icon svgIcon="keyboard_arrow_down"></mat-icon>
                        </button>
                        <button dsh-button (click)="expandToggle()" fxFlex fxHide.gt-sm>
                            {{ t('showMore') }}
                        </button>
                    </div>
                </div>
                <div fxLayout fxLayoutAlign="center" *ngIf="!floatPanelMore && floatPanelActions">
                    <div>
                        <ng-container *ngTemplateOutlet="floatPanelActions?.templateRef"></ng-container>
                    </div>
                </div>
            </div>
        </div>
        <div class="dsh-float-panel-more" [@expand]="expandTrigger" *ngIf="expanded && floatPanelMore">
            <div (dshResized)="setMoreContentHeight($event.height)">
                <div fxLayout="column" [fxLayoutGap]="layoutGap">
                    <div class="dsh-float-panel-more-content">
                        <ng-container *ngTemplateOutlet="floatPanelMore?.templateRef"></ng-container>
                    </div>
                    <div
                        fxLayout
                        [fxLayoutGap]="layoutGap"
                        fxLayoutAlign="space-between"
                        class="dsh-float-panel-more-actions"
                    >
                        <div></div>
                        <div>
                            <ng-container *ngTemplateOutlet="floatPanelActions?.templateRef"></ng-container>
                        </div>
                        <button dsh-icon-button (click)="expandToggle()">
                            <mat-icon svgIcon="keyboard_arrow_up"></mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </dsh-card>
</div>
