$card-padding: 20px;
$actions-padding: 10px;
$card-without-actions-padding: $card-padding - $actions-padding;

.dsh-float-panel {
    position: relative;

    &-card {
        padding: 0;
    }

    &-base {
        padding: $card-padding;
    }

    &-actions {
        margin-right: -$card-without-actions-padding;
    }

    &-more {
        height: 0;
        overflow: hidden;
        padding-bottom: $actions-padding;

        &-content {
            margin-left: $card-padding;
            margin-right: $card-padding;
        }

        &-actions {
            margin-left: $actions-padding;
            margin-right: $actions-padding;
        }
    }
}
