<div *transloco="let t; scope: 'webhook'; read: 'webhook.key'">
    <div class="mat-title">{{ t('title') }}</div>
    <div class="ym-hide-content" fxLayout="column" fxLayoutGap="20px">
        <div class="mat-caption">
            {{ t('publicKey') }}
        </div>
        <div class="dsh-body-1 wrap-key">
            {{ key }}
        </div>
        <div>
            <button dsh-button [cdkCopyToClipboard]="key" (cdkCopyToClipboardCopied)="copied($event)">
                {{ t('buttons.copy') }}
            </button>
        </div>
    </div>
</div>
