<div class="dsh-navbar-item" fxLayout fxLayoutAlign="start center" fxLayoutGap="16px">
    <div
        fxLayout
        fxLayoutAlign="start center"
        fxLayoutGap="24px"
        (click)="toggle()"
        [ngClass]="{ 'dsh-navbar-item-active': active }"
    >
        <dsh-bi [icon]="icon" [size]="iconSize$ | async"></dsh-bi>
        <div fxHide.lt-md class="dsh-navbar-item-content">
            <ng-content></ng-content>
        </div>
    </div>
    <mat-slide-toggle
        fxHide.lt-md
        *ngIf="withToggle"
        [checked]="toggleChecked"
        (change)="slideToggleChange($event)"
    ></mat-slide-toggle>
</div>
