:host {
    outline: none;
}

.dsh-navbar {
    &-item {
        cursor: pointer;

        &-content {
            white-space: nowrap;
            user-select: none;
        }
    }

    &-icon {
        height: 24px;
    }

    &-large-icon {
        height: 32px;
    }
}
