<div
    *transloco="let c; scope: 'payment-link'; read: 'paymentLink.invoiceTemplateForm'"
    fxLayout="column"
    fxLayoutGap="20px"
>
    <div>
        <h1 class="mat-title">{{ c.paymentLinkType.title }}</h1>
        <form [formGroup]="form">
            <mat-radio-group fxLayout="column" fxLayoutGap="20px" formControlName="type">
                <mat-radio-button [value]="type.invoice">{{ c.paymentLinkType.types.personal }}</mat-radio-button>
                <mat-radio-button [value]="type.tempalte">{{ c.paymentLinkType.types.reusable }}</mat-radio-button>
            </mat-radio-group>
        </form>
    </div>

    <ng-container *ngIf="form.value.type">
        <mat-divider></mat-divider>
        <dsh-create-invoice
            *ngIf="form.value.type === type.invoice"
            [shops]="shops$ | async"
            buttonType="next"
            (next)="nextInvoice.next($event)"
        ></dsh-create-invoice>
        <dsh-create-invoice-template
            *ngIf="form.value.type === type.tempalte"
            [shops]="shops$ | async"
            (next)="nextTemplate.next($event)"
        ></dsh-create-invoice-template>
    </ng-container>
</div>
