<div fxLayout="column" fxLayoutGap="24px">
    <div
        *transloco="let c; scope: 'payment-link'; read: 'paymentLink.createInvoiceOrInvoiceTemplate.paymentLinkType'"
        fxLayout="column"
        fxLayoutGap="32px"
    >
        <h1 class="dsh-headline">{{ c('title') }}</h1>
        <form [formGroup]="form" fxLayout="column" fxLayoutGap="24px">
            <div *transloco="let t; scope: 'payment-link'; read: 'paymentLink'" class="dsh-body-1">
                {{ t('description') }}
            </div>
            <mat-radio-group fxLayout="column" fxLayoutGap="24px" formControlName="type">
                <mat-radio-button [value]="type.Invoice">{{ c('types.personal') }}</mat-radio-button>
                <mat-radio-button [value]="type.Tempalte">{{ c('types.reusable') }}</mat-radio-button>
            </mat-radio-group>
        </form>
    </div>

    <ng-container *ngIf="form.value.type">
        <mat-divider></mat-divider>
        <ng-container *ngIf="form.value.type === type.Invoice">
            <div
                fxLayout="column"
                fxLayoutGap="24px"
                *transloco="let d; scope: 'create-invoice'; read: 'createInvoice'"
            >
                <h1 class="dsh-headline">{{ d('title') }}</h1>
                <dsh-create-invoice-form
                    [shops]="shops$ | async"
                    [formControl]="createInvoiceFormControl"
                    (valid)="createInvoiceFormControlValid = $event"
                    (empty)="createInvoiceFormControlEmpty = $event"
                ></dsh-create-invoice-form>
                <div
                    *transloco="let t"
                    fxLayout.gt-sm="row"
                    fxLayout="column"
                    fxLayoutAlign="space-between"
                    fxLayoutGap="24px"
                >
                    <button
                        dsh-stroked-button
                        color="accent"
                        [disabled]="createInvoiceFormControlEmpty"
                        (click)="createInvoiceFormControl.reset()"
                    >
                        {{ t('clearForm') }}
                    </button>
                    <button dsh-button (click)="create()" color="accent" [disabled]="!createInvoiceFormControlValid">
                        {{ t('next') }}
                    </button>
                </div>
            </div>
        </ng-container>
        <dsh-create-invoice-template
            *ngIf="form.value.type === type.Tempalte"
            [shops]="shops$ | async"
            (next)="nextTemplate.next($event)"
        ></dsh-create-invoice-template>
    </ng-container>
</div>
