$dsh-widget-container-padding: 20px;
$dsh-widget-button-width: 210px;
$dsh-action-container-additional-padding: 10px;
$dsh-title-vertical-padding: 10px;

.dsh-widget {
    &-container {
        display: flex;
        flex-direction: column;
        min-height: 200px;
        max-width: 460px;
        padding: $dsh-widget-container-padding;
        border-radius: 4px;
    }

    &-title {
        padding-top: $dsh-title-vertical-padding;
        padding-bottom: $dsh-title-vertical-padding;
    }

    &-button {
        min-width: $dsh-widget-button-width;
    }

    &-info-container {
        display: flex;
        margin-bottom: auto;
    }

    &-action-container {
        display: flex;
        flex-wrap: wrap;
        padding-left: $dsh-action-container-additional-padding;
        padding-right: $dsh-action-container-additional-padding;
        margin-top: auto;
    }

    //@media only screen and (max-width: 640px) {
    //    &-action-container {
    //        align-items: center;
    //        justify-content: center;
    //    }
    //
    //    &-button {
    //        margin-top: 10px;
    //    }
    //}
}
