@import '~@angular/material/theming';

@mixin dsh-toolbar-theme($theme) {
    .toolbar {
        $foreground: map-get($theme, foreground);

        .dsh-inverted-nav-bar {
            .mat-tab-link {
                color: map-get($foreground, contrast-text) !important;
            }
            .mat-ink-bar {
                background-color: map-get($foreground, contrast-text) !important;
            }
            .environment-selector {
                path {
                    fill: map-get($foreground, contrast-text) !important;
                }
            }
        }
    }
}

@mixin dsh-toolbar-typography($config) {
    .toolbar {
        .mat-tab-links {
            .mat-tab-link {
                @include mat-typography-level-to-styles($config, subheading-2);
            }
        }
    }
}
