<div class="toolbar" fxLayout fxLayoutGap="24px" fxLayoutAlign="start center">
    <dsh-brand fxFlex="168px" [inverted]="inverted" [name]="logoName" class="dsh-side-section"></dsh-brand>
    <nav
        [class.dsh-inverted-nav-bar]="inverted"
        *transloco="let t; scope: 'toolbar'; read: 'toolbar.nav'"
        mat-tab-nav-bar
    >
        <ng-container *ngFor="let link of links$ | async">
            <div fxLayout fxLayoutAlign='center center' *ngIf="link.id === LinkId.Payments; else otherLinks">
                <a mat-tab-link class='payments-link' [routerLink]="link.path" [active]="(active$ | async) === link">
                    {{ t(link.id) }}
                </a>
                <dsh-environment-selector class='environment-selector'></dsh-environment-selector>
            </div>
            <ng-template #otherLinks>
                <a mat-tab-link *ngIf="!link.hidden" [routerLink]="link.path" [active]="(active$ | async) === link">
                    {{ t(link.id) }}
                </a>
            </ng-template>
        </ng-container>
    </nav>
    <dsh-actionbar fxFlex="grow" fxLayoutAlign="end"></dsh-actionbar>
</div>
