$toolbar-height: 48px;

.toolbar {
    user-select: none;
    height: $toolbar-height;

    .payments-link {
        margin-right: 4px;
    }

    .environment-selector {
        margin-right: 16px;
        height: 24px
    }

    ::ng-deep {
        .mat-tab-nav-bar {
            border-color: transparent !important;
        }
    }
}
