$toolbar-height: 48px;

.toolbar {
    user-select: none;
    height: $toolbar-height;

    .realm-selector {
        align-self: center;
        margin-left: -20px;
        margin-right: 16px;
        height: 24px;
        cursor: pointer;
    }

    ::ng-deep {
        .mat-tab-nav-bar {
            border-color: transparent !important;
        }
    }
}
