<div class="toolbar" fxLayout fxLayoutGap="24px" fxLayoutAlign="start center">
    <dsh-brand fxFlex="168px" [inverted]="inverted" [name]="logoName" class="dsh-side-section"></dsh-brand>
    <nav
        [class.dsh-inverted-nav-bar]="inverted"
        *transloco="let t; scope: 'toolbar'; read: 'toolbar.nav'"
        mat-tab-nav-bar
    >
        <a
            *ngFor="let link of links$ | async"
            mat-tab-link
            [routerLink]="link.path"
            routerLinkActive
            [routerLinkActiveOptions]="{ exact: link?.exact }"
            #rla="routerLinkActive"
            [active]="rla.isActive"
        >
            {{ t(link.id) }}
        </a>
    </nav>
    <dsh-actionbar fxFlex="grow" fxLayoutAlign="end"></dsh-actionbar>
</div>
