@import '~@angular/material/theming';
@import './timeline-item/timeline-item-badge/timeline-item-badge-theme';

@mixin dsh-timeline-theme($theme) {
    $gray: map-get($theme, gray);
    $success-base: map-get($theme, success-base);
    $pending-base: map-get($theme, pending-base);
    $warn-base: map-get($theme, warn-base);
    $line-color: mat-color($gray, 200);

    .dsh-timeline {
        border-bottom-color: $line-color;

        &::after {
            background-color: $line-color;
        }
    }

    .dsh-timeline-item-badge {
        background-color: $line-color;
    }

    @include dsh-timeline-item-badge-theme($theme);
}

@mixin dsh-timeline-typography($config) {
    .dsh-timeline {
        @include mat-typography-level-to-styles($config, body-1);
    }
}
