@import './timeline.scss';

.dsh-timeline {
    position: relative;
    border-bottom: $line-width solid;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: $line-width;
        left: $badge-size * 0.5 - $line-width * 0.5;
    }
}
