@import '~@angular/material/theming';

@mixin dsh-table-theme($theme) {
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $gray: map-get($theme, gray);

    .dsh {
        &-table {
            background: mat-color($background, card);

            & thead,
            & tbody,
            & tfoot,
            mat-header-row,
            mat-row,
            mat-footer-row,
            [dsh-header-row],
            [dsh-table-row],
            [dsh-footer-row],
            .dsh-table-sticky {
                background: inherit;
            }

            & thead th {
                background: mat-color($background, background);
            }
        }

        &-header-cell {
            color: mat-color($foreground, secondary-text);
        }

        &-cell,
        &-footer-cell {
            color: mat-color($foreground, text);
        }

        &-table-row,
        &-header-row,
        &-footer-row {
            border-bottom-color: mat-color($gray, 300);
        }
    }
}

@mixin dsh-table-typography($config) {
    .dsh {
        &-header-cell,
        &-cell,
        &-footer-cell {
            font-family: mat-font-family($config);
            font-weight: mat-font-weight($config, body-1);
            font-size: mat-font-size($config, body-1);
        }
    }
}
