$dsh-header-row-height: 56px;
$dsh-table-row-height: 52px;
$dsh-table-row-horizontal-padding: 10px;
$dsh-header-border-radius: 4px;

.dsh {
    &-table {
        padding: 0;
        border-spacing: 0;

        thead,
        tbody,
        tfoot {
            display: block;
        }

        thead {
            tr:first-child th:first-child {
                border-radius: $dsh-header-border-radius 0 0 $dsh-header-border-radius;
            }
            tr:first-child th:last-child {
                border-radius: 0 $dsh-header-border-radius $dsh-header-border-radius 0;
            }
        }
    }

    &-header-row {
        min-height: $dsh-header-row-height;
    }

    &-table-row,
    &-footer-row {
        min-height: $dsh-table-row-height;
    }

    &-table-row,
    &-header-row,
    &-footer-row {
        display: flex;
        border-width: 0;
        align-items: center;
        box-sizing: border-box;

        &::after {
            display: inline-block;
            min-height: inherit;
            content: '';
        }
    }

    &-table-row,
    &-footer-row {
        border-bottom-width: 1px;
        border-style: solid;
    }

    &-cell:first-of-type,
    &-header-cell:first-of-type,
    &-footer-cell:first-of-type {
        padding-left: $dsh-table-row-horizontal-padding;

        [dir='rtl'] & {
            padding-left: 0;
            padding-right: $dsh-table-row-horizontal-padding;
        }
    }

    &-cell:last-of-type,
    &-header-cell:last-of-type,
    &-footer-cell:last-of-type {
        padding-right: $dsh-table-row-horizontal-padding;

        [dir='rtl'] & {
            padding-right: 0;
            padding-left: $dsh-table-row-horizontal-padding;
        }
    }

    &-cell,
    &-header-cell,
    &-footer-cell {
        flex: 1;
        display: flex;
        align-items: center;
        overflow: hidden;
        word-wrap: break-word;
        min-height: inherit;
        padding: 0;
    }

    &-header-row {
        height: $dsh-header-row-height;
    }

    &-table-row,
    &-footer-row {
        height: $dsh-table-row-height;
    }

    &-header-cell {
        text-align: left;

        [dir='rtl'] & {
            text-align: right;
        }
    }
}
