@use '~@angular/material' as mat;

@mixin dsh-file-uploader-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);

    .dsh-file-uploader {
        &-container {
            border-color: map-get($foreground, border);

            &-dragover {
                border-color: mat.get-color-from-palette($primary, default);
                transition: ease 1s;
            }
        }

        &-choose-files {
            color: mat.get-color-from-palette($primary, default);
        }
    }
}
