@import '~@angular/material/theming';

@mixin dsh-file-uploader-theme($theme) {
    $primary: map-get($theme, primary);
    $foreground: map-get($theme, foreground);

    .dsh-file-uploader {
        &-container {
            border-color: map-get($foreground, border);

            &-dragover {
                border-color: mat-color($primary, 500);
                transition: ease 1s;
            }
        }

        &-choose-files {
            color: mat-color($primary, 500);
        }
    }
}
