<div *transloco="let t; scope: 'claim'; read: 'claim.revokeClaimDialog'" fxLayout="column" fxLayoutGap="20px">
    <h2 class="mat-title">{{ t.subheading }}</h2>
    <div mat-dialog-content>
        <form [formGroup]="form">
            <mat-form-field fxFlex>
                <mat-label>{{ t.reason }}</mat-label>
                <input formControlName="reason" matInput type="text" autocomplete="off" />
            </mat-form-field>
        </form>
        <div *ngIf="errorCode$ | async">
            <div *transloco="let common" class="mat-caption">
                {{ common.errors[errorCode$ | async] }}
            </div>
        </div>
    </div>
    <div
        mat-dialog-actions
        class="dialog-actions"
        fxLayout="row"
        fxLayout.xs="column"
        fxLayoutAlign="space-between stretch"
        fxLayoutGap="20px"
        fxLayoutGap.xs="10px"
    >
        <button fxFlex fxFlex.xs="none" dsh-button (click)="back()" [disabled]="inProgress$ | async">
            {{ t.back }}
        </button>
        <button
            fxFlex
            fxFlex.xs="none"
            dsh-button
            (click)="revoke(form.value.reason)"
            [disabled]="!form.valid || (inProgress$ | async)"
        >
            {{ t.revoke }}
        </button>
    </div>
</div>
