<dsh-row fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="24px">
    <dsh-row-label fxFlex>
        <span class="dsh-body-2">{{ refund.amount | toMajor | currency: refund.currency }}</span>
    </dsh-row-label>
    <dsh-row-label fxFlex fxHide.lt-md>
        <dsh-status [color]="refund.status | refundStatusColor">{{ refund.status | refundStatusName }}</dsh-status>
    </dsh-row-label>
    <dsh-row-label fxFlex>{{ refund.createdAt | date: 'dd MMMM yyyy, HH:mm' }}</dsh-row-label>
    <dsh-row-label fxFlex fxHide.lt-md>
        {{ refund.shopID | shopDetails }}
    </dsh-row-label>
</dsh-row>
