:host {
    display: block;
    bottom: 0;
    width: 100%;
    margin-top: 16px;
    position: fixed;
    left: 0;
}

.dsh-global-banner {
    &-container {
        max-width: 1128px;
        margin: auto;
    }

    &-content {
        max-width: 936px;
        padding-top: 16px;
        padding-bottom: 32px;
    }

    &-mascot-icon {
        margin-top: -16px;
    }

    .close {
        cursor: pointer;
    }
}
