<mat-form-field fxFlex>
    <mat-label>{{ title }}</mat-label>
    <input *ngIf="!options; else autocomplete" type="text" matInput [formControl]="control" />
    <ng-template #autocomplete>
        <input [required]="required" type="text" matInput [formControl]="control" [matAutocomplete]="auto" />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayLabel">
            <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option.value">
                {{ option.label }}
            </mat-option>
        </mat-autocomplete>
    </ng-template>
    <button *ngIf="control?.value" dsh-icon-button matSuffix (click)="clearValue()">
        <mat-icon svgIcon="cross"></mat-icon>
    </button>
</mat-form-field>
