<div class="container">
    <div class="content" fxLayout="column" fxLayoutGap="10px">
        <div>
            <button dsh-button color="primary">Primary</button>
        </div>
        <div>
            <button dsh-stroked-button color="primary">Primary</button>
        </div>
        <div>
            <button dsh-button color="accent">Accent</button>
        </div>
        <div>
            <button dsh-stroked-button color="accent">Accent</button>
        </div>
        <div>
            <button dsh-button color="warn">Warn</button>
        </div>
        <div>
            <button dsh-stroked-button color="warn">Warn</button>
        </div>
        <div>
            <button dsh-button disabled color="accent">Disabled</button>
        </div>
        <div>
            <button dsh-stroked-button disabled color="accent">Disabled</button>
        </div>
    </div>
</div>
