<div class="container">
    <div class="content">
        <div>
            <button dsh-button color="primary">dsh-button primary</button>
        </div>
        <div>
            <button dsh-stroked-button color="primary">dsh-stroked-button primary</button>
        </div>
        <div>
            <button dsh-button color="accent">dsh-button accent</button>
        </div>
        <div>
            <button dsh-stroked-button color="accent">dsh-stroked-button accent</button>
        </div>
        <div>
            <button dsh-button color="warn">dsh-button warn</button>
        </div>
        <div>
            <button dsh-stroked-button color="warn">dsh-stroked-button warn</button>
        </div>
        <div>
            <button dsh-button disabled color="accent">dsh-button disabled</button>
        </div>
        <div>
            <button dsh-stroked-button disabled color="accent">dsh-stroked-button disabled</button>
        </div>
    </div>
</div>
