<dsh-card>
    <dsh-card-content>
        <div>
            <button dsh-button>Primary</button>
        </div>
        <div>
            <button dsh-stroked-button>Primary</button>
        </div>
        <div>
            <button dsh-button [color]="'primary'">Primary</button>
        </div>
        <div>
            <button dsh-stroked-button color="primary">Primary</button>
        </div>
        <div>
            <button dsh-button color="accent">Accent</button>
        </div>
        <div>
            <button dsh-stroked-button color="accent">Accent</button>
        </div>
        <div>
            <button dsh-button color="warn">Warn</button>
        </div>
        <div>
            <button dsh-stroked-button color="warn">Warn</button>
        </div>
        <div>
            <button dsh-button [disabled]="true" color="accent">Disabled</button>
        </div>
        <div>
            <button dsh-stroked-button disabled color="accent">Disabled</button>
        </div>
    </dsh-card-content>
</dsh-card>
