@use '~@angular/material' as mat;

@mixin dsh-alert-theme($theme) {
    $primary: map-get($theme, primary);

    .dsh-alert {
        background-color: mat.get-color-from-palette($primary, 50);
        border-color: mat.get-color-from-palette($primary, 400);
    }
}
