<dsh-filters-group [formGroup]="form">
    <dsh-date-range-filter
        formControlName="dateRange"
        [default]="defaultDateRange"
        [maxDate]="defaultDateRande.end"
    ></dsh-date-range-filter>
    <dsh-shops-filter fxHide.lt-md formControlName="shopIDs" [shops]="shops"></dsh-shops-filter>
    <dsh-invoices-filter fxHide.lt-md formControlName="invoiceIDs"></dsh-invoices-filter>
    <dsh-refund-status-filter fxHide.lt-md formControlName="refundStatus"></dsh-refund-status-filter>
</dsh-filters-group>
