.mobile-user-bar {
    &-username {
        font-family: 'Roboto', 'Helvetica Neue', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
    }

    &-exit {
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }
}
