$base-height: 51.313px;
$card-padding: 20px;
$actions-padding: 10px;
$card-border-radius: 4px;
$card-without-actions-padding: $card-padding - $actions-padding;

.dsh-float-panel {
    position: relative;
    padding: $card-padding;

    &-card {
        position: absolute;
        z-index: 9999;
        top: 0;
        left: 0;
        right: 0;
        border-radius: $card-border-radius;
        transition: padding 150ms ease;
        padding: $card-padding;
    }

    &-base {
        width: 100%;
        min-height: $base-height;

        &-action {
            margin-right: -$card-without-actions-padding;
        }
    }

    &-more {
        height: 0;
        overflow: hidden;
        margin-left: -$card-without-actions-padding;
        margin-right: -$card-without-actions-padding;
        margin-bottom: -$card-without-actions-padding;

        &-content {
            padding-left: $actions-padding;
            padding-right: $actions-padding;
        }
    }
}
