<div style="position: relative">
    <div #substrate [ngStyle]="{ height: isPinned ? '0' : substrateHeight }"></div>
    <div
        [ngStyle]="{ position: 'absolute', top: 0, left: 0, width: '100%', height: cardHeight, marginBottom: '20px' }"
    ></div>
</div>
<ng-template cdk-portal #template>
    <div class="card-wrapper" #card>
        <dsh-card>
            <dsh-card-content>
                <div fxLayout="row" fxLayoutGap="20px" class="dsh-float-panel-base">
                    <div fxFlex><ng-content></ng-content></div>
                    <div @hide *ngIf="!isExpanded">
                        <button dsh-button (click)="expandToggle()">
                            <mat-icon svgIcon="user" style="height:16px"></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="dsh-float-panel-more-wrapper" [@expand]="expandTrigger" *ngIf="isExpanded">
                    <div #moreContent fxLayout="column" fxLayoutGap="20px">
                        <div>
                            <ng-container *ngTemplateOutlet="moreTemplate"></ng-container>
                        </div>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between">
                            <button dsh-button (click)="pinToggle()">
                                <mat-icon svgIcon="notification" style="height:16px"></mat-icon>
                            </button>
                            <div>
                                <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>
                            </div>
                            <button dsh-button (click)="expandToggle()">
                                <mat-icon svgIcon="user" style="height:16px"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </dsh-card-content>
        </dsh-card>
    </div>
</ng-template>
<ng-container #container [ngTemplateOutlet]="template" *ngIf="isPinned"></ng-container>
