$base-height: 39px;

.dsh-float-panel-base {
    min-height: $base-height;
}

.dsh-float-panel-more-wrapper {
    height: 0;
    overflow: hidden;
}

.card-wrapper {
    width: 100%;
}

.actions {
    opacity: 1;
}
