$card-padding: 20px;
$actions-padding: 10px;
$card-without-actions-padding: $card-padding - $actions-padding;

.dsh-float-panel {
    position: relative;

    &-card {
        position: absolute;
        z-index: 9999;
        top: 0;
        left: 0;
        right: 0;

        .pinned & {
            position: static;
        }
    }

    &-base {
        width: 100%;

        &-action {
            margin-right: -$card-without-actions-padding;
        }
    }

    &-more {
        height: 0;
        overflow: hidden;
        margin-left: -$card-without-actions-padding;
        margin-right: -$card-without-actions-padding;

        &-content {
            padding-left: $actions-padding;
            padding-right: $actions-padding;
        }
    }
}
