<form
    [formGroup]="form$ | async"
    fxLayout="column"
    fxLayoutGap="16px"
    *transloco="let t; scope: 'onboarding'; read: 'onboarding.dataFlow.planningOperationsAndPayoutTool'"
>
    <div class="radio-group-container" fxLayout="column" fxLayoutGap="24px">
        <div fxLayout="column" fxLayoutGap="16px">
            <label class="dsh-body-2">{{ t('monthOperationCountLabel') }}</label>
            <mat-radio-group formControlName="monthOperationCount" fxLayout fxLayoutGap="24px" required>
                <mat-radio-button
                    *ngFor="let monthOperationCount of monthOperationCounts"
                    [value]="monthOperationCount"
                >
                    <span
                        *transloco="
                            let monthOperationCountTypes;
                            scope: 'onboarding';
                            read: 'onboarding.dataFlow.planningOperationsAndPayoutTool.monthOperationCountTypes'
                        "
                        >{{ monthOperationCountTypes(monthOperationCount) }}</span
                    >
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div fxLayout="column" fxLayoutGap="16px">
            <label class="dsh-body-2">{{ t('monthOperationSumLabel') }}</label>
            <mat-radio-group formControlName="monthOperationSum" fxLayout fxLayoutGap="24px" required>
                <mat-radio-button *ngFor="let monthOperationSum of monthOperationSums" [value]="monthOperationSum">
                    <span
                        *transloco="
                            let monthOperationSumTypes;
                            scope: 'onboarding';
                            read: 'onboarding.dataFlow.planningOperationsAndPayoutTool.monthOperationSumTypes'
                        "
                        >{{ monthOperationSumTypes(monthOperationSum) }}</span
                    >
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <form fxLayout="column" fxLayoutGap="16px" [formGroup]="(form$ | async).get('bankAccount')">
        <label class="bank-account-label dsh-body-2">{{ t('payoutToolLabel') }}</label>
        <mat-form-field fxFlex>
            <mat-label>{{ t('bankName') }}</mat-label>
            <dsh-dadata-autocomplete
                formControlName="bankName"
                type="bank"
                (optionSelected)="bankSelected($event)"
                required
            ></dsh-dadata-autocomplete>
        </mat-form-field>
        <div fxLayout fxLayoutGap="24px">
            <mat-form-field fxFlex>
                <mat-label>{{ t('bankBik') }}</mat-label>
                <dsh-format-input format="bik" formControlName="bankBik" required></dsh-format-input>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>{{ t('bankPostAccount') }}</mat-label>
                <dsh-format-input
                    format="bankPostAccount"
                    matInput
                    formControlName="bankPostAccount"
                    required
                ></dsh-format-input>
            </mat-form-field>
        </div>
        <mat-form-field fxFlex>
            <mat-label>{{ t('account') }}</mat-label>
            <dsh-format-input format="bankAccount" formControlName="account" required></dsh-format-input>
        </mat-form-field>
    </form>
</form>
