<form
    [formGroup]="form$ | async"
    fxLayout="column"
    fxLayoutGap="10px"
    *transloco="let t; scope: 'onboarding'; read: 'onboarding.dataFlow.planningOperationsAndPayoutTool'"
>
    <div class="radio-group-container" fxLayout="column" fxLayoutGap="30px">
        <div fxLayout="column" fxLayoutGap="15px">
            <label class="mat-body-1">{{ t.monthOperationCountLabel }}</label>
            <mat-radio-group formControlName="monthOperationCount" fxLayout fxLayoutGap="30px" required>
                <mat-radio-button
                    *ngFor="let monthOperationCount of monthOperationCounts"
                    [value]="monthOperationCount"
                >
                    {{ t.monthOperationCountTypes[monthOperationCount] }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div fxLayout="column" fxLayoutGap="15px">
            <label class="mat-body-1">{{ t.monthOperationSumLabel }}</label>
            <mat-radio-group formControlName="monthOperationSum" fxLayout fxLayoutGap="30px" required>
                <mat-radio-button *ngFor="let monthOperationSum of monthOperationSums" [value]="monthOperationSum">
                    {{ t.monthOperationSumTypes[monthOperationSum] }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>
    <form fxLayout="column" fxLayoutGap="10px" [formGroup]="(form$ | async).get('bankAccount')">
        <label class="bank-account-label mat-body-2">{{ t.payoutToolLabel }}</label>
        <mat-form-field fxFlex>
            <mat-label>{{ t.bankName }}</mat-label>
            <dsh-dadata-autocomplete
                formControlName="bankName"
                type="bank"
                (optionSelected)="bankSelected($event)"
                required
            ></dsh-dadata-autocomplete>
        </mat-form-field>
        <div fxLayout [fxLayoutGap]="layoutGap">
            <mat-form-field fxFlex>
                <mat-label>{{ t.bankBik }}</mat-label>
                <dsh-format-input format="bik" formControlName="bankBik" required></dsh-format-input>
            </mat-form-field>
            <mat-form-field fxFlex>
                <mat-label>{{ t.bankPostAccount }}</mat-label>
                <dsh-format-input
                    format="bankPostAccount"
                    matInput
                    formControlName="bankPostAccount"
                    required
                ></dsh-format-input>
            </mat-form-field>
        </div>
        <mat-form-field fxFlex>
            <mat-label>{{ t.account }}</mat-label>
            <dsh-format-input format="bankAccount" formControlName="account" required></dsh-format-input>
        </mat-form-field>
    </form>
</form>
