<dsh-document-container-panel
    *transloco="let t; scope: 'claim-modification-containers'; read: 'claimModificationContainers.contactInfo'"
    [title]="t.title"
>
    <div fxLayout="column" fxLayoutGap="20px">
        <dsh-details-item fxFlex="50" *ngIf="contactInfo?.email" [title]="t.email">
            {{ contactInfo?.email }}
        </dsh-details-item>
        <dsh-details-item fxFlex="50" *ngIf="contactInfo?.phoneNumber" [title]="t.phoneNumber">
            {{ contactInfo?.phoneNumber }}
        </dsh-details-item>
    </div>
</dsh-document-container-panel>
