@import '~@angular/cdk/overlay-prebuilt.css';

$indent: 10px;

.dropdown-wrapper {
    perspective: 2000px;
    margin: 15px;
    width: 100%;
}

.dropdown {
    border-radius: 4px;
    box-shadow: 0 8px 30px 0 rgba(174, 188, 230, 0.5);
    padding: $indent;
    width: auto;
}

.dropdown-triangle {
    width: 10px;
    height: 10px;
    box-shadow: -2px -2px 2px 0 rgba(174, 188, 230, 0.12);
    position: absolute;
    top: 0;
    left: 50%;
    transform: rotate(45deg) translateX(-70%) translateY(0%);
    border-top-left-radius: 2px;
}
