<div *transloco="let t; scope: 'claim'; read: 'claim'" class="container" fxLayout="column" fxLayoutGap="32px">
    <div fxLayout="column" fxLayoutGap="8px">
        <h1 class="dsh-display-1">
            {{ t('headline') }} <span dshTextColor="secondary"> #{{ claimID$ | async }} </span>
        </h1>
        <ol dsh-breadcrumb>
            <li dsh-breadcrumb-item>
                <a dshTextColor="secondary" [routerLink]="['/claim-section/claims']">{{ t('breadcrumbs.claims') }}</a>
            </li>
            <li dsh-breadcrumb-item>{{ t('breadcrumbs.claimDetails') }}</li>
        </ol>
    </div>
    <div *ngIf="!(claimReceived$ | async) && !(error$ | async)" fxLayout fxLayoutAlign="center center">
        <dsh-spinner></dsh-spinner>
    </div>
    <dsh-card *ngIf="(claimReceived$ | async) && !(error$ | async)">
        <dsh-status
            class="claim-status"
            *transloco="let claimStatus; read: 'claimStatus'"
            [color]="claimStatus$ | async | claimStatusColor"
            mark="false"
        >
            {{ claimStatus(claimStatus$ | async) }}
        </dsh-status>
        <div fxLayout="column" fxLayoutGap="24px">
            <dsh-conversation></dsh-conversation>
            <div fxLayout="row" fxLayoutAlign="space-between">
                <div>
                    <button *ngIf="revokeAvailable$ | async" dsh-stroked-button color="warn" (click)="revokeClaim()">
                        {{ t('revokeClaim') }}
                    </button>
                </div>
                <div>
                    <button
                        *ngIf="reviewAvailable$ | async"
                        [disabled]="reviewInProgress$ | async"
                        dsh-button
                        color="accent"
                        (click)="reviewClaim()"
                    >
                        {{ t('reviewClaim') }}
                    </button>
                </div>
            </div>
        </div>
    </dsh-card>
</div>
