$dsh-claim-details-padding: 80px 0 0 0;
$dsh-claim-details-max-width: 936px;

.container {
    padding: $dsh-claim-details-padding;
    max-width: $dsh-claim-details-max-width;
    margin: 0 auto;
}

.claim-status {
    position: absolute;
    right: 24px;
}
