<div class="base-dialog" fxLayout="column" fxFlex="grow">
    <div class="base-dialog-title">
        <div [dshNoContent]="titleBlock">
            <ng-content select="[title]"></ng-content>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="base-dialog-content" fxFlex="grow">
        <ng-content></ng-content>
    </div>
    <mat-divider></mat-divider>
    <div class="base-dialog-actions">
        <div [dshNoContent]="actionsBlock" fxFlex="grow">
            <ng-content select="[actions]"></ng-content>
        </div>
    </div>
</div>

<ng-template #titleBlock>
    <div class="dsh-headline">{{ title }}</div>
</ng-template>

<ng-template #actionsBlock>
    <div fxLayout="column" fxLayoutGap="24px">
        <div fxLayout="row" fxLayoutAlign="space-between center">
            <button fxFlex="126px" dsh-stroked-button color="warn" (click)="cancelDialog()">
                {{ cancelButton }}
            </button>
            <button dsh-button color="accent" [disabled]="disabledConfirm" (click)="confirmDialog()">
                {{ confirmButton }}
            </button>
        </div>
    </div>
</ng-template>
