<dsh-navbar
    *transloco="let t; scope: 'payment-section'; read: 'paymentSection.nav'"
    [direction]="navbarConfig.navDirection"
>
    <dsh-navbar-item
        routerLink="./analytics"
        routerLinkActive
        #analytics="routerLinkActive"
        [active]="analytics.isActive"
        icon="pie_chart"
        [hideContent]="navbarConfig.hideNavItemContent"
        [iconSize]="navbarConfig.iconSize"
        >{{ t('analytics') }}</dsh-navbar-item
    >
    <dsh-navbar-item
        routerLink="./operations"
        routerLinkActive
        #operations="routerLinkActive"
        [active]="operations.isActive"
        icon="table_chart"
        [hideContent]="navbarConfig.hideNavItemContent"
        [iconSize]="navbarConfig.iconSize"
        >{{ t('operations') }}</dsh-navbar-item
    >
    <dsh-navbar-item
        routerLink="./payouts"
        routerLinkActive
        #payouts="routerLinkActive"
        [active]="payouts.isActive"
        icon="output"
        [hideContent]="navbarConfig.hideNavItemContent"
        [iconSize]="navbarConfig.iconSize"
        >{{ t('payouts') }}</dsh-navbar-item
    >
    <dsh-navbar-item
        routerLink="./reports"
        routerLinkActive
        #reports="routerLinkActive"
        [active]="reports.isActive"
        icon="description"
        [hideContent]="navbarConfig.hideNavItemContent"
        [iconSize]="navbarConfig.iconSize"
        >{{ t('reports') }}</dsh-navbar-item
    >
    <dsh-navbar-item
        routerLink="./integrations"
        routerLinkActive
        #integrations="routerLinkActive"
        [active]="integrations.isActive"
        icon="build"
        [hideContent]="navbarConfig.hideNavItemContent"
        [iconSize]="navbarConfig.iconSize"
        >{{ t('integrations') }}</dsh-navbar-item
    >
</dsh-navbar>
