<dsh-navbar *transloco="let t; scope: 'payment-section'; read: 'paymentSection.nav'">
    <dsh-navbar-item
        routerLink="./analytics"
        routerLinkActive
        #analytics="routerLinkActive"
        [active]="analytics.isActive"
        icon="pie_chart"
        >{{ t.analytics }}</dsh-navbar-item
    >
    <dsh-navbar-item
        routerLink="./operations"
        routerLinkActive
        #operations="routerLinkActive"
        [active]="operations.isActive"
        icon="table_chart"
        >{{ t.operations }}</dsh-navbar-item
    >
    <dsh-navbar-item
        routerLink="./payouts"
        routerLinkActive
        #payouts="routerLinkActive"
        [active]="payouts.isActive"
        icon="output"
        >{{ t.payouts }}</dsh-navbar-item
    >
    <dsh-navbar-item
        routerLink="./reports"
        routerLinkActive
        #reports="routerLinkActive"
        [active]="reports.isActive"
        icon="description"
        >{{ t.reports }}</dsh-navbar-item
    >
    <dsh-navbar-item
        routerLink="./integrations"
        routerLinkActive
        #integrations="routerLinkActive"
        [active]="integrations.isActive"
        icon="build"
        >{{ t.integrations }}</dsh-navbar-item
    >
</dsh-navbar>
