<dsh-state-nav fxFlex="180px" *transloco="let t; scope: 'payment-section'; read: 'paymentSection.nav'">
    <dsh-state-nav-item
        routerLink="./analytics"
        routerLinkActive
        #analytics="routerLinkActive"
        [selected]="analytics.isActive"
        withIcon
        icon="pie_chart"
    >
        {{ t.analytics }}
    </dsh-state-nav-item>
    <dsh-state-nav-item
        routerLink="./operations"
        routerLinkActive
        #operations="routerLinkActive"
        [selected]="operations.isActive"
        withIcon
        icon="table_chart"
    >
        {{ t.operations }}
    </dsh-state-nav-item>
    <dsh-state-nav-item
        routerLink="./payouts"
        routerLinkActive
        #payouts="routerLinkActive"
        [selected]="payouts.isActive"
        withIcon
        icon="input"
    >
        {{ t.payouts }}
    </dsh-state-nav-item>
    <dsh-state-nav-item
        routerLink="./reports"
        routerLinkActive
        #reports="routerLinkActive"
        [selected]="reports.isActive"
        withIcon
        icon="description"
    >
        {{ t.reports }}
    </dsh-state-nav-item>
</dsh-state-nav>
