<dsh-float-panel
    *transloco="let t; scope: 'operations'; read: 'operations.refunds.filter'"
    [formGroup]="searchForm"
    novalidate
    [(expanded)]="expanded"
    [pinned]="true"
>
    <ng-container *transloco="let c">
        <dsh-justify-wrapper fxLayout fxLayout.lt-md="column" [fxLayoutGap]="layoutGap">
            <dsh-range-datepicker formControlName="date" fxFlex></dsh-range-datepicker>
            <dsh-shop-selector [shopsInfo]="shopsInfo$ | async" formControlName="shopIDs"></dsh-shop-selector>
            <!--            <mat-form-field fxFlex>-->
            <!--                <mat-label>{{ t.shopID }}</mat-label>-->
            <!--                <mat-select formControlName="shopID">-->
            <!--                    <mat-option>-->
            <!--                        {{ c.any }}-->
            <!--                    </mat-option>-->
            <!--                    <mat-option *ngFor="let item of shopsInfo$ | async" [value]="item.shopID">-->
            <!--                        {{ item.name }}-->
            <!--                    </mat-option>-->
            <!--                </mat-select>-->
            <!--            </mat-form-field>-->
            <mat-form-field fxFlex>
                <mat-label>{{ t.refundStatus }}</mat-label>
                <mat-select formControlName="refundStatus">
                    <mat-option>
                        {{ c.any }}
                    </mat-option>
                    <mat-option *ngFor="let status of statuses" [value]="status">
                        {{ c.refundStatus[status] }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </dsh-justify-wrapper>
        <dsh-float-panel-actions>
            <button dsh-button (click)="reset()">
                {{ c.resetSearchParams }}
            </button>
        </dsh-float-panel-actions>
        <dsh-float-panel-more>
            <div gdAuto gdGap="0 {{ layoutGap }}" gdColumns="1fr 1fr 1fr" gdColumns.lt-md="1fr">
                <mat-form-field>
                    <mat-label>{{ t.refundID }}</mat-label>
                    <input matInput formControlName="refundID" />
                </mat-form-field>
                <mat-form-field>
                    <mat-label>{{ t.invoiceID }}</mat-label>
                    <input matInput formControlName="invoiceID" />
                </mat-form-field>
            </div>
        </dsh-float-panel-more>
    </ng-container>
</dsh-float-panel>
