<div fxLayout="row" fxLayoutGap="16px">
    <dsh-daterange-filter
        [selected]="daterange"
        (selectedChange)="daterangeSelectionChange($event)"
    ></dsh-daterange-filter>
    <dsh-invoices-filter
        [selected]="initParams?.invoiceIDs"
        (selectedChange)="invoiceSelectionChange($event)"
    ></dsh-invoices-filter>
    <dsh-filter-shops
        [shops]="shops$ | async"
        [selected]="selectedShops$ | async"
        (selectedChange)="shopSelectionChange($event)"
    ></dsh-filter-shops>
    <dsh-invoice-status-filter
        [selected]="initParams?.invoiceStatus"
        (selectedChange)="statusSelectionChange($event)"
    ></dsh-invoice-status-filter>
</div>
