<div [formGroup]="form" fxLayout="row" fxLayoutGap="16px">
    <dsh-daterange-filter
        [selected]="daterange"
        (selectedChange)="daterangeSelectionChange($event)"
    ></dsh-daterange-filter>
    <dsh-invoices-filter fxHide.lt-md formControlName="invoiceIDs"></dsh-invoices-filter>
    <dsh-shops-filter fxHide.lt-md formControlName="shopIDs" [shops]="shops$ | async"></dsh-shops-filter>
    <dsh-invoice-status-filter
        fxHide.lt-md
        [selected]="initParams?.invoiceStatus"
        (selectedChange)="statusSelectionChange($event)"
    ></dsh-invoice-status-filter>
</div>
