@import '~@angular/material/theming';
@import './styles/variables';

@include mat-core();

body {
    font-size: 14px;
    font-family: $font-family;
    margin: 0;
    transition: all 0.3s ease-in-out;
}
