// Dependencies
@import '~@angular/material/theming';
// Utils
@import './styles/functions';
// Variables
@import './styles/variables';
@import './styles/palletes';
// Components
@import './styles/main-theme';
@import './app/dropdown/dropdown-theme';
@import './app/components/table/table-theme';
@import './app/charts/bar-chart/bar-chart-theme';
@import './app/charts/linear-chart/linear-chart-theme';

@include mat-core();

$primary: mat-palette($dsh-slateblue);
$accent: mat-palette($dsh-palegreen);
$warn: mat-palette($mat-red);

$theme: dsh-light-theme($primary, $accent, $warn, $dsh-light-theme-foreground, $dsh-light-theme-background);
$mat-theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($mat-theme);
@include dsh-main-theme($theme);
@include dsh-dropdown-theme($theme);
@include dsh-table-theme($theme);
@include dsh-bar-chart-theme($theme);
@include dsh-linear-chart-theme($theme);
