<form
    *transloco="let t; scope: 'create-shop'; read: 'createShop.internationalLegalEntity.payoutTool'"
    fxLayout="column"
    fxLayoutGap="16px"
    [formGroup]="form"
>
    <mat-form-field>
        <mat-label>{{ t('accountNumber') }}</mat-label>
        <input aria-label="accountNumber" matInput formControlName="number" />
    </mat-form-field>

    <div class="dsh-body-1">{{ t('description') }}</div>

    <mat-form-field>
        <mat-label>{{ t('iban') }}</mat-label>
        <input aria-label="iban" matInput formControlName="iban" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ t('bic') }}</mat-label>
        <input aria-label="bic" matInput formControlName="bic" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ t('abaRtn') }}</mat-label>
        <input aria-label="abaRtn" matInput formControlName="abaRtn" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ t('bankName') }}</mat-label>
        <input aria-label="bankName" matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ t('bankCountry') }}</mat-label>
        <input aria-label="bankCountry" matInput formControlName="country" required />
        <mat-hint>{{ t('countryHint') }}</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ t('bankAddress') }}</mat-label>
        <input aria-label="bankAddress" matInput formControlName="address" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ t('currency') }}</mat-label>
        <mat-select aria-label="currency" formControlName="currency" required>
            <mat-option *ngFor="let currency of temporaryCurrencies" [value]="currency">
                {{ currency }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</form>
