$dsh-nav-padding: 64px 0 0 0;
$dsh-section-container-padding: 80px 0 0 0;

.dsh-section-container {
    padding: $dsh-section-container-padding;
}

.dsh-side-section {
    padding: $dsh-nav-padding;
}
