<ng-container *transloco="let t; scope: 'range-datepicker'; read: 'rangeDatepicker'">
    <dsh-button-toggle-group fxLayout>
        <dsh-button-toggle (click)="back()" class="dsh-range-datepicker-button" [disabled]="isMinDate">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </dsh-button-toggle>
        <dsh-button-toggle
            [matMenuTriggerFor]="menu"
            fxFlex="100"
            class="dsh-range-datepicker-button dsh-range-datepicker-toggle"
            fxLayout
        >
            <div class="dsh-range-datepicker-content" fxFlex>
                <ng-container *ngIf="value?.begin && value?.end; else placeholder" [ngSwitch]="period">
                    <ng-container *ngSwitchCase="'year'">
                        {{ t.year | translocoParams: { year: value?.begin | date: 'y' } }}
                    </ng-container>
                    <ng-container *ngSwitchCase="'month'">
                        {{ value?.begin | date: 'LLLL' | titlecase }}
                        {{ t.ofYear | translocoParams: { year: value?.begin | date: 'y' } }}
                    </ng-container>
                    <ng-container *ngSwitchDefault>
                        {{ value?.begin | date: 'shortDate' }} - {{ value?.end | date: 'shortDate' }}
                    </ng-container>
                </ng-container>
                <ng-template #placeholder>
                    {{ t.selectPeriod }}
                </ng-template>
                <input
                    matInput
                    class="dsh-range-datepicker-input"
                    [formControl]="formControl"
                    [satDatepicker]="picker"
                    [min]="minDate"
                    [max]="maxDate"
                />
            </div>
        </dsh-button-toggle>
        <dsh-button-toggle (click)="forward()" class="dsh-range-datepicker-button" [disabled]="isMaxDate">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </dsh-button-toggle>
    </dsh-button-toggle-group>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="selectPeriod('week')">{{ t.select.currentWeek }}</button>
        <button mat-menu-item (click)="selectPeriod('month')">{{ current | date: 'LLLL' | titlecase }}</button>
        <button mat-menu-item (click)="selectPeriod('3month')">{{ t.select.threeMonths }}</button>
        <button mat-menu-item (click)="selectPeriod('year')">
            {{ t.select.year | translocoParams: { year: current | date: 'y' } }}
        </button>
        <button mat-menu-item (click)="picker.open()">{{ t.select.period }}</button>
    </mat-menu>

    <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
</ng-container>
