<ng-container *transloco="let t; scope: 'range-datepicker'; read: 'rangeDatepicker'">
    <dsh-button-toggle-group fxLayout>
        <dsh-button-toggle (click)="back()">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </dsh-button-toggle>
        <dsh-button-toggle [matMenuTriggerFor]="menu" fxFlex="100" class="dsh-range-datepicker-toggle" fxLayout>
            <div class="dsh-range-datepicker-button" fxFlex>
                <ng-container *ngIf="value?.begin && value?.end; else placeholder">
                    {{ value?.begin | date: 'shortDate' }} - {{ value?.end | date: 'shortDate' }}
                </ng-container>
                <ng-template #placeholder>
                    {{ t.selectPeriod }}
                </ng-template>
                <input
                    matInput
                    class="dsh-range-datepicker-input"
                    [formControl]="formControl"
                    [satDatepicker]="picker"
                />
            </div>
        </dsh-button-toggle>
        <dsh-button-toggle (click)="forward()">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </dsh-button-toggle>
    </dsh-button-toggle-group>

    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="selectCurrentWeek()">{{ t.select.currentWeek }}</button>
        <button mat-menu-item (click)="selectCurrentMonth()">Февраль</button>
        <button mat-menu-item (click)="selectThreeMonths()">{{ t.select.threeMonths }}</button>
        <button mat-menu-item (click)="selectCurrentYear()">2020 год</button>
        <!-- <button mat-menu-item>{{ t.select.allTime }}</button> -->
        <button mat-menu-item (click)="picker.open()">{{ t.select.period }}</button>
    </mat-menu>

    <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
</ng-container>
