<div fxLayout="row" fxLayoutGap="30px">
    <div fxLayoutGap="1">
        <button (click)="refreshValue()">Refresh data</button>
    </div>
    <dsh-card>
        <dsh-card-content>
            <dsh-bar-chart [data]="periodData"></dsh-bar-chart>
            <dsh-legend [items]="periodLegendData"></dsh-legend>
        </dsh-card-content>
    </dsh-card>
    <dsh-card>
        <dsh-card-content>
            <dsh-linear-chart [data]="preparedPeriodData"></dsh-linear-chart>
            <dsh-legend [items]="linearLegendData"></dsh-legend>
        </dsh-card-content>
    </dsh-card>
    <dsh-card>
        <dsh-card-content>
            <dsh-donut-chart [data]="segmentData"></dsh-donut-chart>
            <dsh-legend [items]="segmentLegendData"></dsh-legend>
        </dsh-card-content>
    </dsh-card>
</div>
