:host {
    display: grid;

    & > ::ng-deep .dsh-nested-table-row-item {
        border-right: 1px solid;

        &:last-child {
            border-right: none;
        }
    }
}

::ng-deep .dsh-nested-table-row-hidden {
    display: none;
}
