@import '~@angular/material/theming';

@mixin dsh-balance-item-typography($config) {
    .dsh-balance-item {
        font: {
            family: mat-font-family($config, subheading-2);
            size: mat-font-size($config, subheading-2);
            weight: mat-font-weight($config, subheading-2);
        }
    }
}
