<div class="dsh-widget-container">
    <div class="dsh-widget-info-container">
        <div class="dsh-payment-widget-icon-container">
            <mat-icon class="dsh-payment-widget-icon" svgIcon="bill"></mat-icon>
        </div>
        <div class="dsh-payment-widget-text-container">
            <div class="dsh-widget-title dsh-payment-widget-title">
                {{ title }}
            </div>
            <div class="dsh-widget-text dsh-payment-widget-text">
                {{ text }}
            </div>
        </div>
    </div>
    <div class="dsh-widget-action-container">
        <button class="dsh-widget-button dsh-payment-widget-action-button" dsh-button color="accent" routerLink="/">
            {{ actionButtonText }}
        </button>
        <button
            class="dsh-widget-button dsh-payment-widget-test-button"
            dsh-stroked-button
            color="accent"
            routerLink="/operations"
        >
            {{ testEnvironmentButtonText }}
        </button>
    </div>
</div>
