.dsh-payment-widget {
    &-icon {
        position: absolute;
        height: 138px;
        width: 138px;
        top: 20px;
        left: -20px;
    }

    @media only screen and (max-width: 640px) {
        &-icon {
            left: 20px;
        }
    }

    &-title,
    &-text {
        padding-left: 190px;
    }

    &-title + &-text {
        padding-top: 10px;
    }

    &-title {
        height: 36px;
        padding-top: 30px;
    }

    &-text {
        padding-right: 20px;
    }

    &-action-button {
        left: 30px;
        bottom: 20px;
    }

    &-test-button {
        right: 30px;
        bottom: 20px;
    }
}
