$dsh-wallet-widget-additional-text-padding: 10px;

.dsh-wallet-widget {
    &-icon {
        height: 138px;
        width: 138px;
    }

    &-text-container {
        display: flex;
        flex-direction: column;
    }

    &-icon-container {
        margin-right: -40px;
        padding-left: 30px;
    }

    @media only screen and (max-width: 640px) {
        &-icon-container {
            margin-right: 0;
        }
    }

    &-title,
    &-text {
        padding-left: $dsh-wallet-widget-additional-text-padding;
    }
}
