<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-between center" class="item">
    <div fxFlex="60">
        <ng-content></ng-content>
    </div>
    <div fxFlex="40">
        <dsh-status [color]="color">{{ status }}</dsh-status>
    </div>
    <div>
        <button dsh-icon-button (click)="clickHandler()" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
</div>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
    </button>
</mat-menu>
