<div fxLayout fxLayoutGap="10px" fxLayoutAlign="space-between center" class="item">
    <div fxFlex="60">
        {{ listItem.claimType }}
    </div>
    <dsh-status *transloco="let c; read: 'claimStatus'" fxFlex="40" [color]="listItem.statusViewInfo.color">{{
        c[listItem.statusViewInfo.status]
    }}</dsh-status>
    <button dsh-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</div>

<mat-menu #menu="matMenu">
    <button
        *transloco="let t; scope: 'actionbar'; read: 'actionbar.claims'"
        mat-menu-item
        [routerLink]="['/claim', claim.id, 'conversation']"
        (click)="menuItemSelected.emit()"
    >
        {{ t.details }}
    </button>
</mat-menu>
