<div fxLayout fxLayoutGap="10px" fxLayoutAlign="space-between center" class="item">
    <div *transloco="let claimType; read: 'claimType'" fxFlex="60">
        {{ claimType[type] }}
    </div>
    <dsh-status *transloco="let claimStatus; read: 'claimStatus'" fxFlex="40" [color]="statusColor">{{
        claimStatus[claim.status]
    }}</dsh-status>
    <button dsh-icon-button [matMenuTriggerFor]="menu">
        <mat-icon svgIcon="more_vert"></mat-icon>
    </button>
</div>

<mat-menu #menu="matMenu">
    <button
        *transloco="let t; scope: 'actionbar'; read: 'actionbar.claims'"
        mat-menu-item
        [routerLink]="['/claim', claim.id, 'conversation']"
        (click)="menuItemSelected.emit()"
    >
        {{ t.details }}
    </button>
</mat-menu>
