<div class="dsh-spacer" fxHide.lt-md></div>
<dsh-route-navbar-layout>
    <div fxLayout="row wrap" fxLayout.gt-sm="column" fxLayoutGap="24px grid">
        <dsh-navbar-item
            *ngFor="let item of navbarItemConfig$ | async"
            [routerLink]="item.routerLink"
            routerLinkActive
            #rla="routerLinkActive"
            [active]="rla.isActive"
            [icon]="item.icon"
            >{{ item.label }}</dsh-navbar-item
        >
    </div>
</dsh-route-navbar-layout>
