$dsh-nav-padding: 80px 0 0 0;
$dsh-section-container-padding: 120px 0 0 0;
$dsh-side-section-width: 168px;

.dsh-section-container {
    padding: $dsh-section-container-padding;
}

.dsh-side-section {
    padding: $dsh-nav-padding;
    width: $dsh-side-section-width;
}
