$height: 48px;
$icon-container-size: 24px;

:host,
.dsh-state-nav-item {
    outline: none;
}

.dsh-state-nav-item {
    height: $height;
    cursor: pointer;
}

.dsh-icon-container {
    height: $icon-container-size;
    width: $icon-container-size;
}

.dsh-state-nav-content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
