<div fxLayout fxLayoutGap="10px">
    <div class="circle" (click)="changeTheme()">
        <mat-icon class="icon">brightness_4</mat-icon>
    </div>
    <div class="circle" [dshDropdownTriggerFor]="claimsDropdown">
        <mat-icon class="icon">subject</mat-icon>
    </div>
    <div class="circle" [dshDropdownTriggerFor]="userDropdown">
        <mat-icon class="icon">person</mat-icon>
    </div>
</div>

<dsh-dropdown width="400px" #claimsDropdown="dshDropdown">
    <dsh-dropdown-content>
        Последние заявки
    </dsh-dropdown-content>
    <dsh-dropdown-actions>
        <dsh-state-nav flat>
            <dsh-state-nav-item>Документы</dsh-state-nav-item>
            <dsh-state-nav-item>Выход</dsh-state-nav-item>
        </dsh-state-nav>
    </dsh-dropdown-actions>
</dsh-dropdown>

<dsh-dropdown width="180px" #userDropdown="dshDropdown">
    <dsh-dropdown-actions>
        <dsh-state-nav flat>
            <dsh-state-nav-item>Документы</dsh-state-nav-item>
            <dsh-state-nav-item>Выход</dsh-state-nav-item>
        </dsh-state-nav>
    </dsh-dropdown-actions>
</dsh-dropdown>
