<div fxLayout fxLayoutGap="10px">
    <div class="circle" (click)="changeTheme()">
        <mat-icon class="icon">brightness_4</mat-icon>
    </div>
    <div class="circle" [dshDropdownTriggerFor]="claimsDropdown">
        <mat-icon class="icon">subject</mat-icon>
    </div>
    <div class="circle" [dshDropdownTriggerFor]="userDropdown">
        <mat-icon class="icon">person</mat-icon>
    </div>
</div>

<dsh-dropdown width="590px" #claimsDropdown="dshDropdown">
    <dsh-claims></dsh-claims>
</dsh-dropdown>

<dsh-dropdown width="180px" #userDropdown="dshDropdown">
    <dsh-user></dsh-user>
</dsh-dropdown>
