<ng-container *transloco="let t; scope: 'claim'; read: 'claim.revokeClaimDialog'">
    <dsh-base-dialog [title]="t('subheading')" (cancel)="cancel()">
        <form [formGroup]="form">
            <mat-form-field fxFlex>
                <mat-label>{{ t('reason') }}</mat-label>
                <mat-select formControlName="reason">
                    <mat-option *ngFor="let reason of reasons" [value]="reason">
                        {{ reason }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <div *ngIf="errorCode$ | async">
            <div *transloco="let errors; read: 'errors'" class="mat-caption">
                {{ errors(errorCode$ | async) }}
            </div>
        </div>
        <div dshBaseDialogActions fxLayout="row" fxLayoutAlign="end">
            <button
                dsh-button
                color="warn"
                (click)="revoke(form.value.reason)"
                [disabled]="!form.valid || (inProgress$ | async)"
            >
                {{ t('revoke') }}
            </button>
        </div>
    </dsh-base-dialog>
</ng-container>
