@mixin dsh-action-item-theme($theme) {
    $background: map-get($theme, background);
    $item-background: map-get($background, card);

    .dsh-action-item {
        background-color: $item-background;
        &:hover {
            background-color: lighten($item-background, 10%);
        }
    }
}
