<dsh-base-dialog *transloco="let t; read: 'filters'" [title]="t('additionalFilters')" (cancel)="close()">
    <div [formGroup]="formControl" fxLayout="column" fxLayoutGap="24px">
        <dsh-main-info-filters formControlName="mainInfo"></dsh-main-info-filters>
        <mat-divider></mat-divider>
        <dsh-withdrawal-status-filter formControlName="status"></dsh-withdrawal-status-filter>
        <mat-divider></mat-divider>
        <dsh-withdrawal-sum-filter formControlName="amount"></dsh-withdrawal-sum-filter>
    </div>
    <ng-container dshBaseDialogActions>
        <button dsh-stroked-button color="accent" (click)="clear()">
            {{ t('clearParams') }}
        </button>
        <button dsh-button color="accent" (click)="confirm()">
            {{ t('save') }}
        </button>
    </ng-container>
</dsh-base-dialog>
