@import "../../../styles/variables";

$dsh-header-row-height: 56px;
$dsh-row-height: 48px;
$dsh-row-horizontal-padding: 24px;
$dsh-table-background-color: $white;
$dsh-thead-background-color: $turquoise;
$dsh-border-color: #eff2f4;
$dsh-table-font-color: #636974;

.dsh {
  &-table {
    display: block;
    background-color: $dsh-table-background-color;
    border-radius: 5px;
    color: $dsh-table-font-color;
    padding: 5px;
    border-spacing: 0;

    thead,
    tbody {
      display: block;
    }

    thead {
      background-color: $dsh-thead-background-color;
      border-radius: 5px;
    }
  }

  &-header-row {
    min-height: $dsh-header-row-height;
  }

  &-row, &-footer-row {
    min-height: $dsh-row-height;
  }

  &-row, &-header-row, &-footer-row {
    display: flex;
    border-width: 0;
    border-bottom-width: 1px;
    border-style: solid;
    align-items: center;
    box-sizing: border-box;

    &::after {
      display: inline-block;
      min-height: inherit;
      content: '';
    }
  }

  &-cell:first-of-type, &-header-cell:first-of-type, &-footer-cell:first-of-type {
    padding-left: $dsh-row-horizontal-padding;

    [dir='rtl'] & {
      padding-left: 0;
      padding-right: $dsh-row-horizontal-padding;
    }
  }

  &-cell:last-of-type, &-header-cell:last-of-type, &-footer-cell:last-of-type {
    padding-right: $dsh-row-horizontal-padding;

    [dir='rtl'] & {
      padding-right: 0;
      padding-left: $dsh-row-horizontal-padding;
    }
  }

  &-cell, &-header-cell, &-footer-cell {
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
    padding: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: $dsh-border-color;
  }

  &-header-row {
    height: $dsh-header-row-height;
  }

  &-row, &-footer-row {
    height: $dsh-row-height;
  }

  &-header-cell {
    text-align: left;

    [dir='rtl'] & {
      text-align: right;
    }
  }
}
