<div *ngIf="!(isLoading$ | async)">
    <ng-container *ngIf="wallet$ | async as wallet; else noWallet">
        <div
            *ngIf="walletAccount$ | async as walletAccount"
            class="dsh-wallet-details"
            fxLayout="column"
            fxLayoutGap="20px"
        >
            <dsh-wallet-details-headline [walletID]="wallet.id"></dsh-wallet-details-headline>
            <dsh-details
                [walletName]="wallet.name"
                [createdAt]="wallet.createdAt"
                [available]="walletAccount.available"
            ></dsh-details>
            <dsh-account-info [account]="walletAccount"></dsh-account-info>
            <dsh-deposits></dsh-deposits>
            <dsh-withdrawals></dsh-withdrawals>
        </div>
    </ng-container>
    <ng-template #noWallet>
        <div></div>
    </ng-template>
</div>
<div *ngIf="!(error$ | async) && (isLoading$ | async)" fxLayout fxLayoutAlign="center"><dsh-spinner></dsh-spinner></div>
