$dsh-wallet-details-max-width: 660px;
$dsh-wallet-details-top-padding: 20px;

.dsh-wallet-details {
    margin: 0 auto;
    max-width: $dsh-wallet-details-max-width;
    padding-top: $dsh-wallet-details-top-padding;
}
