<ng-container *transloco="let t; read: 'filters'">
    <dsh-base-dialog [title]="t('additionalFilters')">
        <!--        TODO: add title close button -->
        <div>filters should be here</div>
        <div actions>
            <div fxLayout="row" fxLayoutAlign="space-between center">
                <button dsh-button (click)="clear()">
                    {{ t('clearParams') }}
                </button>
                <button dsh-button color="accent" (click)="confirm()">
                    {{ t('save') }}
                </button>
            </div>
        </div>
    </dsh-base-dialog>
</ng-container>
