<ng-container *transloco="let t; scope: 'organizations'; read: 'organizations'">
    <ng-container *ngIf="organization$ | async as organization">
        <dsh-spinner *ngIf="isLoading$ | async; else loaded" fxFlexAlign="center"></dsh-spinner>
        <ng-template #loaded>
            <div *ngIf="(members$ | async)?.length; else empty" fxLayout="column" fxLayoutGap="16px">
                <dsh-last-updated [lastUpdated]="lastUpdated$ | async" (update)="refresh()"></dsh-last-updated>
                <dsh-members-list [members]="members$ | async"></dsh-members-list>
            </div>
            <ng-template #empty>
                <dsh-empty-search-result></dsh-empty-search-result>
            </ng-template>
        </ng-template>
    </ng-container>
</ng-container>
<dsh-scroll-up></dsh-scroll-up>
