<ng-container *transloco="let t; scope: 'wallet-webhooks'; read: 'walletWebhooks'">
    <dsh-base-dialog [title]="t('createWebhook.title')" (cancel)="cancel()">
        <div dshBaseDialogActions fxLayout="row" fxLayoutAlign="space-between center" *transloco="let c">
            <button fxFlex="126px" dsh-stroked-button color="warn" (click)="cancel()">{{ c('cancel') }}</button>
            <button
                class="action-button"
                dsh-button
                color="accent"
                [disabled]="(isLoading$ | async) || !form.valid"
                (click)="save()"
            >
                {{ t('createWebhook.create') }}
            </button>
        </div>
    </dsh-base-dialog>
</ng-container>
