<div fxLayout="column" fxLayoutGap="8px">
    <div *ngFor="let control of formControl.controls; let idx = index" fxLayout fxLayoutGap="24px">
        <mat-form-field fxFlex>
            <mat-label>{{ label }}</mat-label>
            <input matInput [formControl]="control" type="text" autocomplete="off" />
        </mat-form-field>
        <i
            *ngIf="formControl.controls.length > 1 || formControl.controls[0].value"
            class="bi-x remove-icon action-icon"
            (click)="removeControl(idx)"
        ></i>
    </div>

    <i fxFlexAlign="end" class="bi-plus-lg action-icon" (click)="addControl()"></i>
</div>
