<div fxLayout="column">
    <div class="content">
        <ng-content></ng-content>
    </div>

    <mat-divider></mat-divider>

    <div
        *transloco="let t"
        class="actions"
        gdColumns="auto auto"
        gdAlignRows="space-between"
        gdAlignColumns="center center"
        gdGap="8px"
    >
        <button [fxHide]="noClearButton" dsh-stroked-button color="accent" (click)="clear.emit($event)">
            {{ t('clear') }}
        </button>
        <button [gdColumn]="noClearButton && '2/-1'" dsh-button color="accent" (click)="save.emit($event)">
            {{ t('save') }}
        </button>
    </div>
</div>
