<dsh-expand-panel #expandPanel>
    <div fxLayout="column" fxLayoutGap="10px">
        <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="10px">
            <div class="mat-body-1">
                {{ payout.createdAt | date }}
            </div>
            <div class="mat-body-2">{{ payout.amount | currency: payout.currency }}</div>
        </div>
        <div class="mat-caption" fxLayout fxLayoutAlign="space-between" fxLayoutGap="10px">
            <div>
                {{ payout.amount }}
            </div>
            <div>
                {{ payout.amount }}
            </div>
        </div>
    </div>
    <dsh-expand-panel-more>
        <div class="dsh-payout-panel-more" style="width: 100%" fxLayout="column" fxLayoutGap="20px">
            <div fxLayout fxLayoutGap="10px">
                <div
                    class="dsh-payout-panel-more-caption"
                    fxFlex
                    fxLayoutAlign="space-between center"
                    fxLayoutGap="10px"
                >
                    <div class="mat-caption">Выплата #{{ payout.id }}</div>
                    <div class="mat-caption">
                        {{ payout.createdAt | date }}
                    </div>
                </div>
                <div>
                    <button dsh-icon-button (click)="expandPanel.collapse($event)">
                        <mat-icon svgIcon="keyboard_arrow_up"></mat-icon>
                    </button>
                </div>
            </div>
            <div fxLayout fxLayoutAlign=" center" fxLayoutGap="10px">
                <div fxFlex>
                    <span class="mat-headline" style="margin: 0">{{ payout.amount | currency: payout.currency }}</span>
                </div>
                <div fxFlex>
                    <dsh-details-item [title]="'Количество операций'">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
                <div fxFlex></div>
            </div>

            <mat-divider></mat-divider>

            <div class="mat-title">Платежи</div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex>
                    <dsh-details-item [title]="'Количество операций'">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
                <div fxFlex>
                    <dsh-details-item [title]="'Количество операций'">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
                <div fxFlex>
                    <dsh-details-item [title]="'Количество операций'">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex>
                    <dsh-details-item [title]="'Количество операций'">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
                <div fxFlex>
                    <dsh-details-item [title]="'Количество операций'">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
                <div fxFlex>
                    <dsh-details-item [title]="'Количество операций'">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
            </div>

            <mat-divider></mat-divider>

            <div class="mat-title">Действия</div>
            <div>
                <button dsh-stroked-button color="accent">Сформировать реестр операций</button>
            </div>
        </div>
    </dsh-expand-panel-more>
</dsh-expand-panel>
