<dsh-expand-panel #expandPanel *transloco="let p; scope: 'payouts'; read: 'payouts.panel'">
    <div fxLayout="column" fxLayoutGap="20px">
        <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="10px">
            <div class="mat-body-1">
                {{ payout.createdAt | date: 'd MMMM y' }}
            </div>
            <div class="mat-body-2">{{ payout.amount | currency: payout.currency }}</div>
        </div>
        <div class="mat-caption" fxLayout fxLayoutAlign="space-between" fxLayoutGap="10px">
            <div>
                {{ payout.amount }}
            </div>
            <div>
                {{ payout.amount }}
            </div>
        </div>
    </div>
    <dsh-expand-panel-more>
        <div class="dsh-payout-panel-more" style="width: 100%" fxLayout="column" fxLayoutGap="20px">
            <div fxLayout fxLayoutGap="10px">
                <div
                    class="dsh-payout-panel-more-caption"
                    fxFlex
                    fxLayoutAlign="space-between center"
                    fxLayoutGap="10px"
                >
                    <div class="mat-caption">{{ p.payoutNum | translocoParams: { num: payout.id } }}</div>
                    <div class="mat-caption">
                        {{ payout.createdAt | date: 'd MMMM y, HH:mm:ss' }}
                    </div>
                </div>
                <div>
                    <button dsh-icon-button (click)="expandPanel.collapse($event)">
                        <mat-icon svgIcon="keyboard_arrow_up"></mat-icon>
                    </button>
                </div>
            </div>
            <div fxLayout fxLayoutAlign=" center" fxLayoutGap="10px">
                <div fxFlex>
                    <span class="mat-headline" style="margin: 0">{{ payout.amount | currency: payout.currency }}</span>
                </div>
                <div fxFlex>
                    <dsh-details-item [title]="p.shop">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
                <div fxFlex></div>
            </div>

            <mat-divider></mat-divider>

            <div class="mat-title">{{ p.payments }}</div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex>
                    <dsh-details-item [title]="p.count">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
                <div fxFlex>
                    <dsh-details-item [title]="p.amount">
                        {{ payout.amount }}
                    </dsh-details-item>
                </div>
                <div fxFlex>
                    <dsh-details-item [title]="p.fee">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex>
                    <dsh-details-item [title]="p.firstConfirmationTime">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
                <div fxFlex>
                    <dsh-details-item [title]="p.lastConfirmationTime">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
                <div fxFlex></div>
            </div>

            <mat-divider></mat-divider>

            <div class="mat-title">{{ p.payouts }}</div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex>
                    <dsh-details-item [title]="p.count">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
                <div fxFlex>
                    <dsh-details-item [title]="p.amount">
                        {{ payout.amount }}
                    </dsh-details-item>
                </div>
                <div fxFlex>
                    <dsh-details-item [title]="p.fee">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
            </div>
            <div fxLayout fxLayoutGap="10px">
                <div fxFlex>
                    <dsh-details-item [title]="p.firstConfirmationTime">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
                <div fxFlex>
                    <dsh-details-item [title]="p.lastConfirmationTime">
                        {{ payout.currency }}
                    </dsh-details-item>
                </div>
                <div fxFlex></div>
            </div>

            <mat-divider></mat-divider>

            <div class="mat-title">{{ p.bankAccount }}</div>
            <dsh-details-item [title]="p.bank">
                {{ payout.currency }}
            </dsh-details-item>
            <dsh-details-item [title]="p.bankDetails">
                {{ payout.currency }}
            </dsh-details-item>

            <mat-divider></mat-divider>

            <div class="mat-title">{{ p.actions }}</div>
            <div>
                <button dsh-stroked-button color="accent" (click)="create()">{{ p.createReport }}</button>
            </div>
        </div>
    </dsh-expand-panel-more>
</dsh-expand-panel>
