<div
    *transloco="
        let t;
        scope: 'claim-modification-containers';
        read: 'claimModificationContainers.subContainers.additionalInfo'
    "
    fxLayout="column"
    fxLayoutGap="10px"
>
    <div class="mat-body-2">{{ t.financialAndEconomicActivityTitle }}</div>
    <dsh-details-item *ngIf="additionalInfo?.staffCount" [title]="t.staffCount">
        {{ additionalInfo?.staffCount }}
    </dsh-details-item>
    <div fxLayout="row" *ngIf="accountantInfo?.accountantInfoType !== 'WithChiefAccountant'">
        <dsh-details-item fxFlex="50" *ngIf="accountantInfo?.accountantInfoType" [title]="t.accountantTypeLabel">
            {{ t.accountantTypes[(accountantInfo?.accountantInfoType)] }}
        </dsh-details-item>
        <dsh-details-item fxFlex="50" *ngIf="accountantInfo?.inn" [title]="t.accountantOrgInn">
            {{ accountantInfo?.inn }}
        </dsh-details-item>
    </div>
    <div fxLayout="row">
        <dsh-details-item fxFlex="50" *ngIf="additionalInfo?.hasBeneficiary" [title]="t.hasBeneficiary">
            {{ t.trueFlag }}
        </dsh-details-item>
        <dsh-details-item fxFlex="50" *ngIf="additionalInfo?.hasLiquidationProcess" [title]="t.hasLiquidationProcess">
            {{ t.trueFlag }}
        </dsh-details-item>
    </div>
    <mat-divider></mat-divider>
    <div class="mat-body-2">{{ t.planingOperationsTitle }}</div>
    <div fxLayout="row">
        <dsh-details-item fxFlex="50" *ngIf="additionalInfo?.monthOperationCount" [title]="t.monthOperationCountLabel">
            {{ t.monthOperationCountTypes[additionalInfo.monthOperationCount] }}
        </dsh-details-item>
        <dsh-details-item fxFlex="50" *ngIf="additionalInfo?.monthOperationSum" [title]="t.monthOperationSumLabel">
            {{ t.monthOperationSumTypes[additionalInfo.monthOperationSum] }}
        </dsh-details-item>
    </div>
</div>
