<h1 class="mat-headline">Заявка на подключение</h1>
<div fxLayout="column" fxLayoutGap="20px">
    <dsh-float-panel>
        Базовый фильтр
        <dsh-float-panel-actions>
            <button dsh-button>
                Сбросить параметры поиска
            </button>
        </dsh-float-panel-actions>
        <dsh-float-panel-more>
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
        </dsh-float-panel-more>
    </dsh-float-panel>
    <dsh-card>
        <dsh-card-content>
            Последнее обновление: Только что
        </dsh-card-content>
    </dsh-card>
</div>
