<div fxLayout="column" fxLayoutGap="20px">
    <h1 class="mat-headline">{{ 'OPERATIONS' | lc }}</h1>
    <dsh-tab-group>
        <dsh-tab label="{{ 'PAYMENTS' | lc }}">
            <div fxLayout="column" fxLayoutGap="20px">
                <dsh-float-panel fxFlexOffset="20px">
                    <dsh-justify-wrapper>
                        <dsh-button-toggle-group fxFlex="324px">
                            <dsh-button-toggle value="today">
                                {{ 'TODAY' | lc }}
                            </dsh-button-toggle>
                            <dsh-button-toggle value="week">
                                {{ 'WEEK' | lc }}
                            </dsh-button-toggle>
                            <dsh-button-toggle value="month">
                                {{ 'MONTH' | lc }}
                            </dsh-button-toggle>
                            <dsh-button-toggle value="more">
                                <mat-icon>more_horiz</mat-icon>
                            </dsh-button-toggle>
                        </dsh-button-toggle-group>
                        <mat-form-field>
                            <mat-label>{{ 'PAYMENT_STATUS' | lc }}</mat-label>
                            <input matInput />
                        </mat-form-field>
                    </dsh-justify-wrapper>
                    <dsh-float-panel-actions>
                        <button dsh-button>
                            {{ 'RESET_SEARCH_PARAMS' | lc }}
                        </button>
                    </dsh-float-panel-actions>
                    <dsh-float-panel-more>
                        <div style="height: 250px">
                            text
                        </div>
                    </dsh-float-panel-more>
                </dsh-float-panel>
                <dsh-card>
                    <dsh-card-content style="height: 500px"></dsh-card-content>
                </dsh-card>
            </div>
        </dsh-tab>
        <dsh-tab label="{{ 'REFUNDS' | lc }}">{{ 'REFUNDS' | lc }}</dsh-tab>
        <dsh-tab label="{{ 'INVOICES' | lc }}" disabled>{{ 'INVOICES' | lc }}</dsh-tab>
    </dsh-tab-group>
</div>
