<h1 class="mat-headline">{{'REQUEST_FOR_CONNECTION' | lc}}</h1>
<div fxLayout="column" fxLayoutGap="20px">
    <dsh-float-panel>
        <mat-form-field style="margin: -3.5px 0 -22.313px 0">
            <mat-label>Form field</mat-label>
            <input matInput placeholder="Favorite food" />
        </mat-form-field>
        <dsh-float-panel-actions>
            <button dsh-button>
                {{'RESET_SEARCH_PARAMS' | lc}}
            </button>
        </dsh-float-panel-actions>
        <dsh-float-panel-more>
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
            Остальной фильтр<br />
        </dsh-float-panel-more>
    </dsh-float-panel>
    <dsh-card>
        <dsh-card-content>
            <dsh-payments></dsh-payments>
        </dsh-card-content>
    </dsh-card>
</div>
