<dsh-expand-panel-accordion
    fxLayout="column"
    fxLayoutGap="20px"
    (expandedChange)="select($event)"
    [expanded]="selectedIdx$ | async"
    *transloco="let p; scope: 'payouts'; read: 'payouts.panel'"
>
    <dsh-expand-panel *ngFor="let payout of payouts$ | async">
        <div fxLayout="column" fxLayoutGap="20px">
            <div fxLayout fxLayoutAlign="space-between" fxLayoutGap="10px">
                <div class="mat-body-1">
                    {{ payout?.createdAt | date: 'd MMMM y' }}
                </div>
                <div class="mat-body-2">{{ payout?.amount | toMajor | currency: payout?.currency }}</div>
            </div>
            <div class="mat-caption" fxLayout fxLayoutAlign="space-between" fxLayoutGap="10px">
                <div>
                    {{ (getShopInfo(payout.shopID) | async)?.name }}
                </div>
                <div *transloco="let t; scope: 'payouts'; read: 'payouts.payoutToolType'">
                    {{ t[payout?.payoutToolDetails?.detailsType] || payout?.payoutToolDetails?.detailsType }}
                </div>
            </div>
        </div>
        <dsh-expand-panel-more>
            <dsh-expand-panel-more-header>
                <div fxFlex fxLayoutAlign="space-between center" fxLayoutGap="10px">
                    <div class="mat-caption">{{ p.payoutNum | translocoParams: { num: payout.id } }}</div>
                    <div class="mat-caption">
                        {{ payout?.createdAt | date: 'd MMMM y, HH:mm:ss' }}
                    </div>
                </div>
            </dsh-expand-panel-more-header>

            <dsh-common-info
                [payout]="payout"
                [shopName]="(getShopInfo(payout.shopID) | async)?.name"
            ></dsh-common-info>
            <mat-divider></mat-divider>

            <dsh-payments-info [paymentsSummary]="getPaymentSummary(payout)"></dsh-payments-info>
            <mat-divider></mat-divider>

            <ng-container *ngIf="getRefundSummary(payout)">
                <dsh-refunds-info [refundsSummary]="getRefundSummary(payout)"></dsh-refunds-info>
                <mat-divider></mat-divider>
            </ng-container>

            <dsh-payout-tool-info [payoutToolDetails]="payout?.payoutToolDetails"></dsh-payout-tool-info>
            <mat-divider></mat-divider>

            <div class="mat-title">{{ p.actions }}</div>
            <div>
                <button dsh-stroked-button color="accent" (click)="createReport(payout)">{{ p.createReport }}</button>
            </div>
        </dsh-expand-panel-more>
    </dsh-expand-panel>
</dsh-expand-panel-accordion>
