<div
    *transloco="let t; scope: 'api-model-details'; read: 'apiModelDetails.payoutTool'"
    fxLayout="column"
    fxLayoutGap="24px"
>
    <dsh-details-item [title]="t.currency">
        {{ payoutTool?.currency }}
    </dsh-details-item>
    <dsh-bank-account-details
        *ngIf="payoutTool?.details?.detailsType === 'PayoutToolDetailsBankAccount'"
        [bankAccount]="payoutTool?.details"
    ></dsh-bank-account-details>
    <dsh-international-bank-account
        *ngIf="payoutTool?.details?.detailsType === 'PayoutToolDetailsInternationalBankAccount'"
        [internationalBankAccount]="payoutTool?.details"
    ></dsh-international-bank-account>
</div>
