<div class="dsh-webhook-panel-key-section" *transloco="let t; scope: 'webhook'; read: 'webhook.key'">
    <div class="mat-title">{{ t.title }}</div>
    <div fxLayout="column" fxLayoutGap="24px">
        <div class="mat-caption">
            {{ t.publicKey }}
        </div>
        <div class="mat-body-1 wrap-key">
            {{ key }}
        </div>
        <div>
            <button dsh-button [cdkCopyToClipboard]="key" (cdkCopyToClipboardCopied)="copied($event)">
                {{ t.buttons.copy }}
            </button>
        </div>
    </div>
</div>
