<ng-container *transloco="let t; scope: 'operations'; read: 'operations.payments.filter'">
    <dsh-filter
        [active]="isActive"
        [label]="t('binPan')"
        [activeLabel]="t('binPan') + ' · ' + (savedValue$ | async | cardBinPanLabel)"
        [content]="content"
        (save)="save()"
        (clear)="clear()"
    >
    </dsh-filter>
    <ng-template #content>
        <form [formGroup]="formControl" fxLayout="column">
            <mat-form-field>
                <mat-label>{{ t('first6') }}</mat-label>
                <dsh-format-input format="bin" formControlName="bin"></dsh-format-input>
            </mat-form-field>
            <mat-form-field>
                <mat-label>{{ t('last4') }}</mat-label>
                <dsh-format-input format="lastDigits" formControlName="pan"></dsh-format-input>
            </mat-form-field>
        </form>
    </ng-template>
</ng-container>
